  {% load static %}

  <h1>Personal Link Database [{{app_name}}]</h1>
  <p>This is a Personal Link Database.
Read more on project page <a href="https://github.com/rumca-js/Django-link-archive">https://github.com/rumca-js/Django-link-archive</a>
  </p>

  It can be a personal
  <ul>
      <li>Link aggregator</li>
      <li>RSS client</li>
      <li>YouTube filter</li>
      <li>Reddit</li>
  </ul>

  Notes:
  <ul>
  <li>I have not verified links agains malware, or viruses</li>
  <li>Internet is dangerous</li>
  <li>You can live in woods if you like</li>
  </ul>

  <div>
  </div>
