  {% load static %}

  {% if config.instance_title %}
  <h1>{{config.instance_title}} [{{app_name}}]</h1>
  {% else %}
  <h1>Personal Link Database [{{app_name}}]</h1>
  {% endif %}

  {% if config.instance_description %}
  <p>{{config.instance_description}}
  </p>
  {% else %}
  <p>This is a Personal Link Database.</p>
  {% endif %}

  {% if not is_user_allowed %}
  <p class="font-weight-bold">
  You do not have permissions to access this site. Contact administrator.
  </p>
  {% endif %}

  {% if public_exports %}
  <div>
    You can access exported data in the following locations:
    <ul>
  {% for public_export in public_exports %}
     <li><a href="{{public_export}}">{{public_export}}</a></li>
  {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if is_user_allowed %}
  <div>
    Notes:
    <ul>
    <li>I have not verified links agains malware, or viruses</li>
    <li>Internet is dangerous</li>
    <li>You can live in woods if you like</li>
    </ul>
  </div>
  {% endif %}

  <a href="https://github.com/rumca-js/Django-link-archive">https://github.com/rumca-js/Django-link-archive</a></p>

  <!-- 
  _______   ______     ______     _______  __       _______     __       _______.    ___________    ____  __   __      
 /  _____| /  __  \   /  __  \   /  _____||  |     |   ____|   |  |     /       |   |   ____\   \  /   / |  | |  |     
|  |  __  |  |  |  | |  |  |  | |  |  __  |  |     |  |__      |  |    |   (----`   |  |__   \   \/   /  |  | |  |     
|  | |_ | |  |  |  | |  |  |  | |  | |_ | |  |     |   __|     |  |     \   \       |   __|   \      /   |  | |  |     
|  |__| | |  `--'  | |  `--'  | |  |__| | |  `----.|  |____    |  | .----)   |      |  |____   \    /    |  | |  `----.
 \______|  \______/   \______/   \______| |_______||_______|   |__| |_______/       |_______|   \__/     |__| |_______|
                                                                                                                       
    -->

  <div>
  </div>
