  {% load static %}

  <h1>Personal Link Database [{{app_name}}]</h1>
  <p>This is a Personal Link Database.
Read more on project page <a href="https://github.com/rumca-js/Django-link-archive">https://github.com/rumca-js/Django-link-archive</a>
  </p>

  It can be a personal
  <ul>
      <li>Link aggregator</li>
      <li>RSS client</li>
      <li>YouTube filter</li>
      <li>Reddit</li>
  </ul>

  <div>
  </div>

  <h2>WorkSpaces</h2>
  <ul>
      <li><a href="https://renegat0x0.ddns.net/apps/rsshistory/" class="simplebutton">News</a></li>
      <li><a href="https://renegat0x0.ddns.net/apps/catalog/" class="simplebutton">Music</a></li>
      <li><a href="https://renegat0x0.ddns.net/apps/various/" class="simplebutton">Various</a></li>
  </ul>

  <h2>Suite of projects</h2>
  <ul>
      <li>Captured using Django application: <a href="https://github.com/rumca-js/Django-link-archive">https://github.com/rumca-js/Django-link-archive</a></li>
      <li>Bookmarked links <a href="https://github.com/rumca-js/RSS-Link-Database">https://github.com/rumca-js/RSS-Link-Database</a></li>
      <li>daily RSS Git repository for the year 2023 <a href="https://github.com/rumca-js/RSS-Link-Database-2023">https://github.com/rumca-js/RSS-Link-Database-2023</a></li>
      <li>daily RSS Git repository for the year 2022 <a href="https://github.com/rumca-js/RSS-Link-Database-2022">https://github.com/rumca-js/RSS-Link-Database-2022</a></li>
      <li>daily RSS Git repository for the year 2021 <a href="https://github.com/rumca-js/RSS-Link-Database-2021">https://github.com/rumca-js/RSS-Link-Database-2021</a></li>
      <li>daily RSS Git repository for the year 2020 <a href="https://github.com/rumca-js/RSS-Link-Database-2020">https://github.com/rumca-js/RSS-Link-Database-2020</a></li>
  </ul>

