{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container-fluid">
</div>

{% if user.is_staff %}
    <div>
        <h1>Managment links</h1>
        <a href="{% url 'rsshistory:system-status' %}" title="Displays status" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-heart-monitor-100.png' %}" class="content-icon" />
            Status</a>
        <a href="{% url 'rsshistory:configuration' %}" title="Instance configuration" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-configuration-67.png' %}" class="content-icon" />
            Configuration</a>
        <a href="{% url 'rsshistory:backgroundjobs' %}" title="View background jobs" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-schedule-100.png' %}" class="content-icon" />
            Background Jobs</a>
        <a href="{% url 'rsshistory:logs' %}" title="View all logs" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-paper-64.png' %}" class="content-icon" />
            Logs</a>
        <a href="{% url 'admin:index' %}" title="User administration" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/account.png' %}" class="content-icon" />
            User admin</a>
    </div>

    <h1>Tools</h1>
    <div>
        <a href="{% url 'rsshistory:page-show-props' %}" title="Shows page properties" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-view-details-100.png' %}" class="content-icon" />
            Properties</a>
        <a href="{% url 'rsshistory:cleanup-link' %}" title="Shows cleanedup link" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-view-details-100.png' %}" class="content-icon" />
            Cleanup Link</a>
        <a href="{% url 'rsshistory:page-scan-link' %}" title="Scans page" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-radar-64.png' %}" class="content-icon" />
            Scan page</a>
        <a href="{% url 'rsshistory:page-scan-contents' %}" title="Scans page contents" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-radar-64.png' %}" class="content-icon" />
            Scan contents</a>
    </div>

    <div>
        <h1>Import / export</h1>
        <a href="{% url 'rsshistory:data-exports' %}" title="Configured Data Exports" class="btn btn-secondary" role="button">
            <img src="{% static 'rsshistory/icons/icons8-database-export-100.png' %}" class="content-icon" />
            Data Exports</a>
        <a href="{% url 'rsshistory:import-from-instance' %}" title="Import from another link archive instance" class="btn btn-secondary" role="button">Import from instance</a>
        <a href="{% url 'rsshistory:import-from-files' %}" title="Import from a directory" class="btn btn-secondary" role="button">Import from a directory</a>
        <a href="{% url 'rsshistory:write-bookmarks' %}" class="btn btn-secondary" role="button">Write bookmarks</a>
        <a href="{% url 'rsshistory:write-daily-data-form' %}" class="btn btn-secondary" role="button">Write daily data</a>
        <a href="{% url 'rsshistory:write-tag-form' %}" class="btn btn-secondary" role="button">Write topic data</a>
        <a href="{% url 'rsshistory:push-daily-data-form' %}" class="btn btn-secondary" role="button">Push daily data to repo</a>
    </div>

    <div>
        <h1>Advanced</h1>
	    <a href="{% url 'rsshistory:domains-remove-all' %}" title="Removes all domains" class="btn btn-secondary" role="button">Remove all domains</a>
        <a href="{% url 'rsshistory:keywords-remove-all' %}" title="Removes all keywords" class="btn btn-secondary" role="button">Remove all keywords</a>
        <a href="{% url 'rsshistory:sources-remove-all' %}" title="Removes all sources" class="btn btn-secondary" role="button">Remove all sources</a>
        <a href="{% url 'rsshistory:entries-remove-all' %}" title="Remove nonbookmarked entries" class="btn btn-secondary" role="button">Remove all entries</a>
        <a href="{% url 'rsshistory:entries-archive-remove-all' %}" title="Remove archived entries" class="btn btn-secondary" role="button">Remove all archived entries</a>
        <a href="{% url 'rsshistory:entries-remove-nonbookmarked' %}" title="Remove nonbookmarked entries" class="btn btn-secondary" role="button">Remove non bookmarked entries</a>
        <a href="{% url 'rsshistory:data-errors' %}" class="btn btn-secondary" role="button">Show data errors</a>
    </div>

    <div>
        <h1>Debug</h1>
        <a href="{% url 'rsshistory:tags-entry-show' '664761' %}" class="btn btn-secondary" role="button">Show entry tags</a>
        <a href="{% url 'rsshistory:test-page' %}" class="btn btn-secondary" role="button">Test page</a>
        <a href="{% url 'rsshistory:test-form-page' %}" class="btn btn-secondary" role="button">Test form page</a>
    </div>
{% endif %}

{% endblock %}
