{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
</div>

{% if user.is_staff %}
<div class="d-flex flex-wrap align-self-stretch">
   <div class="m-2" style="flex-grow:1">
    <h2>Managment links</h2>

       <ul class="list-group mr-auto">
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:system-status' %}" title="Displays status" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-heart-monitor-100.png' %}" class="content-icon" />
                 Status</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:configuration' %}" title="Instance configuration" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-configuration-67.png' %}" class="content-icon" />
                 Configuration</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:backgroundjobs' %}" title="View background jobs" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-schedule-100.png' %}" class="content-icon" />
                 Background Jobs</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:logs' %}" title="View all logs" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-paper-64.png' %}" class="content-icon" />
                 Logs</a>
	  <li class="list-group-item">
             <a href="{% url 'admin:index' %}" title="User administration" class="nav-link">
                 <img src="{% static 'rsshistory/icons/account.png' %}" class="content-icon" />
                 User admin</a>
	  </li>
       </ul>
   </div>

   <div class="m-2" style="flex-grow:1">
   <h2>Tools</h2>

       <ul class="list-group mr-auto">
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:page-show-props' %}" title="Shows page properties" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-view-details-100.png' %}" class="content-icon" />
                 Properties</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:cleanup-link' %}" title="Shows cleanedup link" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-view-details-100.png' %}" class="content-icon" />
                 Cleanup Link</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:page-scan-link' %}" title="Scans page" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-radar-64.png' %}" class="content-icon" />
                 Scan page</a>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:page-scan-contents' %}" title="Scans page contents" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-radar-64.png' %}" class="content-icon" />
                 Scan contents</a>
	  </li>
       </ul>
   </div>

   <div class="m-2" style="flex-grow:1">
   <h2>Import/Export</h2>
       <ul class="list-group mr-auto">
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:data-exports' %}" title="Configured Data Exports" class="nav-link">
                 <img src="{% static 'rsshistory/icons/icons8-database-export-100.png' %}" class="content-icon" />
                 Data Exports</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:import-from-instance' %}" title="Import from another link archive instance" class="nav-link">Import from instance</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:import-from-files' %}" title="Import from a directory" class="nav-link">Import from a directory</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:write-bookmarks' %}" class="nav-link">Write bookmarks</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:write-daily-data-form' %}" class="nav-link">Write daily data</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:write-tag-form' %}" class="nav-link">Write topic data</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:push-daily-data-form' %}" class="nav-link">Push daily data to repo</a>
	  </li>
       </ul>
   </div>

   <div class="m-2" style="flex-grow:1">
   <h2>Advanced</h2>

       <ul class="list-group mr-auto">
	  <li class="list-group-item">
	     <a href="{% url 'rsshistory:domains-remove-all' %}" title="Removes all domains" class="nav-link">Remove all domains</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:keywords-remove-all' %}" title="Removes all keywords" class="nav-link">Remove all keywords</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:sources-remove-all' %}" title="Removes all sources" class="nav-link">Remove all sources</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:entries-remove-all' %}" title="Remove nonbookmarked entries" class="nav-link">Remove all entries</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:entries-archive-remove-all' %}" title="Remove archived entries" class="nav-link">Remove all archived entries</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:entries-remove-nonbookmarked' %}" title="Remove nonbookmarked entries" class="nav-link">Remove non bookmarked entries</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:data-errors' %}" class="nav-link">Show data errors</a>
	  </li>
       </ul>
   </div>

   <div class="m-2" style="flex-grow:1">
    <h2>Debug</h2>

       <ul class="list-group mr-auto">
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:tags-entry-show' '664761' %}" class="nav-link">Show entry tags</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:test-page' %}" class="nav-link">Test page</a>
	  </li>
	  <li class="list-group-item">
             <a href="{% url 'rsshistory:test-form-page' %}" class="nav-link">Test form page</a>
	  </li>
       </ul>
   </div>
</div>
{% endif %}

{% endblock %}
