{% extends base_generic %}

{% block content %}

    <div>
        <h1>Managment links</h1>
        <a href="{% url 'rsshistory:system-status' %}" title="Displays status" class="simplebutton">Status</a>
        <a href="{% url 'rsshistory:configuration' %}" title="Instance configuration" class="simplebutton">Configuration</a>
        <a href="{% url 'rsshistory:show-youtube-link-props' %}" title="Shows YouTube properties" class="simplebutton">Show YouTube video properties</a>
    </div>

    <div>
        <h1>Import / export</h1>
        <a href="{% url 'rsshistory:import-from-instance' %}" title="Import from another link archive instance" class="simplebutton">Import from instance</a>
        <a href="{% url 'rsshistory:write-bookmarks' %}" class="simplebutton">Write bookmarks</a>
        <a href="{% url 'rsshistory:write-daily-data-form' %}" class="simplebutton">Write daily data</a>
        <a href="{% url 'rsshistory:write-tag-form' %}" class="simplebutton">Write topic data</a>
        <a href="{% url 'rsshistory:import-sources' %}" class="simplebutton">Import sources</a>
        <a href="{% url 'rsshistory:import-bookmarks' %}" class="simplebutton">Import bookmarks</a>
        <a href="{% url 'rsshistory:import-daily-data' %}" class="simplebutton">Import daily data</a>
        <a href="{% url 'rsshistory:import-reading-list' %}" class="simplebutton">Import reading list</a>
        <a href="{% url 'rsshistory:push-daily-data-form' %}" class="simplebutton">Push daily data to repo</a>
    </div>

    <div>
        <h1>Advanced</h1>
        <a href="{% url 'rsshistory:domains' %}" class="simplebutton" title="Known domains">Known domains</a>
        <a href="{% url 'rsshistory:entries-archived-init' %}" class="simplebutton" title="Search archived entries">Search archived entries</a>
        <a href="{% url 'rsshistory:entries-omni-search-init' %}" class="simplebutton">Omni search</a>
        <a href="{% url 'rsshistory:data-errors' %}" class="simplebutton">Show data errors</a>
    </div>

    <div>
        <h1>Debug</h1>
        <a href="{% url 'rsshistory:tags-entry-show' '664761' %}" class="simplebutton">Show entry tags</a>
        <a href="{% url 'rsshistory:test-page' %}" class="simplebutton">Test page</a>
        <a href="{% url 'rsshistory:test-form-page' %}" class="simplebutton">Test form page</a>
    </div>

{% endblock %}
