{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'rsshistory:api-key-add' %}" title="Add new api key" class="btn btn-primary" role="button">
        <img src="{% static 'rsshistory/icons/icons8-plus-100.png' %}" class="content-icon" />
    </a>
</div>

<h1>API keys</h1>
  {% if content_list %}
     <div class="list-group">
         {% for apikey_object in content_list %}
         <div class="list-group-item">
             <div>
                 <div>{{apikey_object.key}}</div>

                 {% with user=apikey_object.user %}
                 <div>{{user.id}}</div>
                 <div>{{user.username}}</div>
                 {% endwith %}

                 <a href="{% url 'rsshistory:api-key-remove' apikey_object.id %}" title="Remove api key" class="btn btn-secondary btn-sm" role="button">
                     <img src="{% static 'rsshistory/icons/icons8-trash-multiple-100.png' %}" class="content-icon" />
                 </a>
             </div>
         </div>
         {% endfor %}
  {% else %}
    No keys yet
  {% endif %}

{% endblock %} 
