{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:truncate-log' %}" title="Removes infos" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
         infos</a>
    <a href="{% url 'rsshistory:truncate-log-errors' %}" title="Removes errors" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
         errors</a>
    <a href="{% url 'rsshistory:truncate-log-all' %}" title="Removes all logs" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-trash-multiple-100.png' %}" class="content-icon" />
    </a>
    {% endif %}
</div>

<h1>AppLogging info list</h1>

{% if content_list %}
<div class="container">
    {% for info in content_list %}
    <div 
     {% if info.is_info %}
	 class="bg-primary"
     {% elif info.is_warning %}
	 class="bg-warning"
     {% elif info.is_error %}
         class="bg-danger"
     {% endif %}
	    style="display:flex; flex-wrap: wrap;">
       <div>Date: {{info.date}}</div>
       <div>Level: {{info.level}}</div>
    </div>
    <div style="margin-bottom: 2%"><pre>{{info.info_text | safe}}</pre></div>
    {% endfor %}
</div>
{% else %}
   No logs
{% endif %}

{% endblock %}
