{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:backgroundjob-add' %}" title="Add a new job" class="btn btn-primary" role="button" title="Add background job">
       {% include "rsshistory/icon_add.html" %}
    </a>
    <a href="{% url 'rsshistory:backgroundjobs-check-new' %}" title="Checks if it is time for a new job" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_update.html" %}
    </a>
    <a href="{% url 'rsshistory:backgroundjobs-enable-all' %}" title="Enables all background jobs" class="btn btn-primary" role="button" title="Enable all">
       {% include "rsshistory/icon_enable.html" %}
    </a>
    <a href="{% url 'rsshistory:backgroundjobs-disable-all' %}" title="Disable all background jobs" class="btn btn-primary" role="button" title="Disable all">
       {% include "rsshistory/icon_disable.html" %}
    </a>
    <a href="{% url 'rsshistory:backgroundjobs-remove-all' %}" title="Removes all background jobs" class="btn btn-primary" role="button" title="Remove all">
        <img src="{% static 'rsshistory/icons/icons8-trash-multiple-100.png' %}" class="content-icon" />
    </a>
    {% endif %}
</div>

<div id="bodyBlock">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
</div>

<script>
    function loadBodyContent(attempt = 1) {
        $.ajax({
            url: '{% url 'rsshistory:get-backgroundjobs' %}',
            type: 'GET',
	    timeout: 15000,
            success: function(data) {
                $('#bodyBlock').html(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 2) {
                    loadBodyContent(attempt + 1);
                    $('#bodyBlock').html("Error loading dynamic content, retry")
                } else {
                    $('#bodyBlock').html("Error loading dynamic content")
                }
            }
        });
    }

    $(document).ready(function() {
        loadBodyContent();

        setInterval(function() {
        loadBodyContent();
        }, 300000);  // 5 minutes in milliseconds
    });

    document.addEventListener('visibilitychange', function() {
        if (!document.hidden) {
        loadBodyContent();
        }
    });
</script>
{% endblock %}
