{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">
        <img src="{% static 'rsshistory/icons/icons8-back-100.png' %}" class="content-icon" />
    </a>

    {% if user.is_staff %}
    <a href="{% url 'rsshistory:backgroundjob-add' %}" title="Add a new job" class="simplebutton" title="Add background job">
       <img src="{% static 'rsshistory/icons/icons8-plus-100.png' %}" class="content-icon" />
    </a>
    <a href="{% url 'rsshistory:backgroundjobs-check-new' %}" title="Checks if it is time for a new job" class="simplebutton">
       <img src="{% static 'rsshistory/icons/icons8-update-100.png' %}" class="content-icon" />
    </a>
    <a href="{% url 'rsshistory:backgroundjobs-perform-all' %}" title="Process all" class="simplebutton">Process all</a>
    <a href="{% url 'rsshistory:backgroundjobs-remove-all' %}" title="Removes all background jobs" class="simplebutton" title="Remove all">
        <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
        All
    </a>
    {% endif %}
</div>

 <h1>Jobs [{{BackgroundJob}}]</h1>

  {% if content_list %}
     <div class="linklist container_{{user_config.display_type}}">
      {% for job in content_list %}
        <div 
           class="element_{{user_config.display_type}}"
           title="{{job.date_created}} {{job.job}} {{job.task}} {{job.subject}} {{job.args}}"
           >
           - 
            {{ forloop.counter }}
            [{{job.date_created}}] {{job.priority}} <b>{{job.job}}</b> {{job.task}} {{job.subject}} {{job.args}} 

            <a href="{% url 'rsshistory:backgroundjob-remove' job.id %}" class="simplebutton" title="Remove job">
               <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
            </a>
            <a href="{% url 'rsshistory:backgroundjobs-remove' job.job %}" class="simplebutton" title="Remove all">
               <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
               All in type
           </a>

        </div>

    {% endfor %}
    </div>
    {% else %}
      Currently no jobs
  {% endif %}
{% endblock %}
