{% load static %}


<footer id="footer" class="text-center text-lg-start bg-body-tertiary text-muted fixed-bottom">
  <div id="footerStatus" class="text-center p-1" style="display: none;"></div>

  <div id="footerLine" class="text-center p-1" style="display: none;background-color: rgba(0, 0, 0, 0);">
  </div>

  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0);">
      {% if app_name %}
      <a href="{% url 'rsshistory:about' %}">[{{app_name}}/{{app_version}}] - About</a>
      @
      <a href="https://github.com/rumca-js/Django-link-archive">GitHub</a>
      {% else %}
      <a href="{% url 'rsshistory:about' %}">About</a>
      @
      <a href="https://github.com/rumca-js/Django-link-archive">GitHub</a>
      {% endif %}
  </div>
</footer>
