<!DOCTYPE html>
<html lang="en"
      {% if user_config.display_style == "style-dark" %}
        data-bs-theme="dark"
      {% endif %}
	>
    <head>
        {% block title %}<title>{{ page_title }}</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{page_description}}"/>
        <meta property="og:title" content="{{page_title}}"/>
        <meta property="og:description" content="{{page_description}}"/>
        {% if page_thumbnail %}
        <meta property="og:image" content="{{page_thumbnail}}"/>
        {% endif %}
        {% if page_date_published %}
        <meta property="article:published_time" content="{{page_date_published}}"/>
        {% endif %}
        {% if admin_user %}
        <meta name="author" content="{{admin_user}}"/>
        {% endif %}

        <!-- Add additional CSS in static file -->
        {% load static %}
        <!--date is added to stylesheet name, to force it to be reloaded-->
        {% if is_mobile %}
        <link rel="stylesheet" href="{% static 'rsshistory/css/styles-mobile.css' %}_{{user_config.display_style}}.css?{% now "U" %}">
        {% else %}
        <link rel="stylesheet" href="{% static 'rsshistory/css/styles.css' %}_{{user_config.display_style}}.css?{% now "U" %}">
        {% endif %}
        <!--link rel="stylesheet" href="{% static 'rsshistory/css/bootstrap5.1.3.min.css' %}"-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <link rel="shortcut icon" type="image/png" href="{% static 'rsshistory/icons/favicon.ico' %}"/>
    </head>
    <body class="body-style">

        <div class="container">
            {% include "rsshistory/base_menu.html" %}
        </div>

        <div class="container">{% block content %}{% endblock %}
            {% include "rsshistory/base_footer.html" %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
