{% load static %}

<nav id="navbar"
{% if user_config.display_style == "style-dark" %}
class="navbar sticky-top navbar-expand-sm bg-dark"
{% else %}
class="navbar sticky-top navbar-expand-sm bg-light"
{% endif %}
>

   <a class="navbar-brand nav-link" 
      href="{% url 'rsshistory:entries' %}"
      title="Home">
    <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
   </a>

   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse ms-3" id="mainNavBar">
       <ul class="nav navbar-nav mr-auto">
          <li class="nav-item dropdown" id="MenuSearchContainer">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Search
              </a>
	  </li>
          <li class="nav-item dropdown" id="MenuGlobalContainer">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Global
              </a>
	  </li>
          <li class="nav-item dropdown" id="MenuPersonalContainer">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Personal
              </a>
	  </li>
          <li class="nav-item dropdown" id="MenuToolsContainer">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Tools
              </a>
	  </li>
          <li class="nav-item dropdown" id="MenuUsersContainer">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 User
              </a>
	  </li>
       </ul>
    </div>
</nav>
