{% load static %}

<footer class="text-center text-lg-start bg-body-tertiary text-muted fixed-bottom">
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0);">
        {% if app_name %}
        <a href="{% url 'rsshistory:about' %}">[{{app_name}}/{{app_version}}] - About</a>
        @
        <a href="https://github.com/rumca-js/Django-link-archive">GitHub</a>
        {% else %}
        <a href="{% url 'rsshistory:about' %}">About</a>
        @
        <a href="https://github.com/rumca-js/Django-link-archive">GitHub</a>
        {% endif %}
    </div>

  {% if rss_are_fetched %}
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0);">
      <span class="spinner-border spinner-border-sm text-danger" role="status">
          <span class="sr-only"></span>
      </span>
      <span class="error-text">Reading sources.</span>
  </div>
  {% endif %}
</footer>
