{% load static %}

{% if user_config.display_style == "style-dark" %}
<nav class="navbar sticky-top navbar-expand-sm bg-dark">
{% else %}
<nav class="navbar sticky-top navbar-expand-sm bg-light">
{% endif %}
   <a class="navbar-brand nav-link" href="{% url 'rsshistory:entries' %}" title="Home">
    <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
   </a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBarDummy" aria-controls="mainNavBarDummy" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggle-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="mainNavBarDummy">
   </div>
</nav>
