<head>
    {% block title %}<title>{{ page_title }}</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page_description}}"/>
    <meta property="og:title" content="{{page_title}}"/>
    <meta property="og:description" content="{{page_description}}"/>
    {% if page_thumbnail %}
    <meta property="og:image" content="{{page_thumbnail}}"/>
    {% endif %}
    {% if page_date_published %}
    <meta property="article:published_time" content="{{page_date_published}}"/>
    {% endif %}
    {% if admin_user %}
    <meta name="author" content="{{admin_user}}"/>
    {% endif %}

    <!-- Add additional CSS in static file -->
    {% load static %}
    <!--date is added to stylesheet name, to force it to be reloaded-->
    {% if view.is_mobile %}
      {% if user_config.display_style %}
         <link rel="stylesheet" href="{% static 'rsshistory/css/styles-mobile.css' %}_{{user_config.display_style}}.css?{% now "U" %}">
      {% else %}
         <link rel="stylesheet" href="{% static 'rsshistory/css/styles-mobile.css' %}_style-light.css?{% now "U" %}">
      {% endif %}
    {% else %}
      {% if user_config.display_style %}
         <link rel="stylesheet" href="{% static 'rsshistory/css/styles.css' %}_{{user_config.display_style}}.css?{% now "U" %}">
      {% else %}
         <link rel="stylesheet" href="{% static 'rsshistory/css/styles.css' %}_style-light.css?{% now "U" %}">
      {% endif %}
    {% endif %}

    {% if config.use_internal_scripts %}
      <link rel="stylesheet" href="{% static 'bootstrap/bootstrap5.3.3.min.css' %}">
      <script src="{% static 'bootstrap/bootstrap.bundle5.3.3.min.js' %}"></script>
    {% else %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endif %}

    <script src="{% static 'rsshistory/library.js' %}?=8"></script>
    <script src="{% static 'rsshistory/project_library.js' %}?=8"></script>

    {% if config.favicon_internet_url %}
    <link rel="shortcut icon" type="image" href="{{config.favicon_internet_url}}"/>
    {% else %}
    <link rel="shortcut icon" type="image" href="{% static 'rsshistory/icons/favicon.ico' %}"/>
    {% endif %}

    {% if config.instance_internet_location %}
    <link rel="search" href="opensearch.xml" type="application/opensearchdescription+xml" title="Django archive search">
    {% endif %}

    {% if config.use_internal_scripts %}
        <script src="{% static 'bootstrap/jquery-3.7.1.min.js' %}"></script>
    {% else %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% endif %}

    <script>
    {% include "rsshistory/base_script.js" %}
    </script>
</head>
