<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>{{ page_title }}</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <!--date is added to stylesheet name, to force it to be reloaded-->
  <link rel="stylesheet" href="{% static 'rsshistory/css/styles.css' %}?{% now "U" %}">
  <link rel="stylesheet" href="{% static 'rsshistory/css/bootstrap5.1.3.min.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'rsshistory/icons/icons8-tv-show-32.png' %}"/>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
            <li><a href="{% url 'rsshistory:index' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-home-96.png' %}" height=30px />
                        Home</div></a></li>
            <li><a href="{% url 'rsshistory:sources' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" height=30px />
                        All sources</div></a></li>
            <li><a href="{% url 'rsshistory:searchinitview' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" height=30px />
                        Search</div></a></li>

            <hr>
            {% if user.is_staff %}
            <li><a href="{% url 'rsshistory:addsource' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" height=30px />
                        Add source</div></a></li>
            <li><a href="{% url 'rsshistory:addentry' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" height=30px />
                        Add entry</div></a></li>
            <li><a href="{% url 'rsshistory:configuration' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-configuration-67.png' %}" height=30px />
                        Configuration</div></a></li>
            <hr>
            {% endif %}

            {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'rsshistory:logout' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-logout-100.png' %}" height=30px />
                        Logout</div></a></li>
            <hr>
            {% else %}
            <li><a href="{% url 'rsshistory:login' %}">
                    <div class="mainbutton">
                        <img src="{% static 'rsshistory/icons/icons8-login-100.png' %}" height=30px />
                        Login</div></a></li>
            <hr>
            {% endif %}
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 page-body">{% block content %}{% endblock %}
          <p>
            <div>
            Version: {{app_version}}
            </div>
            <div>
            Source: <a href="https://github.com/rumca-js/Django-rss-feed">GitHub</a>
            </div>
          </p>
      </div>
    </div>
  </div>
</body>
</html>
