<!DOCTYPE html>
<html lang="en"
      {% if user_config.display_style == "style-dark" %}
        data-bs-theme="dark"
      {% endif %}
	>

    {% include "rsshistory/base_head.html" %}

    <body class="body-style" style="padding-bottom: 6em;">
        <span id="blockMenu">
            {% include "rsshistory/base_menu_dummy.html" %}
        </span>

        <div class="container" id="blockContent">
            {% block content %}{% endblock %}
        </div>

        <div class="container" id="blockFooter">
	    {% include "rsshistory/base_footer.html" %}
        </div>
    </body>
</html>
