{% load static %}

<nav id="navbar"
{% if user_config.display_style == "style-dark" %}
class="navbar sticky-top navbar-expand-sm bg-dark"
{% else %}
class="navbar sticky-top navbar-expand-sm bg-light"
{% endif %}
>

   <a class="navbar-brand nav-link" 
{% if config.default_search_behavior == "search-button-all" %}
      href="{% url 'rsshistory:entries' %}?show=0"
{% else %}
    {% if config.default_search_behavior == "search-button-recent" %}
          href="{% url 'rsshistory:entries-recent' %}?show=0"
    {% else %}
         {% if config.default_search_behavior == "search-button-global-bookmarks" %}
               href="{% url 'rsshistory:entries-bookmarked' %}?show=0"
         {% else %}
              {% if config.default_search_behavior == "search-button-user-bookmarks" %}
                    href="{% url 'rsshistory:entries-user-bookmarked' %}?show=0"
              {% else %}
                    href="{% url 'rsshistory:entries' %}?show=0"
              {% endif %}
         {% endif %}
    {% endif %}
{% endif %}
      title="Home">
    <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
   </a>

   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="mainNavBar">
       <ul class="nav navbar-nav mr-auto">

           <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Search
               </a>
               <ul class="dropdown-menu">
                   <li>
                       <a href="{% url 'rsshistory:search-engines' %}" class="dropdown-item" title="Shows search engines">
                           <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
                           Search Internet</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:gateways' %}" class="dropdown-item" title="Shows popular places">
                           <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
                           Gateways</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:entries-recent' %}?show=0" class="dropdown-item" title="Shows recent entries">
                           <img src="{% static 'rsshistory/icons/icons8-new-100.png' %}" class="mainbutton-icon" />
                           What's new</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:entries' %}?show=0" class="dropdown-item" title="Shows new entries">
                           <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
                           Search all</a>
                   </li>
               </ul>
           </li>

           <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Global
                   <span class="position-absolute top-5 start-95 translate-middle badge rounded-pill bg-danger invisible sourceErrorElement">
                       !
                       <span class="visually-hidden">Source error</span>
                   </span>
               </a>
               <ul class="dropdown-menu">
                   <li>
                       <a href="{% url 'rsshistory:entries-bookmarked' %}?show=1" class="dropdown-item" title="Shows bookmarked links. By default shows all users bookmarks.">
                           <img src="{% static 'rsshistory/icons/icons8-bookmarks-100.png' %}" class="mainbutton-icon" />
                           Bookmarks</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:tags-show-all' %}" class="dropdown-item" title="Tags. By default shows all users tags">
                           <img src="{% static 'rsshistory/icons/icons8-tags-100.png' %}" class="mainbutton-icon" />
                           Tags</a>
                   </li>
                   {% if config.enable_domain_support %}
                   <li>
                       <a href="{% url 'rsshistory:domains' %}" class="dropdown-item" title="Captured domains">
                           <img src="{% static 'rsshistory/icons/icons8-www-64.png' %}" class="mainbutton-icon" />
                           Domains</a>
                   </li>
                   {% endif %}
                   {% if config.enable_keyword_support %}
                   <li>
                       <a href="{% url 'rsshistory:keywords' %}" class="dropdown-item" title="Shows keywords used by links">
                           <img src="{% static 'rsshistory/icons/icons8-letters-96.png' %}" class="mainbutton-icon" />
                           Keywords</a>
                   </li>
                   {% endif %}
                   <li>
                       <a href="{% url 'rsshistory:sources' %}" class="dropdown-item" title="Sources">
                           <img src="{% static 'rsshistory/icons/icons8-broadcast-100.png' %}" class="mainbutton-icon" />
                           Sources
                           <span class="position-absolute top-5 start-95 translate-middle badge rounded-pill bg-danger invisible sourceErrorElement">
                               !
                               <span class="visually-hidden">Source error</span>
                           </span>
                       </a>
                   </li>
               </ul>
           </li>

           {% if user.is_authenticated %}
           <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Personal
                   <span class="position-absolute top-5 start-95 translate-middle badge rounded-pill bg-danger invisible readLaterElement">
                       !
                       <span class="visually-hidden">read later</span>
                   </span>
               </a>
               <ul class="dropdown-menu">
                   <li class="nav-item invisible readLaterElement">
                       <a href="{% url 'rsshistory:read-later-entries' %}" class="dropdown-item" title="Shows entries marked as later to read">
                           <img src="{% static 'rsshistory/icons/icons8-bookmarks-100.png' %}" class="mainbutton-icon" />
                           Read later</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:entries-user-bookmarked' %}?show=1" class="dropdown-item" title="Shows bookmarked links. By default shows all users bookmarks.">
                           <img src="{% static 'rsshistory/icons/icons8-bookmarks-100.png' %}" class="mainbutton-icon" />
                           Bookmarks</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:user-tags-show' %}" class="dropdown-item" title="Tags. By default shows all users tags">
                           <img src="{% static 'rsshistory/icons/icons8-tags-100.png' %}" class="mainbutton-icon" />
                           Tags</a>
                   </li>
                   {% if config.track_user_navigation %}
                   <li>
                       <a href="{% url 'rsshistory:user-browse-history' %}" class="dropdown-item" title="Shows browsing history">
                          <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" class="mainbutton-icon" />
                          Browse History</a>
                   </li>
                   {% endif %}
                   {% if config.track_user_searches %}
                   <li>
                       <a href="{% url 'rsshistory:user-search-history' %}" class="dropdown-item" title="Shows user comments">
                          <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" class="mainbutton-icon" />
                          Search history</a>
                   </li>
                   {% endif %}
                   <li>
                       <a href="{% url 'rsshistory:user-comments' %}" class="dropdown-item" title="Shows user comments">
                          <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" class="mainbutton-icon" />
                          Comments</a>
                   </li>
               </ul>
           </li>
          {% endif %}

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tools
              </a>
              <ul class="dropdown-menu">
                  {% if user_config.can_add %}
                  <li>
                      <a href="{% url 'rsshistory:entry-add-simple' %}" title="Add entry" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" class="content-icon" />
                          Add entry</a>
                  </li>
                  {% endif %}
                  {% if user_config.can_download %}
                  <li>
                      <a href="{% url 'rsshistory:download-url' %}" title="Downloads URL" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-download-page-96.png' %}" class="content-icon" />
                          Download URL</a>
                  </li>
                  <li>
                      <a href="{% url 'rsshistory:download-music-url' %}" title="Downloads music" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-download-music-96.png' %}" class="content-icon" />
                          Download music</a>
                  </li>
                  <li>
                      <a href="{% url 'rsshistory:download-video-url' %}" title="Downloads video" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-download-video-96.png' %}" class="content-icon" />
                          Download video</a>
                  </li>
                  {% endif %}
                  {% if user.is_staff %}
                  <li>
                      <a href="{% url 'rsshistory:page-scan-link' %}" title="Scans page URL for links" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-radar-64.png' %}" class="content-icon" />
                          Scan page URL</a>
                  </li>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <li>
                      <a href="{% url 'rsshistory:page-show-props' %}" title="Shows page properties" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-view-details-100.png' %}" class="content-icon" />
                          Page Properties</a>
                  </li>
                  {% endif %}
                  <li>
                      <a href="{% url 'rsshistory:is-url-allowed' %}" title="Checks if URL is allowed by robots.txt" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-radar-64.png' %}" class="content-icon" />
                          Check link for robots.txt</a>
                  </li>
                  {% if user.is_staff %}
                  <li>
                      <a href="{% url 'rsshistory:page-verify' %}" title="Verifies page" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-radar-64.png' %}" class="content-icon" />
                          Verify page</a>
                  </li>
                  {% endif %}
                  <li>
                      <a href="{% url 'rsshistory:cleanup-link' %}" title="Shows cleanedup link" class="dropdown-item">
                          <img src="{% static 'rsshistory/icons/icons8-view-details-100.png' %}" class="content-icon" />
                          Cleanup Link</a>
                  </li>
              </ul>
          </li>

          {% if not user.is_authenticated %}
          <li class="nav-item">
              <a href="{% url 'rsshistory:login' %}"  class="nav-link" title="Login">
                  <img src="{% static 'rsshistory/icons/icons8-login-100.png' %}" class="mainbutton-icon" />
                  Login</a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  User
                  <span class="position-absolute top-5 start-95 translate-middle badge rounded-pill bg-danger invisible configurationErrorElement">
                      !
                      <span class="visually-hidden">Configuration error</span>
                  </span>
              </a>
              <ul class="dropdown-menu">
                  {% if user.is_staff %}
                  <li class="nav-item">
                      <a href="{% url 'rsshistory:admin-page' %}" class="nav-link" title="Admin">
                          <img src="{% static 'rsshistory/icons/icons8-configuration-67.png' %}" class="mainbutton-icon" />
                          Admin
                          <span class="position-absolute top-5 start-95 translate-middle badge rounded-pill bg-danger invisible adminErrorElement">
                              !
                              <span class="visually-hidden">Configuration error</span>
                          </span>
                      </a>
                  </li>
                  {% endif %}

                  <li class="nav-item">
                      <a href="{% url 'rsshistory:user-config' %}" class="nav-link" title="User config">
                          <img src="{% static 'rsshistory/icons/account.png' %}" class="mainbutton-icon" />
                          [{{ user.get_username }}]
                      </a>
                  </li>

                  <li class="nav-item">
                      <a href="{% url 'rsshistory:logout' %}?next={% url 'rsshistory:index' %}" class="btn btn-primary">
                          <img src="{% static 'rsshistory/icons/icons8-logout-100.png' %}" class="content-icon" />
                          Logout
                      </a>
                  </li>
              </ul>
          </li>
          {% endif %}
       </ul>
    </div>
</nav>
