{% load static %}

{% if user_config.display_style == "style-dark" %}
<nav class="navbar sticky-top navbar-expand-sm bg-dark">
{% else %}
<nav class="navbar sticky-top navbar-expand-sm bg-light">
{% endif %}
   <a class="navbar-brand nav-link" href="{% url 'rsshistory:entries-recent' %}" title="Home">
    <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
   </a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBarDummy" aria-controls="mainNavBarDummy" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggle-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="mainNavBarDummy">
       <ul class="nav navbar-nav mr-auto">

           <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Search
               </a>
               <ul class="dropdown-menu">
                   <li>
                       <a href="{% url 'rsshistory:search-engines' %}" class="dropdown-item" title="Shows search engines">
                           <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
                           Search Internet</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:gateways' %}" class="dropdown-item" title="Shows popular places">
                           <img src="{% static 'rsshistory/icons/icons8-search-100.png' %}" class="mainbutton-icon" />
                           Gateways</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:entries' %}" class="dropdown-item" title="Shows new entries">
                           <img src="{% static 'rsshistory/icons/icons8-new-100.png' %}" class="mainbutton-icon" />
                           Search all</a>
                   </li>
               </ul>
           </li>

           <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Global
               </a>
               <ul class="dropdown-menu">
                   <li>
                       <a href="{% url 'rsshistory:entries-bookmarked' %}?show=1" class="dropdown-item" title="Shows bookmarked links. By default shows all users bookmarks.">
                           <img src="{% static 'rsshistory/icons/icons8-bookmarks-100.png' %}" class="mainbutton-icon" />
                           Bookmarks</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:tags-show-all' %}" class="dropdown-item" title="Tags. By default shows all users tags">
                           <img src="{% static 'rsshistory/icons/icons8-tags-100.png' %}" class="mainbutton-icon" />
                           Tags</a>
                   </li>
                   <li>
                       <a href="{% url 'rsshistory:sources' %}" class="dropdown-item" title="Sources">
                           <img src="{% static 'rsshistory/icons/icons8-broadcast-100.png' %}" class="mainbutton-icon" />
                           Sources
                           {% if is_source_error %}
                           <span class="position-absolute top-5 start-95 translate-middle badge rounded-pill bg-danger">
                               !
                               <span class="visually-hidden">Source error</span>
                           </span>
                           {% endif %}
                       </a>
                   </li>
               </ul>
           </li>

          <li class="nav-item">
              <a href="{% url 'rsshistory:login' %}"  class="nav-link" title="Login">
                  <img src="{% static 'rsshistory/icons/icons8-login-100.png' %}" class="mainbutton-icon" />
                  Login</a>
          </li>
       </ul>
    </div>
</nav>
