{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'rsshistory:browser-add' %}" title="Add a new browser" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_add.html" %}
    </a>
    <a href="{% url 'rsshistory:browser-read' %}" title="Reads browser setup from webtools" class="btn btn-primary" role="button">
        Read
    </a>
    <a href="{% url 'rsshistory:browsers-clear' %}" title="Removes all browsers" class="btn btn-primary" role="button">
        Clear
    </a>
</div>

<div class="container">
  <h1>Browser list</h1>
  <div class="container">
    Browsers are selected using this list, by priority
  </div>
  
  {% if content_list %}
     <div class="list-group">
         {% for browser in content_list %}
         <div class="list-group-item d-flex justify-content-between align-items-center">
             <div>
                 <a href="{% url 'rsshistory:browser-edit' browser.id %}" 
		    title="Edits browser"
                    class="list-group-item-action"
		    >
                    {% if not browser.enabled %}
                    <b>[DISABLED]</b>
                    {% endif %}
                    Prio:{{browser.priority}}
                    Name:{{browser.name}}
		 </a>
             </div>

             <div>
                 <a href="{% url 'rsshistory:browser-prio-up' browser.id %}" title="Browser prio up" class="btn btn-secondary btn-sm" role="button">
                     <img src="{% static 'rsshistory/icons/icons8-up-100.png' %}" class="content-icon" />
                 </a>
                 <a href="{% url 'rsshistory:browser-prio-down' browser.id %}" title="Browser prio down" class="btn btn-secondary btn-sm" role="button">
                     <img src="{% static 'rsshistory/icons/icons8-down-100.png' %}" class="content-icon" />
                 </a>

                 {% if browser.enabled %}
                 <a href="{% url 'rsshistory:browser-disable' browser.id %}" title="Disables browser" class="btn btn-secondary btn-sm" role="button">
                   {% include "rsshistory/icon_disable.html" %}
                 </a>
                 {% else %}
                 <a href="{% url 'rsshistory:browser-enable' browser.id %}" title="Enables browser" class="btn btn-secondary btn-sm" role="button">
                   {% include "rsshistory/icon_enable.html" %}
                 </a>
                 {% endif %}
                 <a href="{% url 'rsshistory:browser-remove' browser.id %}" title="Removes browser" class="btn btn-secondary btn-sm" role="button">
                   {% include "rsshistory/icon_remove.html" %}
                 </a>
             </div>

         </div>
         {% endfor %}
      {% include "rsshistory/pagination.html" %}
  {% else %}
    Browser list is empty!
  {% endif %}
</div>

{% endblock %} 
