{% extends base_generic %}
{% block content %}

  <span>Filters:</span>
  <a href="/{{app_name}}/links/" class="btn btn-secondary" role="button">Reset</a>

  <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
     {{ filter_form }}
     <input type="submit" value="Submit" class="btn btn-secondary" role="button">
  </form>

  <hr>

  {% if content_list %}
  <ul class="linklist">
    {% for link in content_list %}
      <li>
          <a href="{{ link.url }}" class="longbutton">
            <div class="linklistitem">
              <span class="linklistitemtitle">{{link.title}}</span>
              <span class="linklistitemdescription">[{{link.category}}, {{link.subcategory}}]</span>
            </div>
          </a>

          {% if user.is_staff %}
          <a href="{{ link.get_absolute_url }}" class="longbutton">
            <div class="linklistitem">
                Configure
            </div>
          </a>
          {% endif %}
      </li>
    {% endfor %}
  </ul>

  <div class="container">
   {% include "rsshistory/pagination.html" %}
  </div>

  {% else %}
    <p>There are no links.</p>
  {% endif %}
{% endblock %}
