{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>
    <a href="{% url 'rsshistory:entries-remove-nonbookmarked' %}" title="Remove nonbookmarked entries" class="simplebutton">Remove non bookmarked entries</a>
    <a href="{% url 'rsshistory:entries-remove-all' %}" title="Remove nonbookmarked entries" class="simplebutton">Remove all entries</a>
    <a href="{% url 'rsshistory:sources-remove-all' %}" title="Removes all sources" class="simplebutton">Remove all sources</a>
</div>

<h1>Config</h1>

<form action="{{config_form.action_url}}" method="{{config_form.method}}">
    <table>
        {% csrf_token %}
        {{config_form}}
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
