{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:entries-remove-nonbookmarked' %}" title="Remove nonbookmarked entries" class="simplebutton">Remove non bookmarked entries</a>
    <a href="{% url 'rsshistory:entries-remove-all' %}" title="Remove nonbookmarked entries" class="simplebutton">Remove all entries</a>
    <a href="{% url 'rsshistory:sources-remove-all' %}" title="Removes all sources" class="simplebutton">Remove all sources</a>
    {% endif %}
</div>

<h1>Config</h1>

<form action="{{config_form.action_url}}" method="{{config_form.method}}">
    <table>
        {% csrf_token %}
        {{config_form}}
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>

Notes:
<ul>
    <li>You can check your user agent in <a href="https://www.supermonitoring.com/blog/check-browser-http-headers/">https://www.supermonitoring.com/blog/check-browser-http-headers/</a></li>
    <li>There are three access types available. "All" allows anybody view contents. "Logged" allows only logged users to view contents. "Owner" means application is private, and only owner can view it's contents.</li>
</ul>

{% endblock %}
