{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="{% url 'rsshistory:credential-edit' object.id %}" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_edit.html" %}
    </a>
    <a href="{% url 'rsshistory:credential-remove' object.id %}" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
    </a>
</div>

<div>ID: {{object.id}}</div>

<h1>{{object.name}}</h1>
<div>Credentials type: {{object.credential_type}}</div>
<div>UserName: {{object.username}}</div>

{% if object.owner %}
{% with user=object.owner %}
  <div>OwnerID: {{user.id}}</div>
  <div>Owner Name: {{user.username}}</div>
{% endwith %}
{% endif %}

{% endblock %}
