{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'rsshistory:credential-add' %}" title="Add new api key" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_add.html" %}
    </a>
</div>

<h1>Credentials</h1>
  {% if content_list %}
     <div class="list-group">
         {% for cred_object in content_list %}
         <div class="list-group-item">
             <div>
                 Name: {{cred_object.name}}

                 <a href="{% url 'rsshistory:credential-edit' cred_object.id %}" title="Edit credential" class="btn btn-secondary btn-sm ms-auto" role="button">
                     {% include "rsshistory/icon_edit.html" %}
                 </a>
                 <a href="{% url 'rsshistory:credential-remove' cred_object.id %}" title="Remove credential" class="btn btn-secondary btn-sm" role="button">
                     {% include "rsshistory/icon_remove.html" %}
                 </a>
             </div>
         </div>
         {% endfor %}
  {% else %}
    No credentials yet
  {% endif %}

{% endblock %} 
