{% extends base_generic %}

{% block content %}

<h2>Incorrect youtube links</h2>
We should store links in a coherent manner.

<ul>
{% for link in incorrect_youtube_links %}
   <li>
       {{link.title}}
       <a href="{% url 'rsshistory:entry-detail' link.id %}">Details</a>
       <a href="{% url 'rsshistory:entry-fix-yt-link' link.id %}">Fix link</a>
       <a href="{% url 'rsshistory:entry-remove' link.id %}">Remove entry</a>
    </li>
{% endfor %}
</ul>

<h2>Link incorrect language</h2>

{% for link in links_with_incorrect_language %}
   <div>
    <a href="{{link.get_absolute_url}}">{{link.title}} {{link.language}}</a>
    <!--a href="{{link.link}}">{{link.title}} {{link.language}}</a-->
    </div>
{% endfor %}

<h2>Tags for missing links</h2>

{% for tag in tags_for_missing_links %}
   <div>
       <a href="{% url 'rsshistory:tag-remove' tag.id %}">{{tag.link}} {{tag.author}} {{tag.date}}</a>
    </div>
{% endfor %}

{% endblock %}
