{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="{% url 'rsshistory:data-export-edit' object.id %}" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-edit-100.png' %}" class="content-icon" />
    </a>
    <a href="{% url 'rsshistory:data-export-remove' object.id %}" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
    </a>
</div>

<h1>Data Export</h1>

<p>
<div>Remote path: {{object.remote_path}}</div>
<div>Local path: {{object.local_path}}</div>
<div>Enabled: {{object.enabled}}</div>
<div>Export type: {{object.export_type}}</div>
<div>Export data: {{object.export_data}}</div>
<div>ID: {{object.id}}</div>
</p>

{% endblock %}
