{% extends base_generic %}
{% load static %}
{% block content %}

{% if user.is_staff %}

<a href="{% url 'rsshistory:data-export-edit' object.id %}" class="btn btn-primary" title="Edit">
   {% include "rsshistory/icon_edit.html" %}
</a>

{% if object.enabled %}
   <a href="{% url 'rsshistory:data-export-disable' object.id %}" class="btn btn-primary" title="Disables data export">
       {% include "rsshistory/icon_disable.html" %}
   </a>
{% else %}
   <a href="{% url 'rsshistory:data-export-enable' object.id %}" class="btn btn-primary" title="Enables data export">
       {% include "rsshistory/icon_enable.html" %}
   </a>
{% endif %}

<a href="{% url 'rsshistory:data-export-remove' object.id %}" class="btn btn-primary" title="Remove">
   <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
</a>

<span class="dropdown">
   <button class="btn btn-primary" type="button" id="#actionsDrop" data-bs-toggle="dropdown" aria-expanded="false">
     Actions
   </button>

   <ul class="dropdown-menu">
       <li>
           <a href="{% url 'rsshistory:data-export-job-add' object.id %}" title="Shows categories" class="dropdown-item">Add to job</a>
       </li>
   </ul>
</span>
{% endif %}


<h1>Data Export</h1>

<p>
{% if object.enabled %}
<div>Enabled: {{object.enabled}}</div>
{% else %}
<div class="fw-bold">Enabled: {{object.enabled}}</div>
{% endif %}
<div>Remote path: {{object.remote_path}}</div>
<div>Local path: {{object.local_path}}</div>
<div>Absolute local path: {{absolute_local_path}}</div>
<div>Export type: {{object.export_type}}</div>
<div>Export data: {{object.export_data}}</div>
<div>User: {{object.user}}. User used for repository access</div>
<div>DB user: {{object.db_user}}. User used to filter entries</div>
<div>Export time: {{object.export_time}}</div>
<div>ID: {{object.id}}</div>

<div>Export entries: {{object.export_entries}}</div>
<div>Export bookmarks: {{object.export_entries_bookmarks}}</div>
<div>Export permanent: {{object.export_entries_permanents}}</div>
<div>Export sources: {{object.export_sources}}</div>
<div>Export keywords: {{object.export_keywords}}</div>

<div>Format JSON: {{object.format_json}}</div>
<div>Format markdown: {{object.format_md}}</div>
<div>Format RSS: {{object.format_rss}}</div>
<div>Format HTML: {{object.format_html}}</div>

<div>Format sources opml: {{object.format_sources_opml}}</div>

<div>Output zip: {{object.output_zip}}</div>
<div>Output sqlite: {{object.output_sqlite}}</div>

</p>

{% endblock %}
