{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'rsshistory:data-export-add' %}" title="Add new data export" class="btn btn-primary" role="button">
        <img src="{% static 'rsshistory/icons/icons8-plus-100.png' %}" class="content-icon" />
    </a>
</div>

<h1>Exports</h1>
  {% if content_list %}
     <div class="list-group">
         {% for object in content_list %}
             <a href="{% url 'rsshistory:data-export' object.id %}"
               class="my-1 p-1 list-group-item list-group-item-action"
               title="
             Enabled:{{ object.enabled }},
             Remote path:{{ object.remote_path }}
             Export type:{{ object.export_type }},
             Export data:{{ object.export_data }},
               "
             >
             - 
             {% if not object.enabled %}
                [DISABLED]
             {% endif %}
             <b>{{ object.remote_path }}</b>,
             Export type:{{ object.export_type }},
             Export data:{{ object.export_data }}
             </a>
         {% endfor %}
  {% else %}
    No domains yet
  {% endif %}

{% endblock %} 
