{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>

    <a href="{% url 'rsshistory:data-export-add' %}" title="Add new data export" class="simplebutton">Add</a>
</div>

<h1>Configured exports</h1>

  <ul class="linklist">
    {% for object in content_list %}
    <li>
        Enabled:{{ object.enabled }},
        Remote path:{{ object.remote_path }}
        Export type:{{ object.export_type }},
        Export data:{{ object.export_data }},
        <a href="{% url 'rsshistory:data-export' object.id %}" class="simplebutton">
            Details
        </a>
    </li>
    {% endfor %}
  </ul>

{% endblock %} 
