{% extends base_generic %}
{% block content %}

<h1>Incorrect youtube links</h1>
We should store links in a coherent manner.

<ul>
{% for link in incorrect_youtube_links %}
   <li>
       {{link.title}}
       <a href="{% url 'rsshistory:entry-detail' link.id %}">Details</a>
       <a href="{% url 'rsshistory:fix-entry-youtube-details' link.id %}">Fix link</a>
       <a href="{% url 'rsshistory:entry-remove' link.id %}">Remove entry</a>
    </li>
{% endfor %}
</ul>

<h1>Link incorrect language</h1>

{% for link in links_with_incorrect_language %}
   <div>
    <a href="{{link.get_absolute_url}}">{{link.title}} {{link.language}}</a>
    <!--a href="{{link.link}}">{{link.title}} {{link.language}}</a-->
    </div>
{% endfor %}

<h1>Tags errors</h1>

<ul>
{% for tag in tags_for_missing_links %}
    <li>{{tag.tag}} {{tag.link}} {{tag.author}} {{tag.date}}
       <a href="{% url 'rsshistory:fix-entry-tags' tag.link_obj.id %}">Fix</a>
       <a href="{% url 'rsshistory:tag-remove' tag.id %}">Remove</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
