{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>

    {% if user.is_staff %}
    <a href="{% url 'rsshistory:domain-fix' object.id %}" class="simplebutton">Fix</a>
    <a href="{% url 'rsshistory:domain-remove' object.id %}" class="simplebutton">Remove</a>
    {% endif %}
</div>

<h1>Data Export</h1>

<p>
<div>ID: {{object.id}}</div>
<div>Domain: {{object.domain}}</div>
<div>Main: {{object.main}}</div>
<div>Subdomain: {{object.subdomain}}</div>
<div>Suffix: {{object.suffix}}</div>
<div>TLD: {{object.tld}}</div>
<div>Date created: {{object.date_created}}</div>
<div>Date last: {{object.date_last}}</div>
</p>

<a href="{% url 'rsshistory:domain-json' object.id %}" class="simplebutton">Show JSON</a>

{% endblock %}
