{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>

    {% if user.is_staff %}
    <a href="{% url 'rsshistory:domain-update-data' object.id %}" class="simplebutton">Update</a>
    <a href="{% url 'rsshistory:domain-edit' object.id %}" class="simplebutton">Edit</a>
    <a href="{% url 'rsshistory:domain-remove' object.id %}" class="simplebutton">Remove</a>
    {% endif %}
</div>

<h1>Domain</h1>

{% if object.dead %}
This domain is marked as dead!
{% endif %}

<table>
    <tr>
        <td>Link</td><td><a href="{{object.protocol}}://{{object.domain}}">{{object.domain}}</a></td>
    </tr>
    <tr>
        <td>Title</td><td>{{object.title}}</td>
    </tr>
    <tr>
        <td>Description</td><td>{{object.description}}</td>
    </tr>
    <tr>
        <td>Main</td><td>{{object.main}}</td>
    </tr>
    <tr>
        <td>Subdomain</td><td>{{object.subdomain}}</td>
    </tr>
    <tr>
        <td>Suffix</td><td>{{object.suffix}}</td>
    </tr>
    <tr>
        <td>TLD</td><td>{{object.tld}}</td>
    </tr>
    <tr>
        <td>Category</td><td>{{object.category}}</td>
    </tr>
    <tr>
        <td>SubCategory</td><td>{{object.subcategory}}</td>
    </tr>
    <tr>
        <td>Language</td><td>{{object.language}}</td>
    </tr>
    <tr>
        <td>Last status code</td><td>{{object.status_code}}</td>
    </tr>
    <tr>
        <td>Date created</td><td>{{object.date_created}}</td>
    </tr>
    <tr>
        <td>Date last</td><td>{{object.date_update_last}}</td>
    </tr>
</table>

<a href="{% url 'rsshistory:domain-json' object.id %}" class="simplebutton">Show JSON</a>

{% endblock %}
