{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <a href="{% url 'rsshistory:domains' %}" class="btn btn-secondary" role="button">
        <img src="{% static 'rsshistory/icons/icons8-start-100.png' %}" class="content-icon" />
        Reset filters</a>
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:domains-category-list' %}" title="Shows categories" class="btn btn-secondary" role="button">View categories</a>
    <a href="{% url 'rsshistory:domains' %}?search=category+is+null&sort=date_update_last" title="Domains without category" class="btn btn-secondary" role="button">Domains without category</a>
    {% endif %}
</div>

  <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
     <table>
     {{ filter_form }}
     <tr>
         <td>
             <input type="submit" value="Search" class="btn btn-secondary" role="button">
         </td>
     </tr>
     </table>
  </form>
  {% if query_filter.is_error %}
    <p class="error-text">There errors with your query</p>
  {% endif %}

  <hr>

  {% if content_list %}
     <div class="linklist list-group">
      {% for domain in content_list %}
          {% if type == "normal" %}
             <a href="{% url 'rsshistory:domain-detail' domain.id %}"
               class="my-1 p-1 list-group-item list-group-item-action"
               title="{{domain.domain}}"
             >
             - <span class="link-list-item-title">
                 {% if domain.dead or domain.get_link_obj.dead %}
                 [DEAD]
                 {% endif %}
                 {{domain.domain}}
             </span>

             <span class="link-list-item-description">
                 {% if domain.category %}
                 [{{domain.category}}]
                 {% endif %}
                 {% if domain.subcategory %}
                 [{{domain.subcategory}}]
                 {% endif %}
                 {% if domain.get_link_obj.title %}
                 {{domain.title  | slice:":100"}}
                 {% endif %}
                 | {{domain.get_link_obj.description | slice:":200"}}
             </span>
             </a>
          {% elif type == "clear" %}
          <div>
              -
             {% if domain.dead or domain.get_link_obj.dead %}
             [DEAD]
             {% endif %}
              {{domain.protocol}}://{{domain.domain}}
              {{domain.title}}
          </div>
          {% endif %}
      {% endfor %}
    </div>

    <hr>
    {% include "rsshistory/pagination.html" %}

  {% else %}
    No domains yet
  {% endif %}

  <a href="{% url 'rsshistory:domains-json' %}?{{ request.GET.urlencode }}" class="btn btn-secondary" role="button">Show JSON</a>
  <a href="{% url 'rsshistory:domains' %}?{{ args }}&type=clear" class="btn btn-secondary" role="button">Clear list</a>
  <a href="{% url 'rsshistory:domains' %}?{{ args }}&type=normal" class="btn btn-secondary" role="button">Normal list</a>

{% include "rsshistory/domain_help_element.html" %}

{% endblock %}
