{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:domain-add' %}" title="Add new domain" class="simplebutton">Add</a>
    <a href="{% url 'rsshistory:domain-category-list' %}" title="Shows categories" class="simplebutton">View categories</a>
    <a href="{% url 'rsshistory:domains-read-bookmarks' %}" title="Reads domains from bookmarks" class="simplebutton">Read from bookmarks</a>
    {% endif %}
</div>

  <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
     <table>
     {{ filter_form }}
     <tr>
         <td>
             <input type="submit" value="Search">
         </td>
     </tr>
     </table>
  </form>
  {% if query_filter.is_error %}
    <p class="error-text">There errors with your query</p>
  {% endif %}

  <hr>

<h1>Domains</h1>
  {% if content_list %}
     <div class="linklist container_{{user_config.display_type}}">
      {% for domain in content_list %}
          {% if type == "normal" %}
             <a href="{% url 'rsshistory:domain-detail' domain.id %}"
               class="element_{{user_config.display_type}}"
               title="{{domain.domain}}"
             >
             - <span class="linklistitemtitle">
                 {% if domain.dead %}
                 [DEAD]
                 {% endif %}
                 {{domain.domain}}
             </span>

             <span class="linklistitemdescription">
                 {% if domain.category %}
                 [{{domain.category}}]
                 {% endif %}
                 {% if domain.subcategory %}
                 [{{domain.subcategory}}]
                 {% endif %}
                 {% if domain.title %}
                 {{domain.title}}
                 {% endif %}
                 | {{domain.get_description_safe}}
             </span>
             </a>
          {% elif type == "clear" %}
          <div>
              -
             {% if domain.dead %}
             [DEAD]
             {% endif %}
              {{domain.protocol}}://{{domain.domain}}
              {{domain.title}}
          </div>
          {% endif %}
      {% endfor %}
    </div>

    <hr>
    {% include "rsshistory/pagination.html" %}

  {% else %}
    No domains yet
  {% endif %}

  <a href="{% url 'rsshistory:domains-json' %}?{{ request.GET.urlencode }}" class='simplebutton'>Show JSON</a>
  <a href="{% url 'rsshistory:domains' %}?{{ args }}&type=clear" class='simplebutton'>Clear list</a>
  <a href="{% url 'rsshistory:domains' %}?{{ args }}&type=normal" class='simplebutton'>Normal list</a>

{% endblock %}
