{% extends base_generic %}
{% load static %}
{% block content %}

{% if user.is_staff %}
<div class="dropdown">
   <button class="btn btn-primary" type="button" id="#filtersDrop" data-bs-toggle="dropdown" aria-expanded="false">
     Filters
   </button>

   <ul class="dropdown-menu">
      <li>
         <a href="{% url 'rsshistory:domains' %}?search=category+is+null&sort=date_update_last" title="Domains without category" class="dropdown-item">Domains without category</a>
      </li>
   </ul>
</div>
{% endif %}

{% include "rsshistory/filterform_basic_element.html" %}

  {% if query_filter.is_error %}
    <p class="error-text">There errors with your query</p>
  {% endif %}

  <hr>

  {% if content_list %}
     <div class="linklist list-group">
      {% for domain in content_list %}
          {% if type == "normal" %}
             <a href="{% url 'rsshistory:domain-detail' domain.id %}"
               class="my-1 p-1 list-group-item list-group-item-action"
               title="{{domain.domain}}"
             >
             <span class="link-list-item-title">
                 {{domain.domain}}
             </span>

             <span class="link-list-item-description">
             </span>
             </a>
          {% elif type == "clear" %}
          <div>
              -
              {{domain.protocol}}://{{domain.domain}}
              {{domain.title}}
          </div>
          {% endif %}
      {% endfor %}
    </div>

    <hr>
    {% include "rsshistory/pagination.html" %}

  {% else %}
    No domains yet
  {% endif %}

  <a href="{% url 'rsshistory:domains-json' %}?{{ request.GET.urlencode }}" class="btn btn-secondary" role="button">Show JSON</a>
  <a href="{% url 'rsshistory:domains' %}?{{ args }}&type=clear" class="btn btn-secondary" role="button">Clear list</a>
  <a href="{% url 'rsshistory:domains' %}?{{ args }}&type=normal" class="btn btn-secondary" role="button">Normal list</a>

{% include "rsshistory/domain_help_element.html" %}

{% endblock %}
