{% extends base_generic %}

{% block content %}

<h3>Domains</h3>
  {% if domain_list %}
    <ul>
      {% for domain in domain_list %}
          {% if type == "normal" %}
            <li><a href="https://{{domain.domain}}">{{domain.domain}}</a>, Updated:{{domain.date_last}}, First seen:{{domain.date_created}}
                <a href="{% url 'rsshistory:domain-remove' domain.id %}" class="simplebutton">Remove</a>
            </li>
          {% elif type == "clear" %}
          <div>- {{domain.domain}} Updated:{{domain.date_last}}, First seen:{{domain.date_created}}</div>
          {% endif %}
      {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
               <a href="?page=1{{args_extractor.get_filter_string}}" class='simplebutton'>&laquo; first</a>
               <a href="?page={{ page_obj.previous_page_number }}{{args_extractor.get_filter_string}}" class='simplebutton'>previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}{{args_extractor.get_filter_string}}" class='simplebutton'>next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}{{args_extractor.get_filter_string}}" class='simplebutton'>last &raquo;</a>
            {% endif %}

            <span>Records: {{entries_list | length}} </span>
        </span>
    </div>
  {% else %}
    No domains yet
  {% endif %}
{% endblock %}
