{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
<a href="javascript:history.back()" class="simplebutton">Go Back</a>
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:domains-reset-dynamic-data' %}" title="Resets categories and subcategories" class="simplebutton">Reset dynamic dat</a>
    {% endif %}
</div>

<h1>Domain category list</h1>

{% for category in category_list %}
<div style="margin-right: 5px">{{category.category}} <a href="{% url 'rsshistory:domains' %}?search=category+%3D+{{category.category}}">Link</a></div>

    <div> --
    {% for subcategory in category.subcategories.all %}
        <span style="margin-right: 5px">{{subcategory.subcategory}} <a href="{% url 'rsshistory:domains' %}?search=category+%3D+{{subcategory.category}}+%26+subcategory+%3D+{{subcategory.subcategory}}">Link</a></span>
    {% endfor %}
    </div>

    <hr/>
{% endfor %}

{% endblock %}
