{% load static %}

{% if query %}
<!--
{{query}}
-->
{% endif %}

{% if entry_list %}
  {% include "rsshistory/linkdatacontroller_list__entry_list.html" %}

  {% include "rsshistory/pagination.html" %}

  <hr/>

  <a href="{% url 'rsshistory:entries-json' %}?query_type={{query_type}}&{{ query_args }}&{{ request.GET.urlencode }}" class="btn btn-secondary" role="button">Show JSON</a>
  <a href="{{view_link}}?query_type={{query_type}}&{{ query_args }}&display_type=clear" class="btn btn-secondary" role="button">Show Clear</a>
  <a href="{{view_link}}?query_type={{query_type}}&{{ query_args }}&display_type=normal" class="btn btn-secondary" role="button">Show Normal</a>

{% else %}
  <p>There are no links.</p>

  {% if search_query_add %}
     <a href="{% url 'rsshistory:entry-add' %}?link={{search_query_add}}" class="btn btn-secondary" role="button">Add this link</a>
  {% endif %}
{% endif %}
