{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="{% url 'rsshistory:entry-rule-edit' object.id %}" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_edit.html" %}
    </a>
    <a href="{% url 'rsshistory:entry-rule-run' object.id %}" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_enable.html" %}
    </a>
    <a href="{% url 'rsshistory:entry-rule-remove' object.id %}" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
    </a>
</div>

<h1>{{object.rule_name}}</h1>

{% if object.enabled %}
  <div>Enabled: {{object.enabled}}</div>
{% else %}
  <div class="fw-bold">Enabled: {{object.enabled}}</div>
{% endif %}

<div>Rule URL:
{% for rule_url in object.get_rule_urls %}
    <span class="white-space: nowrap;">{{rule_url}}</span>
{% endfor %}
</div>

<div>Trigger text:
{% if object.trigger_text %}
    <span class="white-space: nowrap;">{{object.trigger_text}}</span>
{% endif %}
</div>

<div>Block: {{object.block}}</div>
<div>Auto tag: {{object.auto_tag}}</div>

{% if object.browser %}
  <div>Browser name: {{object.browser.name}}</div>
  <div>Crawler: {{object.browser.crawler}}</div>
  <div>Settings: {{object.browser.settings}}</div>
{% endif %}

<div>ID: {{object.id}}</div>

{% if not object.is_valid %}
<b>Rule is not valid</b>
{% endif %}

{% for error in errors %}
   <div>{{error}}</div>
{% endfor %}

{% endblock %}
