{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="{% url 'rsshistory:entry-rule-edit' object.id %}" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-edit-100.png' %}" class="content-icon" />
    </a>
    <a href="{% url 'rsshistory:entry-rule-run' object.id %}" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-play-100.png' %}" class="content-icon" />
    </a>
    <a href="{% url 'rsshistory:entry-rule-remove' object.id %}" class="btn btn-primary" role="button">
       <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
    </a>
</div>

<h1>{{object.rule_name}}</h1>

<p>
{% if object.enabled %}
<div>Enabled: {{object.enabled}}</div>
{% else %}
<div class="fw-bold">Enabled: {{object.enabled}}</div>
{% endif %}
<div>Rule URL: {{object.rule_url}}</div>
<div>Block: {{object.block}}</div>
<div>Auto tag: {{object.auto_tag}}</div>
<div>Requires selenium: {{object.requies_selenium}}</div>
<div>Requires selenium full: {{object.requies_selenium_full}}</div>
<div>ID: {{object.id}}</div>
</p>

{% endblock %}
