{% load static %}

{% if display_type == "normal" %}
      {% if user_config.display_type == "clickable-tags" %}
          {% include "rsshistory/entry_list__view_clickable_tags.html" %}
      {% elif user_config.display_type == "line-and-buttons" %}
          {% include "rsshistory/entry_list__view_line_and_buttons.html" %}
      {% elif user_config.display_type == "gallery" %}
          {% include "rsshistory/entry_list__view_youtube_thumbnails.html" %}
      {% elif user_config.display_type == "search-engine" %}
          {% include "rsshistory/entry_list__view_search_engine.html" %}
      {% else %}
          {% include "rsshistory/entry_list__view_standard.html" %}
      {% endif %}
{% elif display_type == "clear" %}
          {% include "rsshistory/entry_list__view_clean_list.html" %}
{% endif %}
