<script>
    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    function loadHistory(attempt = 1) {
        $.ajax({
            url: '{% url 'rsshistory:get-user-search-history' %}',
            type: 'GET',
            success: function(data) {
                $('#searchHistory').html(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 2) {
                    loadHistory(search_term, page, attempt + 1);
                    $('#searchHistory').html("Error loading dynamic content, retry");
                }
                else {
                    $('#searchHistory').html("Cannot load data from " + url)
                }
            }
        });
    }

    function loadEntryListContent(search_term = '', page = '', attempt = 1) {
        $('.btnFilterTrigger').prop("disabled", true);

        const currentUrl = new URL(window.location);
        const currentSearch = currentUrl.searchParams.get('search');

        if (currentSearch !== search_term) {
            page = '1';
        }

        currentUrl.searchParams.set('search', search_term);
        if (page) currentUrl.searchParams.set('page', page);
        
        window.history.pushState({}, '', currentUrl);

        const url = `{{query_page}}?${currentUrl.searchParams.toString()}`;

        const status_text = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading... ' + url;
        $('#entriesListStatus').html(status_text);

        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                $('#entriesList').html(data);
                $('#entriesListStatus').html("");
                loadHistory();
            },
            error: function(xhr, status, error) {
                if (attempt < 2) {
                    loadEntryListContent(search_term, page, attempt + 1);
                    $('#entriesListStatus').html("Error loading dynamic content, retry");
                }
                else {
                    $('#entriesListStatus').html("Cannot load data from " + url);
                }
            },
            complete: function() {
                $('.btnFilterTrigger').prop("disabled", false);
            }
        });
    }

    $(document).ready(function() {
        var search_term = getQueryParam('search') || '';
        var show = getQueryParam('show') || '';

        if (search_term || show) {
            loadEntryListContent(search_term);
        }

        $(document).on('click', '.btnFilterTrigger', function(e) {
            e.preventDefault();

            var search_term = $(this).data('search') || $('#id_search').val();
            var page = $(this).data('page')

            if ($(this).data('search')) {
                $('#id_search').val(search_term);
            }

            $('#searchHistory').collapse('hide');
            $('#searchSyntax').collapse('hide');

            loadEntryListContent(search_term, page);
        });
    });
</script>
