{% extends base_generic %}
{% load static %}
{% block content %}
   <script src="{% static 'rsshistory/entries_library.js' %}?=4"></script>

   {% include "rsshistory/entry_detail__frame.html" %}

   <div id="entryParameters" class="d-flex flex-wrap">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
   </div>

   {% include "rsshistory/entry_detail__tags.html" %}

   <div id="entryVoteContainer">
   </div>

   <div id="entryDownloadContainer">
   </div>

   <div id="entryUpdateContainer">
   </div>

   {% include "rsshistory/entry_detail__source.html" %}

   <div id="entryMenu" class="d-flex">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
   </div>

   <div id="entryStatusLine" class="mb-2 bg-warning text-dark">
   </div>

   <div id="entryDescription" class="link-detail-description">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
   </div>

   {% include "rsshistory/entry_detail__comments.html" %}

   <div id="entryOperationalParameters">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
   </div>

   <div id="entryRelated" class="list-group">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
   </div>

   <script>
   {% include "rsshistory/entry_detail__script.js" %}
   </script>

   <div id="entryDebug">
   </div>

{% endblock %}
