{% load static %}

<div class="link-detail-description">
{{object_controller.get_description_html | safe | linebreaks }}
</div>

{% if object.comments.all %}
<hr/>
{% endif %}
{% include "rsshistory/linkdatacontroller_detail__comments.html" %}

<hr/>
{% include "rsshistory/linkdatacontroller_detail__parameters_operation.html" %}

{% if transitions %}
<hr/>
{% endif %}
{% include "rsshistory/linkdatacontroller_detail__related.html" %}

<hr/>
<div>
{% include "rsshistory/search_places_element.html" %}
</div>
