{% load static %}

<div class="d-flex">
   {% if user.is_staff %}
   {% if search %}
   <div class="dropdown mx-1">
       <button class="btn btn-primary" type="button" id="#listDrop" data-bs-toggle="dropdown" aria-expanded="false">
         Actions
       </button>
   
       <ul class="dropdown-menu">
          {% if search %}
          <li>
             <a href="{% url 'rsshistory:set-read-marker' %}?search={{search}}" class="dropdown-item" title="Marks all entries as read">
                 <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" class="content-icon" />
                    Mark as read
             </a>
          </li>
          {% endif %}
       </ul>
   </div>
   {% endif %}
   {% endif %}

   <div class="dropdown mx-1">
       <button class="btn btn-primary" type="button" id="#listDrop" data-bs-toggle="dropdown" aria-expanded="false">
         View
       </button>
       <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-item form-check">
                        <input class="form-check-input me-2" type="checkbox" id="showIcons">
                        <label class="form-check-label" for="showIcons">Show icons</label>
                    </div>
                </li>

                <li><hr class="dropdown-divider"></li>

                <li>
                    <div class="dropdown-item form-check">
                        <input class="form-check-input me-2" type="checkbox" id="directLinks">
                        <label class="form-check-label" for="directLinks" title="Links lead directly to URL">Direct links</label>
                    </div>
                </li>

                <li><hr class="dropdown-divider"></li>

                <li>
                    <div class="dropdown-item form-check">
                        <input class="form-check-input me-2" type="checkbox" id="highlight-bookmarks">
                        <label class="form-check-label" for="directLinks" title="Highlights bookmarks">Highlight bookmarks</label>
                    </div>
                </li>
       </ul>
   </div>

   <div class="dropdown mx-1">
       <button class="btn btn-primary" type="button" id="#listDrop" data-bs-toggle="dropdown" aria-expanded="false">
         Display
       </button>
       <ul class="dropdown-menu">
            {% for style in display_styles %}
                <li>
                    <div class="dropdown-item form-check">
                        <input class="form-check-input me-2" type="radio" name="viewMode" id="view-{{style}}" value="{{style}}">
                        <label class="form-check-label" for="view-{{style}}">{{style}}</label>
                    </div>
                </li>
            {% endfor %}
       </ul>
   </div>

   <div class="dropdown mx-1">
       <button class="btn btn-primary" type="button" id="#listMode" data-bs-toggle="dropdown" aria-expanded="false">
         Mode
       </button>
       <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-item form-check">
                        <input class="form-check-input me-2" type="radio" name="theme" id="displayLight" value="style-light">
                        <label class="form-check-label" for="displayLight">Light</label>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item form-check">
                        <input class="form-check-input me-2" type="radio" name="theme" id="displayDark" value="style-dark">
                        <label class="form-check-label" for="displayDark">Dark</label>
                    </div>
                </li>
       </ul>
   </div>

</div>
