
   <div id="entryPreview">
     {{object_controller.get_frame_html | safe }}
   </div>
   
   <a href="{{ object.link }}" title="{{ object.link }}">
      <div>
         <h1
             class="link-title"
              {% if not object.is_valid %}
              style="opacity: 0.5"
              {% endif %}
             >

	     <div id="entryTitle">
             {{ object_controller.get_title_html }}
	     </div>
         </h1>

         <span>
           {% include "rsshistory/icon_external.html" %}
            {{object.link}}
         </span>
      </div>
   </a>
