{% load static %}

  {% if user.is_staff %}
     <div class="dropdown mx-2">
        <button class="btn btn-primary" type="button" id="#entryEditDrop" data-bs-toggle="dropdown" aria-expanded="false">
          Edit
        </button>
     
        <ul class="dropdown-menu">
             {% for button in object_controller.get_edit_menu_buttons %}
                 {% if button.is_shown %}
     	         <li>
                     <a href="{{button.action}}" id="{{button.get_id}}" class="dropdown-item" title="{{button.title}}">
                       {% if button.image %}
                          <img src="{{button.image}}" class="content-icon" />
                       {% endif %}
                       {{button.name}}
                     </a>
                 </li>
                 {% endif %}
             {% endfor %}
        </ul>
     </div>
  {%endif%}
  
  <div class="dropdown mx-2">
     <button class="btn btn-primary" type="button" id="#entryViewDrop" data-bs-toggle="dropdown" aria-expanded="false">
       View
     </button>
  
     <ul class="dropdown-menu">
         {% for button in object_controller.get_view_menu_buttons %}
             {% if button.is_shown %}
             <li>
                 <a href="{{button.action}}" id="{{button.get_id}}" class="dropdown-item" title="{{button.title}}">
                    {% if button.image %}
                       <img src="{{button.image}}" class="content-icon" />
                    {% endif %}
                    {{button.name}}
                 </a>
             </li>
             {% endif %}
         {% endfor %}
     </ul>
  </div>

  {% if user.is_staff %}
  <div class="dropdown mx-2">
     <button class="btn btn-primary" type="button" id="#entryAdvancedDrop" data-bs-toggle="dropdown" aria-expanded="false">
       Advanced
     </button>
  
     <ul class="dropdown-menu">
         {% for button in object_controller.get_advanced_menu_buttons %}
             {% if button.is_shown %}
             <li>
                 <a href="{{button.action}}" id="{{button.get_id}}" class="dropdown-item" title="{{button.title}}">
                     {% if button.image %}
                        <img src="{{button.image}}" class="content-icon" />
                     {% endif %}
                     {{button.name}}
                 </a>
             </li>
             {% endif %}
         {% endfor %}
     </ul>
  </div>
  {% endif %}
