<a href="{{ entry.get_absolute_url }}"
   title="{{entry.title}} {{entry.entry}} {{entry.source}}"
   {% if not entry.is_valid %}
   style="opacity: 0.5"
   {% endif %}

   {% if entry.bookmarked %}
   class="element_{{user_config.display_type}} list-group-item list-group-item-action list-group-item-primary"
   {% else %}
   class="element_{{user_config.display_type}} list-group-item list-group-item-action"
   {% endif %}
   >
   <div style="display: flex; flex-direction:column; align-content:normal; height:100%">
       <div style="flex: 0 0 70%; flex-shrink: 0;flex-grow:0;max-height:70%">
           {% if user_config.show_icons %}
           <img src=
                {% if user_config.thumbnails_as_icons %}
                "{{entry.get_thumbnail}}"
                {% else %}
                "{{entry.get_favicon}}"
                {% endif %}
                style = "width:100%;max-height:100%;object-fit:cover"/>
           {% endif %}
       </div>
       <div style="flex: 0 0 30%; flex-shrink: 0;flex-grow:0;max-height:30%">
          <span style="font-weight:bold" class="text-primary">
             {{entry.get_title_safe | safe}}
	      </span>
          <div class="link-list-item-description">{{entry.source.title| slice:":100"}}</div>
       </div>
   </div>
</a>
