{% extends base_generic %}
{% load static %}
{% block content %}

  {% include "rsshistory/entry_list__actions.html" %}

  {% include "rsshistory/form_filter_oneliner_element.html" %}

  <span id="listStatus">
  </span>

  <span id="listData">
  </span>

  <div id="pagination">
  </div>

  <div id="queryInfo">
  </div>

  <script>
  let show_pure_links = 0;
  let highlight_bookmarks = false;
  </script>

  <script src="{% static 'rsshistory/entries_library.js' %}?=4"></script>

  <script>
  {% include "rsshistory/entry_list__script.js" %}
  </script>

{% endblock %}
