{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'rsshistory:entry-rule-add' %}" title="Add new entry rule" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_add.html" %}
    </a>
    <a href="{% url 'rsshistory:entry-rules-json' %}" title="Shows JSON for entry rules" class="btn btn-primary" role="button">
        JSON
    </a>
    <a href="{% url 'rsshistory:block-lists' %}" title="Block rules" class="btn btn-primary" role="button">
        Block rules
    </a>
</div>

<h1>Entry rules</h1>
  {% if content_list %}
     <div class="list-group">
         {% for entry_rule in content_list %}
         <div class="list-group-item d-flex justify-content-between align-items-center">
             <a href="{% url 'rsshistory:entry-rule' entry_rule.id %}"
                class="list-group-item-action"
                title="{{entry_rule.rule_name}}">
                 {% if not entry_rule.enabled %}
                    [DISABLED]
                 {% endif %}

                 {% if entry_rule.trust %}
                  [T]
                 {% endif %}
                 {% if entry_rule.block %}
                  [B]
                 {% endif %}
                 {% if entry_rule.apply_age_limit %}
                  [A]
                 {% endif %}
                 {% if entry_rule.browser %}
                  [W]
                 {% endif %}
                 {% if entry_rule.auto_tag %}
                  [#]
                 {% endif %}

                 {{entry_rule.rule_name}}
             </a>

             <div>
                <a href="{% url 'rsshistory:entry-rule-remove' entry_rule.id %}" class="btn btn-sm btn-secondary" role="button">
                   {% include "rsshistory/icon_remove.html" %}
                </a>
	     </div>
	 </div>
         {% endfor %}
  {% else %}
    No rules yet
  {% endif %}

{% endblock %} 
