<div
    title="{{entry.get_title_safe}} {{entry.link}} {{entry.get_long_description}}"
      {% if entry.bookmarked %}
      class="list-group-item list-group-item-action list-group-item-primary"
      {% else %}
      class="list-group-item list-group-item-action"
      {% endif %}

      {% if not entry.is_valid %}
      style="opacity: 0.5"
      {% endif %}
    >
    <a href="{{ entry.link }}" >
        <div>
            {% include "rsshistory/entry_thumbnail_element.html" %}
            <span class="linklistitemtitle">{{entry.title}}</span>
            <span class="linklistitemdescription">{{entry.source.title}}</span>
        </div>
    </a>

    {% if user.is_staff %}
    <div>
        <a href="{{ entry.get_absolute_url }}" class="btn btn-secondary" role="button">
            Details
        </a>
        {% if entry.bookmarked %}
        <a href="{% url 'rsshistory:entry-notbookmark' entry.id %}" class="btn btn-secondary" role="button">
            Not bookmarked
        </a>
        <a href="{% url 'rsshistory:entry-tag' entry.id %}" class="btn btn-secondary" role="button">Tag entry</a>
        {% else %}
        <a href="{% url 'rsshistory:entry-star' entry.id %}" class="btn btn-secondary" role="button">
            Bookmark
        </a>
        {% endif %}
    </div>
    {% else %}
    <hr>
    {% endif %}
</div>
