<div
   {% if entry.bookmarked %}
   title="{{entry.get_title_safe}} {{entry.entry}} {{entry.get_long_description}}"
   {% endif %}

   {% if entry.bookmarked %}
   class="my-1 p-1 list-group-item list-group-item-action list-group-item-primary"
   {% else %}
   class="my-1 p-1 list-group-item list-group-item-action"
   {% endif %}

   {% if not entry.is_valid %}
   style="opacity: 0.5"
   {% endif %}
   >

   <div class="entry">
       <a href="{{ entry.get_absolute_url }}" class="linklistitemtitle">
           <div>
               {% if user_config.show_icons %}
               <img src=
                    {% if user_config.thumbnails_as_icons %}
                    "{{entry.get_thumbnail}}"
                    {% else %}
                    "{{entry.get_favicon}}"
                    {% endif %}

                    {% if user_config.small_icons %}
                    class="rounded icon-small"
                    {% else %}
                    class="rounded icon-normal"
                    {% endif %}
                    />
               {% endif %}

               {{entry.get_title_safe}} {{entry.get_long_description}}
           </div>
       </a>
       <div class="linklistitemdescription">
           {% if entry.get_tag_string %}
           Tags: 
           {% for tag in entry.get_tag_map %}
           <a href='{% url 'rsshistory:entries'%}?tag="{{tag}}"' class="btn btn-secondary" role="button">{{tag}}</a>
           {% endfor %}
           {% endif %}
           {% if entry.bookmarked %}
           User: {{entry.user}}
           {% endif %}

       </div>
   </div>
</div>
