{% extends base_generic %}
{% load static %}
{% block content %}

   {{object_controller.get_frame_html | safe }}
   
   <a href="{{ object.link }}" title="{{ object.link }}">
      <div>
         <h1
             class="link-title"
              {% if not object.is_valid %}
              style="opacity: 0.5"
              {% endif %}
             >

	     <div>
             {{ object_controller.get_title_html }}
	     </div>
         </h1>

         <span>
           {% include "rsshistory/icon_external.html" %}
            {{object.link}}
         </span>
      </div>
   </a>

   <div>
     {% include "rsshistory/entry_detail__parameters.html" %}
   </div>

   {% include "rsshistory/entry_detail__tags.html" %}

   <div id="entryVoteContainer">
   </div>

   <div id="entryDownloadContainer">
   </div>

   <div id="entryUpdateContainer">
   </div>

   {% include "rsshistory/entry_detail__source.html" %}

   <div id="entryMenu" class="d-flex">
   {% include "rsshistory/entry_detail__buttons.html" %}
   </div>

   <div id="entryStatusLine" class="mb-2 bg-warning text-dark">
   </div>

   <div id="entryDescription" class="link-detail-description">
   {{object_controller.get_description_html | safe | linebreaks }}
   </div>

   <div id="bodyBlock">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
   </div>

   <script>
   {% include "rsshistory/entry_detail__script.js" %}
   </script>

{% endblock %}
