<script>
    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    function loadHistory(attempt = 1) {
        $.ajax({
            url: '{% url 'rsshistory:get-user-search-history' %}',
            type: 'GET',
            timeout: 15000,
            success: function(data) {
                $('#searchHistory').html(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 2) {
                    loadHistory(search_term, page, attempt + 1);
                    $('#searchHistory').html("Error loading dynamic content, retry");
                }
                else {
                    $('#searchHistory').html("Cannot load data from " + url)
                }
            }
        });
    }

    let currentRequestVersion = 0;

    function loadEntryListContent(search_term = '', page = '', attempt = 1) {
       $('.btnFilterTrigger').prop("disabled", true);

       const currentUrl = new URL(window.location);
       const currentSearch = currentUrl.searchParams.get('search') || '';

       page = page || currentUrl.searchParams.get('page') || '1';

       if (!search_term) {
           search_term = currentSearch;
       } else if (currentSearch !== search_term) {
           page = '1';
       }

       currentUrl.searchParams.set('search', search_term);
       currentUrl.searchParams.set('page', page);

       window.history.pushState({}, '', currentUrl);

       const url = `{{query_page}}?${currentUrl.searchParams.toString()}`;

       const requestVersion = ++currentRequestVersion;

       const status_text = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading... ' + url;
       $('#entriesListStatus').html(status_text);

        $.ajax({
            url: url,
            type: 'GET',
	    timeout: 15000,
            success: function(data) {
                if (requestVersion === currentRequestVersion) {
                   $('html, body').animate({ scrollTop: 0 }, 'slow'); // scroll to top

                   $('#entriesList').html(data);
                   $('#entriesListStatus').html("");
                   loadHistory();
                }
            },
            error: function(xhr, status, error) {
                if (attempt < 2) {
                    loadEntryListContent(search_term, page, attempt + 1);
                    $('#entriesListStatus').html("Error loading dynamic content, retry");
                }
                else {
                    $('#entriesListStatus').html("Cannot load data from " + url);
                }
            },
            complete: function() {
                $('.btnFilterTrigger').prop("disabled", false);
            }
        });
    }

    function isEmpty( el ){
        return !$.trim(el.html())
    }

    $(document).ready(function() {
        var show = getQueryParam('show') || '';
        var auto_refresh = getQueryParam('auto-refresh') || '';
        var search_term = getQueryParam('search') || '';

        // if (user specified search, or show is true), and entrylist is empty
        if (search_term || show) {
            if (isEmpty($('#entriesList'))) {
                loadEntryListContent();
            }
        }

        // if auto refresh - keep refreshing list - for kiosk mode
        if (auto_refresh && !isNaN(auto_refresh)) {
            setInterval(function() {
                loadEntryListContent();
            }, parseInt(auto_refresh));
        }

        $(document).on('click', '.btnFilterTrigger', function(e) {
            e.preventDefault();

            // search if user specified search. pass page also

            var search_term = $(this).data('search') || $('#id_search').val();
            var page = $(this).data('page')

            if ($(this).data('search')) {
                $('#id_search').val(search_term);
            }

            $('#searchHistory').collapse('hide');
            $('#searchSyntax').collapse('hide');

            loadEntryListContent(search_term, page);
        });
    });
</script>
