{% load static %}

<form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
    {% for field in filter_form %}
       {% if field.is_hidden %}
       <div style="display:none">
       {% else %}
       <div class="form-group row m-0 p-0">
       {% endif %}
          <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label my-0 py-0">{{field.label}}</label>
          <div class="col-sm-10 my-0 py-0">
             <div>
             {{field }}
             </div>
	     {% if field.help_text %}
             <small id="{{field.id_for_label}}_help" class="form-text text-muted">
               {{field.help_text | safe }}
             </small>
	     {% endif %}
          </div>
       </div>
    {% endfor %}

    <div class="mt-2">
       <button type="submit" value="Search" class="btn btn-primary" role="button">Search</button>

       <!--a href="{{reset_link}}" class="btn btn-secondary" role="button">
         <img src="{% static 'rsshistory/icons/icons8-start-100.png' %}" class="content-icon" />
         Reset
       </a-->
    </div>
</form>

<ul>
  {% for field, errors in filter_form.errors.items %}
    {% for error in errors %}
      <li>{{ field|title }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
</ul>
