<form action="{{form.action_url}}" method="{{form.method}}">
   {% csrf_token %}

   {% for field in form %}
        <label for="{{field.id_for_label}}" class="col-form-label">{{field.label}}</label>

        <span>
        {{field }}
        </span>
   {% endfor %}

    {% if form_submit_button_name %}
       <button type="submit" value="{{form_submit_button_name}}" class="btn btn-primary" role="button">{{form_submit_button_name}}</button>
    {% else %}
       <button type="submit" value="Submit" class="btn btn-primary" role="button">Submit</button>
    {% endif %}
</form>

{% if form.errors.items %}
<ul>
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <li>{{ field|title }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
</ul>
{% endif %}

{% if form_errors %}
  <div style="color:red">
    {% for error in form_errors %}
     <div>{{error}}</div>
    {% endfor %}
  </div>
{% endif %}

{% if form_warnings %}
  <div style="color:red">
    {% for warning in form_warnings %}
     <div>{{warning}}</div>
    {% endfor %}
  </div>
{% endif %}

{% if form_notes %}
  <div>
    {% for note in form_notes %}
     <div>{{note}}</div>
    {% endfor %}
  </div>
{% endif %}
