{% extends base_generic %}
{% load static %}
{% block content %}

{% include "rsshistory/form_basic_element.html" %}

<div>
  {% for note in notes %}
   <div>{{note}}</div>
  {% endfor %}
</div>

<div style="color:red">
  {% for warning in warnings %}
   <div>{{warning}}</div>
  {% endfor %}
</div>

<div style="color:red">
  {% for error in errors %}
   <div>{{error}}</div>
  {% endfor %}
</div>

<ul>
    <li>Internet is dangerous, so carefully select which links you add</a>
</li>

{% endblock %}
