{% if entry_query_names and entry_query_operators %}
<div class="border border-secondary rounded">
      Available fields:
      <ul>
          <li>
              {% for entry_query_name in entry_query_names %}
              "{{entry_query_name}}",
              {% endfor %}
          </li>
      </ul>

      Available comparison operators:
      <ul>
          <li>
              {% for entry_query_operator in entry_query_operators %}
              "{{entry_query_operator}}",
              {% endfor %}
          </li>
      </ul>

      Notes:
      <ul>
          <li>"&" - And</li>
          <li>"|" - Or</li>
          <li>"~" - Not, must appear before bracket</li>
          <li>
              "===" - iexact
          </li>
          <li>
              "==" for compare this = that
          </li>
          <li>
              "=" to find items containing string (icontains)
          </li>
          <li>
              <a href="https://docs.djangoproject.com/en/5.0/ref/models/querysets/#field-lookups">
                       {% include "rsshistory/icon_external.html" %}
                                   Standard Django operators</a> are also supported. "title__isnull == True" Is correct search term.
          </li>
          <li>System accepts brackets</li>
      </ul>

      Examples:
      <ul>
          <li>"china" - searches for china</li>
          <li>"china | japan" - searches china, or japan</li>
          <li>"title = china" - searches anything with china inside</li>
          <li>"field = True" - all rows with 'field' being True</li>
          <li>"field__icontains = something" - all rows with 'field' containing 'something'</li>
          <li>"(title = china | title = japan) & bookmarked = True" - all bookmarked link, with china, or japan in title</li>
      </ul>
</div>
{% endif %}
