{% extends base_generic %}
{% load static %}
{% block content %}

<div style="margin-top: 20vh;">
   {% if user_choices %}
       <!-- normal display -->
       {% include "rsshistory/filterform_basic_element.html" %} 
   {% else %}
       <!-- simple display, only search -->
       <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
           {% for field in filter_form %}
                 <label for="{{field.id_for_label}}" class="col-form-label">{{field.label}}</label>
   
                <span>
                {{field }}
                </span>
           {% endfor %}
   
          <button type="submit" value="Search" class="btn btn-primary" role="button">Search</button>
       </form>
   {% endif %}
   
   <div>
   {% include "rsshistory/form_search_syntax_element.html" %} 
   </div> 
</div>

{% endblock %}
