{% load static %}

<!-- this element should be uesd by lists, to filter elements -->

<form id="filterForm" action="{{form.action_url}}" method="{{form.method}}">
    {% for field in form %}
       {% if field.is_hidden %}
       <div style="display:none">
       {% else %}
       <div class="form-group row m-0 p-0">
       {% endif %}
          <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label my-0 py-0">{{field.label}}</label>
          <div class="col-sm-10 my-0 py-0">
             <div>
             {{field }}
             </div>
	     {% if field.help_text %}
             <small id="{{field.id_for_label}}_help" class="form-text text-muted">
               {{field.help_text | safe }}
             </small>
	     {% endif %}
          </div>
       </div>
    {% endfor %}

    <div class="mt-2">
    {% if form_submit_button_name %}
       <button type="submit" value="Search" class="btn btn-primary btnFilterTrigger" role="button">{{form_submit_button_name}}</button>
    {% else %}
       <button type="submit" value="Search" class="btn btn-primary btnFilterTrigger" role="button">Search</button>
    {% endif %}

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#searchHistory" role="button" aria-expanded="false" aria-controls="searchHistory" title="Search history">
      History
    </a>

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#searchSyntax" role="button" aria-expanded="false" aria-controls="searchSyntax" title="Search syntax">
      ?
    </a>
    </div>
</form>

<div class="collapse" id="searchHistory">
    No history
</div> 

<div class="collapse" id="searchSyntax">
   {% include "rsshistory/form_search_syntax_element.html" %} 
</div> 

<ul>
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <li>{{ field|title }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
</ul>

{% if form_errors %}
  <div style="color:red">
    {% for error in form_errors %}
     <div>{{error}}</div>
    {% endfor %}
  </div>
{% endif %}

{% if form_warnings %}
  <div style="color:red">
    {% for warning in form_warnings %}
     <div>{{warning}}</div>
    {% endfor %}
  </div>
{% endif %}

{% if form_notes %}
  <div>
    {% for note in form_notes %}
     <div>{{note}}</div>
    {% endfor %}
  </div>
{% endif %}
