{% extends base_generic %}

{% block content %}

<h1>{{form_title}}</h1>

<p>{{form_description}}<p>

<form action="{{form.action_url}}" method="{{form.method}}">
    {{ form }}
    <input type="submit" value="Submit">
</form>

  <p>
  <div><a href="{% url 'rsshistory:show-tags' %}">Tags by popularity</a></div>
  </p>

  <h2>Topics suggestions</h2>
  Example search terms:
  <ul>
    <li>microsoft, apple, nvidia, samsung, xiaomi, amazon, alphabet, facebook, meta, twitter, neuralink, paypal</li>
    <li>big tech, surveillance, facial recognition, biometric, privacy, censorship, conspiracy, cbdc, crypto, bitcoint, social media, whistleblower, banned, pegasus, cellebrite</li>
    <li>china, iran, israel, Palestine, russia, government, christian, islam, jewish, antisemite, satan, immigration</li>
    <li>woke, lgbt, gender, feminism, queer, trans, january 6, qanon, cancel culture, elections, stolen elections, sabotage, terrorist, hate speech, pedophile, groom, extremism, dystopian</li>
    <li>climate change, carbon footprint, carbon emissions, co2, cancer, pollution, greta</li>
    <li>flat earth, conspiracy theory, misinformation, factcheck, propaganda, moderation, social engineering, cognitive engineering, science</li>
    <li>zuckerberg, musk, biden, Justin Trudeau, hunter biden, trump, bill gates, ghislaine, epstein, joe rogan, alex jones, tim pool, tim cook, fauci, george soros, jordan peterson, steven crowder, snowden, orwell, merkel, kanye west, jfk, Kennedy, putin, clinton, obama, jaron lanier</li>
    <li>Twitter Files, pizzagate, qatargate, cablegate</li>
    <li>wikileaks, julian assange, corrupt, scandal, noam chomsky, corporatocracy, techno feudalism</li>
    <li>Kaczyński, morawiecki, obajtek</li>
  </ul>

  <h2>top 2022 topics</h2>
  <ul>
    <li>elon musk, twitter files, qatar, queen, jack dorsey</li>
    <li>blackrock, larry fink, esg, vanguard</li>
    <li>climate change, carbon footprint, carbon emissions, co2, cancer, pollution, greta</li>
  </ul>

  <h2>top 2021 topics</h2>
  <ul>
    <li>january 6, trump</li>
    <li>facebook files</li>
  </ul>

  <h2>top 2020 topics</h2>
  <ul>
    <li>covid, vaccine, pfizer, moderna, astra, pandemic, pandemic amnesty, fda, cdc, immunity, herd immunity, digital passport, digital id, fauci, wuhan</li>
    <li>wef, klaus schwab, great reset, global reset, young leaders, sdg, Sustainable Development Goals, Sustainable growth, cbdc, digital passport, digital id, davos</li>
    <li>george floyd, black lives, diversity, blm, white privilege, kyle rittenhouse, McCloskey</li>
  </ul>

  <h2>top 2019 topics</h2>
  <ul>
    <li>esptein, ghislaine, pedophile, hong kong</li>
  </ul>

  <h2>top 2018 topics</h2>
  <ul>
    <li>cambridge analytica, facebook, zuckerberg, trump</li>
  </ul>

  <h2>top 2017 topics</h2>
  <ul>
    <li>google, james damore</li>
  </ul>

  <h2>top 2013 topics</h2>
  <ul>
    <li>aaron swartz, snowden, nsa, five eyes, cambridge analytica, merkel</li>
  </ul>

  <h2>top 2010 topics</h2>
  <ul>
    <li>julian assange, wikileaks, cablegate, hillary clinton</li>
  </ul>

  <h2>top 2001 topics</h2>
  <ul>
    <li>osama, 9/11</li>
  </ul>

  <h2>1999 topics</h2>
  <ul>
    <li>dupoint</li>
  </ul>

{% endblock %}
