<h2>Search syntax</h2>
Examples:
<ul>
    <li>"china" - searches china in title</li>
    <li>"china | japan" - searches china, or japan in title</li>
    <li>"title = china" - searches anything with China in title</li>
    <li>"tags__tag = tag" - searches links with tag</li>
    <li>"bookmarked = True" - all bookmarked link</li>
    <li>"(title = china | title = japan) & bookmarked = True" - all bookmarked link, with china, or japan in title</li>
</ul>

Available fields:
<ul>
    <li>
    {% for entry_query_name in entry_query_names %}
        "{{entry_query_name}}",
    {% endfor %}
    </li>
</ul>

Available comparison operators:
<ul>
    <li>
    {% for entry_query_operator in entry_query_operators %}
        "{{entry_query_operator}}",
    {% endfor %}
    </li>

    <li>
       "==" for exact compare, "=" to find items containing string, ">" for comaparing if greater than, "<" for comaparing if less than, ">=", "<=", "~" for negation
    </li>

    <li>
        <a href="https://docs.djangoproject.com/en/5.0/ref/models/querysets/#field-lookups">Standard Django operators</a> are also supported. "title__isnull == True" Is correct search term.
    </li>
</ul>

Available condition operators
<ul>
    <li>"&" - And, "|" - Or, "~" - Not</li>
</ul>

System accepts brackets.
