{% extends base_generic %}
{% load static %}
{% block content %}

{% include "rsshistory/linkdatacontroller_list_actions.html" %}

<form action="{{form.action_url}}" method="{{form.method}}">
    <table>
    {{ form }}
    <tr>
        <td>
        <input type="submit" value="Search" class="btn btn-primary" role="button">
        </td>
    </tr>
    </table>
</form>

{% include "rsshistory/search_places_element.html" %} 
<hr/>

{% include "rsshistory/form_search_syntax_element.html" %} 
<hr/>

{% endblock %}
