{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">
        <img src="{% static 'rsshistory/icons/icons8-back-100.png' %}" class="content-icon" />
    </a>
</div>

<form action="{{form.action_url}}" method="{{form.method}}">
    <table>
    {{ form }}
    <tr>
        <td>
        <input type="submit" value="Search" class="simplebutton">
        </td>
    </tr>
    </table>
</form>

{% include "rsshistory/form_search_places_element.html" %} 
<hr/>

{% include "rsshistory/form_search_syntax_element.html" %} 
<hr/>

{% endblock %}
