{% extends base_generic %}

{% block content %}

<h1>{{form_title}}</h1>

<p>{{form_description}}<p>

<form action="{{form.action_url}}" method="{{form.method}}">
    {{ form }}
    <input type="submit" value="Submit">
</form>

  <p>
  <div><a href="{% url 'rsshistory:show-tags' %}" class="simplebutton">Tags by popularity</a></div>
  </p>

  <h2>Topics suggestions</h2>
  Example search terms:
  <ul>
    <li>Big Pharma, Covid, SARS-COV-2, vaccine, Pfizer, Moderna, Astra, pandemic, pandemic amnesty, FDA, CDC, immunity, herd immunity, digital passport, digital ID, Fauci, Wuhan</li>
    <li>BigTech, BigBrother, surveillance, facial recognition, biometric, privacy, censorship, conspiracy, CBDC, crypto, bitcoint, social media, whistleblower, banned, Five Eyes</li>
    <li>pegasus, cellebrite, rootkit, skygofree, vault7, notpetya, petya, wannacry, mydoom worm, sobig, klez, iloveyou, zeus trojan, code red, slammer, cryptolocker, sasser, emotet, stuxnet, sql slammer, malware, trojan, virus</li>
    <li>chatgpt, artificial intelligence</li>
    <li>woke, lgbt, gender, feminism, queer, trans, january 6, qanon, cancel culture, elections, stolen elections, sabotage, terrorist, hate speech, pedophile, groom, extremism, dystopian</li>
    <li>climate change, carbon footprint, carbon emissions, co2, cancer, pollution, Greta Thunberg, agriculture</li>
    <li>flat earth, conspiracy theory, misinformation, disinformation, factcheck, propaganda, moderation, social engineering, cognitive engineering, science, scandal, corruption</li>
    <li>Mark Zuckerberg, Elon Musk, Bill Gates, Joe Rogan, Tim Cook, Jack Dorsey, Jeff Bezos, Jaron Lanier</li>
    <li>Joe Biden, Hunter Biden, Justin Trudeau, Donald Trump, Ghislaine Maxwell, Jeffrey Epstein, George Soros, Fauci, George Orwell, Merkel, Hillary Clinton, Barack Obama, jfk, Kennedy, Putin</li>
    <li>Jordan Peterson, Kanye West, Putin, Steven Crowder, Tim Pool, Alex Jones, George Floyd</li>
    <li>Twitter Files, Pizzagate, Qatargate, Cablegate, Facebook files, Wikileaks, Julian Assange</li>
    <li>Corporatocracy, Techno feudalism, Stakeholder Capitalism, Corrupt, Noam Chomsky, Manufacturing Consent, Socialism, NeoMarxism, Social Democracy</li>
    <li>China, Iran, Israel, Palestine, Russia, Government, christian, islam, jewish, antisemite, satan, immigration</li>
    <li>Microsoft, Apple, Nvidia, Samsung, Xiaomi, Amazon, Alphabet, Google, YouTube, Facebook, Meta, Twitter, Neuralink, Paypal</li>
    <li>Kaczyński, Morawiecki, Trzaskowski, Grzegorz Braun, Jerzy Owsiak, Mentzen, Obajtek</li>
    <li>George Floyd, Black Lives Matters, BLM, inclusivity, Diversity, White Privilege, Kyle Rittenhouse, McCloskey</li>
    <li>World Economic Forum, WEF, Klaus Schwab, Great Reset, Global Reset, Young Leaders, Sustainable Development Goals, Sustainable growth, CBDC, Digital money, Digital passport, Digital ID, Davos, Stakeholder capitalism</li>
    <li>Ubuntu, Linux, open source</li>
  </ul>

  <h2>Tags meaning</h2>
  Some entries have several tags potentially mutually exclusive. For example "censorship and moderation". Sometimes it is hard to define if it is positive censorship, or negative.
  <ul>
      <li>HateSpeech - this term is used often by a woke mob. We use it to target real hate speech. Also agains white straight dudes. It also counts</li>
      <li>SelfHost - everything related to hosting things by yourself, on raspberry pi, etc</li>
      <li>Technofeudalism - reliance on big tech</li>
      <li>Subscription, or youwillownnothing - everything related to reliance on subscription models that make you not owning anything</li>
      <li>Antitrust - everything that shows that you cannot trust big tech</li>
      <li>ScienceIsDead - everything that proves that you cannot trust science today</li>
      <li>Manufacturing consent - everything that proves that nodes in a 'system' operates in unison. That everything outside of the system is rejected.</li>
      <li>Disinformation - things that could have been created to direct attention</li>
      <li>BigBrother - every power move of government performed to gain control</li>
  </ul>

  <h2>top 2023 topics</h2>
  <ul>
    <li>Brazil, Peru, January 6</li>
    <li>Obajtek</li>
    <li>SVB, FTX</li>
    <li>Chineese balloon</li>
    <li>Lockdown files</li>
  </ul>

  <h2>top 2022 topics</h2>
  <ul>
    <li>Elon Musk, Twitter Files, qatar, Queen, Jack Dorsey</li>
    <li>BlackRock, Larry Fink, ESG, Vanguard</li>
    <li>Climate Change, Carbon Footprint, Carbon emissions, Co2, Cancer, Pollution, Greta Thunberg</li>
    <li>Alex Jones</li>
  </ul>

  <h2>top 2021 topics</h2>
  <ul>
    <li>January 6, Trump</li>
    <li>Facebook files</li>
  </ul>

  <h2>top 2020 topics</h2>
  <ul>
    <li>Covid, Vaccine, Pfizer, Moderna, Astra, Pandemic, Pandemic amnesty, FDA, CDC, Herd immunity, Digital passport, Digital ID, QR code, Fauci, Wuhan</li>
    <li>World Economic Forum, WEF, Klaus Schwab, Great reset, Global reset, Young Leaders, Sustainable Development Goals, Sustainable Growth, CBDC, Digital passport, Digital ID, Davos, Stakeholder Capitalism</li>
    <li>George Floyd, Black Lives Matters, BLM, Inclusivity, Diversity, White Privilege, Kyle Rittenhouse, McCloskey</li>
  </ul>

  <h2>top 2019 topics</h2>
  <ul>
    <li>Jeffrey Esptein, Ghislaine Maxwell, pedophile, Hong Kong</li>
  </ul>

  <h2>top 2018 topics</h2>
  <ul>
    <li>Cambridge Analytica, Facebook, Mark Zuckerberg, Donald Trump</li>
  </ul>

  <h2>top 2017 topics</h2>
  <ul>
    <li>Google, James Damore</li>
  </ul>

  <h2>top 2013 topics</h2>
  <ul>
    <li>Aaron Swartz, Edward Snowden, NSA, Five Eyes, Cambridge Analytica, Angela Merkel</li>
  </ul>

  <h2>top 2010 topics</h2>
  <ul>
    <li>Julian Assange, WikiLeaks, Cablegate, Hillary Clinton</li>
  </ul>

  <h2>top 2001 topics</h2>
  <ul>
    <li>Osama Bin Laden, 9/11</li>
  </ul>

  <h2>1999 topics</h2>
  <ul>
    <li>Dupoint</li>
  </ul>

{% endblock %}
