{% extends base_generic %}
{% load static %}

{% block content %}
  <h1>RSS history Index</h1>
  <p>This is a Rss History index.</p>

  <h2>Content</h2>
  <ul>
    <li><strong>Sources:</strong> {{ num_sources }}</li>
    <li><strong>Entries:</strong> {{ num_entries }}</li>
    <li><strong>Persistent:</strong> {{ num_persistent }}</li>
  </ul>

  <h2>Details</h2>
  With this server you can:
  <ul>
    <li>create a database of news/articles</li>
    <li>create your own source of information</li>
  </ul>

  <h2>Your own</h2>
  <ul>
    <li>You can create your own instance: <a href="https://github.com/rumca-js/Django-rss-feed">GitHub</a></li>
    <li>You can edit templates, styles</li>
    <li>You can change icons: <a href="https://icons8.com/icons/">https://icons8.com/icons/</a></li>
    <li>You can add your own sources: <a href="https://blog.feedspot.com/tech_news_rss_feeds/">https://blog.feedspot.com/tech_news_rss_feeds/</a></li>
    <li>You can search history using keywords. Like: microsoft, apple, nvidia, samsung, xiaomi, amazon, alphabet, facebook, meta, big tech, biden, trump, ghislaine, epstein, joe rogan, alex jones, tim pool, china, iran, israel, government, january 6, fauci, blackrock, covid, woke, surveillance, privacy, censorship, conspiracy, lgbt, gender, christian, islam, jewish, satan, whistleblower, social media, banned, immigra, black lives, blm, qanon, great reset, klaus schwabb, george soros, jordan peterson, cancel culture</li>
    <li>You can browse file exports for keywords</li>
  </ul>
  
  <p>
  Let the refresh button F5 be with you!
  </p>
  
  <p>
  <img src="{% static 'catalog/images/piesel.jpg' %}" width="30%">
  </p>

{% endblock %}
