{% extends base_generic %}
{% load static %}

{% block content %}
  <h1>Personal Link Database</h1>
  <p>This is a Personal Link Database.</p>

  <h2>Content</h2>
  <ul>
    <li><strong>Sources:</strong> {{ num_sources }}</li>
    <li><strong>Entries:</strong> {{ num_entries }}</li>
    <li><strong>Archived:</strong> {{ num_archived }}</li>
    <li><strong>Persistent:</strong> {{ num_persistent }}</li>
  </ul>

    <h2>Suite of projects</h2>
  <ul>
      <li>Captured using Django application: <a href="https://github.com/rumca-js/Django-link-archive">https://github.com/rumca-js/Django-link-archive</a></li>
      <li>Bookmarked links <a href="https://github.com/rumca-js/RSS-Link-Database">https://github.com/rumca-js/RSS-Link-Database</a></li>
      <li>daily RSS Git repository for the year 2023 <a href="https://github.com/rumca-js/RSS-Link-Database-2023">https://github.com/rumca-js/RSS-Link-Database-2023</a></li>
      <li>daily RSS Git repository for the year 2022 <a href="https://github.com/rumca-js/RSS-Link-Database-2022">https://github.com/rumca-js/RSS-Link-Database-2022</a></li>
      <li>daily RSS Git repository for the year 2021 <a href="https://github.com/rumca-js/RSS-Link-Database-2021">https://github.com/rumca-js/RSS-Link-Database-2021</a></li>
      <li>daily RSS Git repository for the year 2020 <a href="https://github.com/rumca-js/RSS-Link-Database-2020">https://github.com/rumca-js/RSS-Link-Database-2020</a></li>
  </ul>
  
  <p>
  <img src="{% static 'rsshistory/images/piesel.jpg' %}" width="30%">
  </p>

{% endblock %}
