{% extends base_generic %}
{% load static %}

{% block content %}
  <h1>RSS Archive</h1>
  <p>This is a Rss Archive.</p>
  <p>
  Who Controls the Past Controls the Future
  </p>
  

  <h2>Content</h2>
  <ul>
    <li><strong>Sources:</strong> {{ num_sources }}</li>
    <li><strong>Entries:</strong> {{ num_entries }}</li>
    <li><strong>Persistent:</strong> {{ num_persistent }}</li>
  </ul>

  <h2>Details</h2>
  With this server you can:
  <ul>
    <li>create an archive of news/articles</li>
    <li>create your own source of information</li>
  </ul>

  <h2>Your own</h2>
  <ul>
    <li>You can create your own instance: <a href="https://github.com/rumca-js/Django-rss-feed">GitHub</a></li>
    <li>You can edit templates, styles</li>
    <li>You can change icons: <a href="https://icons8.com/icons/">https://icons8.com/icons/</a></li>
    <li>You can add your own sources: <a href="https://blog.feedspot.com/tech_news_rss_feeds/">https://blog.feedspot.com/tech_news_rss_feeds/</a></li>
  </ul>

  <h2>Topics suggestions for searching</h2>
  Examples:
  <ul>
    <li>You can search history using keywords, like: microsoft, apple, nvidia, samsung, xiaomi, amazon, alphabet, facebook, meta, twitter, neuralink, big tech, surveillance, privacy, censorship, conspiracy, cbdc, crypto, bitcoint, whistleblower, social media, banned</li>
    <li>china, iran, israel, russia, government, january 6, blackrock, covid, vaccine, christian, islam, jewish, satan, immigration</li>
    <li>woke, cbdc, lgbt, gender, queer, trans, whistleblower, black lives, blm, white privilege, qanon, great reset, cancel culture, elections, stolen elections, sabotage, terrorist, hate speech, propaganda, corrupt</li>
    <li>zuckerberg, musk, biden, Justin Trudeau, hunter biden, trump, bill gates, ghislaine, epstein, joe rogan, alex jones, tim pool, tim cook, fauci, klaus schwab, george soros, jordan peterson, joe rogan, steven crowder, snowden, orwell</li>
  </ul>

<h2>Ground rules</h2>
  Examples:
  <ul>
    <li>Do not allow ads, remain open source</li>
    <li>no piracy</li>
    <li>don't be evil, but allow free speech</li>
    <li>allow to be able to offend. this is for grown ups, not for kids</li>
</ul>

  <p>
  Let the refresh button F5 be with you!
  </p>
  
  <p>
  <img src="{% static 'catalog/images/piesel.jpg' %}" width="30%">
  </p>

{% endblock %}
