
  <h2>User management (to be done)</h2>
  <ul>
      <li>New users can be added by administrator, or moderators, or users with enough amount of karma</li>
      <li>You do not set passwords, you are given a proper one. Write it down.</li>
  </ul>

  Karma effects on the users
  <ul>
      <li>If you have karma below 0, your account is banned</li>
      <li>After certain threshold you can submit new links</li>
      <li>After certain threshold you can submit comments</li>
      <li>After certain threshold you can upvote, downvote comments</li>
      <li>After certain threshold you can add users</li>
  </ul>

  What causes karma to change
  <ul>
      <li>admin, or moderators</li>
      <li>adding vote for a link</li>
      <li>upvotes, or downvotes on comments</li>
      <li>bans of other users you invited</li>
  </ul>

