{% extends base_generic %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>
    <a href="{% url 'rsshistory:keyword-remove' %}" title="Removes keyword" class="simplebutton">Remove a keyword</a>
</div>

<h1>KeyWords</h1>
<p>

</p>

  {% if content_list %}
      {% for keyword in content_list %}
      <span class="float-button">
          <a href="{% url 'rsshistory:entries-recent'%}?search={{keyword.0}}" class="simplebutton">{{keyword.0}} {{keyword.1}}</a>
      </span>
      {% endfor %}
    <hr>

  {% else %}
    No keywords yet
  {% endif %}

<h1>Details</h1>

Keywords are obtained from every new link title. After 2 days keywords are removed.

{% endblock %}
