{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <a href="{% url 'rsshistory:keyword-remove' %}" title="Removes keyword" class="btn btn-secondary" role="button">Remove a keyword</a>
</div>

<h1>KeyWords</h1>
<p>
Last updated {{last_date}}
</p>

  {% if content_list %}
      {% for keyword in content_list %}
      <span class="float-button">
          <a href="{% url 'rsshistory:entries-recent'%}?search={{keyword.0}}" class="btn btn-secondary" role="button">{{keyword.0}} {{keyword.1}}</a>
      </span>
      {% endfor %}
    <hr>

  {% else %}
    No keywords yet
  {% endif %}

<h1>Details</h1>

Keywords are obtained from every new link title. After 2 days keywords are removed.

{% endblock %}
