{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container-fluid">
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:entry-add-simple' %}" class="btn btn-secondary" role="button" title="Opens add entry wizard">
        <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" class="content-icon" />
        Add entry
    </a>
    {% endif %}
</div>

  {% include "rsshistory/filterform_basic_element.html" %}

  {% if rss_are_fetched %}
    <span class="error-text">Sources are fetched. Queue size: {{rss_queue_size}} </span>
  {% endif %}
  {% if query_filter.is_error %}
  <p class="error-text">There errors with your query</p>
  {% endif %}

  <ul>
    {% for field, errors in filter_form.errors.items %}
      {% for error in errors %}
        <li>{{ field|title }}: {{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>

  <hr>

  {% if content_list %}
  {% if user_config.display_type == "youtube-thumbnails" %}
  <div class="d-flex flex-wrap">
  {% else %}
  <div class="container list-group">
  {% endif %}
    {% for link in content_list %}
    {% if type == "normal" %}
          {% if user_config.display_type == "clickable-tags" %}
              {% include "rsshistory/linkdatacontroller_list__clickable_tags.html" %}
          {% elif user_config.display_type == "line-and-buttons" %}
              {% include "rsshistory/linkdatacontroller_list__line_and_buttons.html" %}
          {% elif user_config.display_type == "youtube-thumbnails" %}
              {% include "rsshistory/linkdatacontroller_list__youtube_thumbnails.html" %}
          {% elif user_config.display_type == "search-engine" %}
              {% include "rsshistory/linkdatacontroller_list__search_engine.html" %}
          {% else %}
              {% include "rsshistory/linkdatacontroller_list__standard.html" %}
          {% endif %}
    {% elif type == "clear" %}
              {% include "rsshistory/linkdatacontroller_list__clean_list.html" %}
    {% endif %}
    {% endfor %}
  </div>

  {% if not page_obj.has_next and has_more_results %}
  <a href="{{ more_results_link }}" class="btn btn-secondary" role="button">More results</a>
  {% endif %}

  <hr>
  <div class="container">
   {% include "rsshistory/pagination.html" %}
  </div>

  {% else %}
    <p>There are no links.</p>

    <a href="{{ more_results_link }}" class="btn btn-secondary" role="button">More results</a>
  {% endif %}

  <div class="container">
      <a href="{% url 'rsshistory:entries-json' %}?query_type={{query_type}}&{{ args }}&{{ request.GET.urlencode }}" class="btn btn-secondary" role="button">Show JSON</a>
      <a href="{% url 'rsshistory:entries' %}?query_type={{query_type}}&{{ args }}&type=clear" class="btn btn-secondary" role="button">Show Clear</a>
      <a href="{% url 'rsshistory:entries' %}?query_type={{query_type}}&{{ args }}&type=normal" class="btn btn-secondary" role="button">Show Normal</a>
  </div>

{% include "rsshistory/search_places_element.html" %}

{% endblock %}
