{% extends base_generic %}

{% block content %}

<h2>{{tags_title}}</h2>

{% for tag in tag_objects %}
    <span>
        <a href='{% url 'rsshistory:entries'%}?tag={{tag.0}}' class="simplebutton" style="margin: 5px">
            {{tag.0}} {{tag.1}}</a>
    </span>
{% endfor %}

<h2>Tag management</h2>
<ul>
  <li><a href="{% url 'rsshistory:tags-show-recent' %}" class="simplebutton">Recent tags</a></li>
  <li><a href="{% url 'rsshistory:tags-show-all' %}" class="simplebutton">All tags</a></li>
{% if user.is_staff %}
  <li><a href="{% url 'rsshistory:tag-rename' %}" class="simplebutton">Rename tag</a></li>
  <li><a href="{% url 'rsshistory:entries-untagged' %}" class="simplebutton">Untagged bookmarks</a></li>
{% endif %}
</ul>


{% endblock %} 
