<a href="{{ entry.get_absolute_url | safe }}"
   title="{{entry.title}} {{entry.entry}} {{entry.source}}"
   {% if not entry.is_valid %}
   style="opacity: 0.5"
   {% endif %}

   {% if entry.bookmarked %}
   class="my-1 p-1 list-group-item list-group-item-action list-group-item-primary"
   {% else %}
   class="my-1 p-1 list-group-item list-group-item-action"
   {% endif %}
   >

   <div class="d-flex">
      {% include "rsshistory/entry_thumbnail_element.html" %}
      <div class="mx-2">
         <span style="font-weight:bold" class="text-reset">
             {{entry.get_title | safe}}
         </span>
      </div>
   </div>

   <div class="text-reset">
        {{entry.source.title | slice:":100"}}
        {{entry.get_local_date_published}}
   </div>
</a>
