<a href="{{ link.get_absolute_url }}"
   title="{{link.get_title}} {{link.get_long_description}}"
   {% if link.bookmarked %}
   class="element_{{user_config.display_type}} element_{{user_config.display_type}}_selected"
   {% else %}
   class="element_{{user_config.display_type}}"
   {% endif %}
   >

   {% if user_config.show_icons %}
   <img src=
        {% if user_config.thumbnails_as_icons %}
        "{{link.get_thumbnail}}"
        {% else %}
        "{{link.get_favicon}}"
        {% endif %}

        {% if user_config.small_icons %}
        class="content-thumbnail"
        {% else %}
        class="content-big-thumbnail"
        {% endif %}
        />
   {% endif %}

   <span class="linklistitemtitle">
       {% if link.get_vote > 0 %}
       [{{link.get_vote}}] 
       {% endif %}
       {{link.get_title}}
   </span>
    <span class="linklistitemdescription">
        {{link.get_full_description}}
    </span>
</a>
