{% extends base_generic %}
{% load static %}
{% block content %}

  {{object_controller.get_frame_html | safe | linebreaks }}
  <div style="clear:both"></div>

  <h1><a href="{{ object.link }}" title="{{ object.link }}">
          {% if object.bookmarked %}
          [{{object.page_rating_votes}}]
          {% endif %}
          {{ object.title }}
      </a></h1>
      <div>{{object.link}}</div>

  {% if user.is_staff %}
    <p>
        <a href="{{object.get_edit_url}}" class="simplebutton" title="Edit entry">
            <img src="{% static 'rsshistory/icons/icons8-edit-100.png' %}" class="content-icon" />
        </a>
    {% if object.bookmarked %}
       <a href="{{object.get_bookmark_unset_url}}" class="simplebutton" title="Remove bookmark">
          <img src="{% static 'rsshistory/icons/icons8-not-bookmark-100.png' %}" class="content-icon" />
       </a>
    {% else %}
       <a href="{{object.get_bookmark_set_url}}" class="simplebutton" title="Bookmark it">
          <img src="{% static 'rsshistory/icons/icons8-bookmark-100.png' %}" class="content-icon" />
       </a>
    {% endif %}
    {% if object.is_taggable %}
        <a href="{% url 'rsshistory:entry-vote' object.id %}" class="simplebutton">Vote</a>
    {% endif %}

    <a href="{% url 'rsshistory:entry-download' object.id %}" class="simplebutton" title="Downloads the page to configuraton export location">
        <img src="{% static 'rsshistory/icons/icons8-download-96.png' %}" class="content-icon" />
        Page</a>

    <a href="{% url 'rsshistory:show-page-props' %}?page={{object.link}}" class="simplebutton" title="Shows page properties">
        <img src="{% static 'rsshistory/icons/icons8-download-96.png' %}" class="content-icon" />
        Page Props</a>

    {% for button in object_controller.get_menu_buttons %}
            <a href="{{button.action}}" class="simplebutton">
                {% if button.image %}
                <img src="{{button.image}}" class="content-icon" />
                {% endif %}
                {{button.name}}
            </a>
    {% endfor %}
  </p>
  {% endif %}

  <p>
      {% if user_config.show_icons %}
        <!--img src=
          {% if user_config.thumbnails_as_icons %}
              "{{link.get_thumbnail}}"
          {% else %}
              "{{link.get_favicon}}"
          {% endif %}
          width="30"/-->
      {% endif %}

      {% if object.source_obj %}
      <a href="{% url 'rsshistory:source-detail' object.source_obj.id %}" class="simplebutton" title="Source: {{object.source_obj.title}}">Source</a>
      {% else %}
      <a href="{{ object.source }}" class="simplebutton" title="{{ object.source }}">Source</a>
      {% endif %}
      <a href="{% url 'rsshistory:entries-omni-search'%}?search=artist+%3D+{{ object.artist }}" class="simplebutton">{{ object.artist }}</a>
      <a href="{% url 'rsshistory:entries-omni-search'%}?search=album+%3D+{{ object.album }}" class="simplebutton">{{ object.album }}</a>
      {% if object.domain_obj %}
      <a href="{% url 'rsshistory:domain-detail' object.domain_obj.id %}" class="simplebutton" title="{{object.link}}">Domain</a>
      {% else %}
      <a href="{% url 'rsshistory:domain-by-name' %}?domain_name={{object.get_domain_only}}" class="simplebutton" title="{{object.get_domain_only}}">Domain</a>
      {% endif %}

      <a href="{{object.get_archive_link}}" class="simplebutton">
          <img src="https://archive.org/offshoot_assets/favicon.ico" class="content-icon" title="Remove entry" />
          Archive.org</a>
      {% if user.is_staff %}
          {% if config.link_archive %}
            <a href="{% url 'rsshistory:entry-archive' object.id %}" class="simplebutton">archive.org save</a>
          {% endif %}
      {% endif %}
  </p>

  {% if user.is_staff %}
    <p>
      <a href="{% url 'rsshistory:entry-remove' object.id %}" class="simplebutton">
          <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" title="Remove entry" />
      </a>
      <a href="{% url 'rsshistory:entry-hide' object.id %}" class="simplebutton">Hide</a>
    </p>
  {% endif %}

  <p>
      {% if object.is_taggable %}
      <div><strong>Tags:</strong>
          <a href="{% url 'rsshistory:entry-tag' object.id %}" class="simplebutton">
              <img src="{% static 'rsshistory/icons/icons8-edit-100.png' %}" class="content-icon" />
          </a>
          {% endif %}
          {% if object.has_tags %}
          {% for tag in object.get_tag_map %}
          <a href="{% url 'rsshistory:entries-omni-search'%}?search=tags__tag+%3D+{{tag}}" class="simplebutton">{{tag}}</a>
          {% endfor %}
      </div>
      {% endif %}
  </p>

  <p>
      {% for parameter in object_controller.get_parameters %}
      <span><strong>{{parameter.name | safe}}:</strong> {{parameter.description | safe}}</span>
      {% endfor %}
      <span><strong>Points</strong>{{object.page_rating}}</span>
      <span><strong>Points contents</strong>{{object.page_rating_contents}}</span>
      <span><strong>Points votes</strong>{{object.page_rating_votes}}</span>
      <span><strong>User visits</strong>{{object.page_rating_visits}}</span>
  </p>

  {{object_controller.get_description_html | safe | linebreaks }}
  <div style="clear:both"></div>

{% if object.is_taggable %}
  <hr/>
  <h2>Comments</h2>
  <p>
  {% for comment in object.comments.all %}
      <div>{{comment.comment | linebreaks}}</div>
      <div>{{comment.date_published}} {{comment.author}}
          {% if comment.author == user.get_username %}
            <a href="{% url 'rsshistory:entry-comment-edit' comment.id %}" class="simplebutton" title="Edit comment">
               <img src="{% static 'rsshistory/icons/icons8-edit-100.png' %}" class="content-icon" />
            </a>
            <a href="{% url 'rsshistory:entry-comment-remove' comment.id %}" class="simplebutton" title="Remove comment">
               <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
            </a>
          {% endif %}
      </div>
      <hr/>
  {% endfor %}
  </p>

  <p>
  {% if user.is_authenticated %}
    <a href="{% url 'rsshistory:entry-comment-add' object.id %}" class="simplebutton">Add comment</a>
  {% endif %}
  </p>

{% endif %}

  <p>
    <a href="{% url 'rsshistory:entry-json' object.id %}" class="simplebutton">Show JSON</a>
  </p>

{% endblock %}
