<div
   {% if link.bookmarked %}
   title="{{link.get_title}} {{link.link}} {{link.get_long_description}}"
   {% endif %}

   {% if link.bookmarked %}
   class="my-1 p-1 list-group-item list-group-item-action list-group-item-primary"
   {% else %}
   class="my-1 p-1 list-group-item list-group-item-action"
   {% endif %}

   {% if not link.is_valid %}
   style="opacity: 0.5"
   {% endif %}
   >

   <div class="linklistitem">
       <a href="{{ link.get_absolute_url }}" class="linklistitemtitle">
           <div>
               {% if user_config.show_icons %}
               <img src=
                    {% if user_config.thumbnails_as_icons %}
                    "{{link.get_thumbnail}}"
                    {% else %}
                    "{{link.get_favicon}}"
                    {% endif %}

                    {% if user_config.small_icons %}
                    class="rounded icon-small"
                    {% else %}
                    class="rounded icon-normal"
                    {% endif %}
                    />
               {% endif %}

               {{link.get_title}} {{link.get_long_description}}
           </div>
       </a>
       <div class="linklistitemdescription">
           {% if link.get_tag_string %}
           Tags: 
           {% for tag in link.get_tag_map %}
           <a href='{% url 'rsshistory:entries'%}?tag="{{tag}}"' class="btn btn-secondary" role="button">{{tag}}</a>
           {% endfor %}
           {% endif %}
           {% if link.bookmarked %}
           User: {{link.user}}
           {% endif %}

       </div>
   </div>
</div>
