<a href="{{ link.get_absolute_url | safe }}"
   title="{{link.title}} {{link.link}} {{link.source}}"
   {% if not link.is_valid or link.is_read %}
   style="opacity: 0.5"
   {% else %}
   {% endif %}

   {% if link.bookmarked %}
   class="my-1 p-1 list-group-item list-group-item-action list-group-item-primary"
   {% else %}
   class="my-1 p-1 list-group-item list-group-item-action"
   {% endif %}
   >

   <div class="d-flex">
      {% if user_config.show_icons %}
      <div>
         <img src=
              {% if user_config.thumbnails_as_icons %}
              "{{link.get_thumbnail}}"
              {% else %}
              "{{link.get_favicon}}"
              {% endif %}

              {% if user_config.small_icons %}
              class="rounded icon-small"
              {% else %}
              class="rounded icon-normal"
              {% endif %}
              />
      </div>
      {% endif %}
      <div class="mx-2">
         <span style="font-weight:bold" class="text-reset">
             {{link.get_title | safe}}
         </span>
      </div>
   </div>

   <div class="text-reset">
        {{link.source_obj.title | slice:":100"}}
        {{link.get_local_date_published}}
   </div>
</a>
