{%if transitions%}
  <hr/>

  <h3>Related</h3>
  {% for entry in transitions %}

    <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
      {% if user_config.show_icons%}
        {% if user_config.thumbnails_as_icons %}
          <img src="{{entry.get_thumbnail}}" class="rounded icon-normal"/>
        {% else %}
          <img src="{{entry.get_favicon}}" class="rounded icon-normal"/>
        {% endif %}

        <h4>{{entry.title}}</h4>
      {% endif %}
    </a>
  {% endfor %}

{%endif%}
