<a href="{{ link.get_absolute_url | safe }}"
   title="{{link.title}} {{link.link}} {{link.source}}"
   {% if not link.is_valid or link.is_read %}
   style="opacity: 0.5"
   {% endif %}

   {% if link.bookmarked %}
   class="my-1 p-1 list-group-item list-group-item-action list-group-item-primary"
   {% else %}
   class="my-1 p-1 list-group-item list-group-item-action"
   {% endif %}
   >

   {% if user_config.show_icons %}
   <img src=
       {% if user_config.thumbnails_as_icons %}
       "{{link.get_thumbnail}}"
       {% else %}
       "{{link.get_favicon}}"
       {% endif %}

       {% if user_config.small_icons %}
       class="img-fluid rounded icon-small"
       {% else %}
       class="img-fluid rounded icon-normal"
       {% endif %}
        />
   {% endif %}

  <span style="font-weight:bold" class="text-reset">
       {{link.get_title | safe}}
  </span>
  <div class="text-reset">
       {{link.link}}
  </div>
</a>
