{% extends base_generic %}
{% load static %}
{% block content %}

   {{object_controller.get_frame_html | safe }}
   
   <a href="{{ object.link }}" title="{{ object.link }}">
      <div>
         <h1
             class="link-title"
              {% if not object.is_valid %}
              style="opacity: 0.5"
              {% endif %}
             >

	     <div>
             {{ object_controller.get_title_html }}
	     </div>
         </h1>

         <span>
            {{object.link}}
         </span>
      </div>
   </a>

   <div>
     {% include "rsshistory/linkdatacontroller_detail__parameters.html" %}
   </div>

   {% include "rsshistory/linkdatacontroller_detail__tags.html" %}

   <span id="entryStatusLine">
   </span>

   {% include "rsshistory/linkdatacontroller_detail__source.html" %}

   {% include "rsshistory/linkdatacontroller_detail__buttons.html" %}

<div id="bodyBlock">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
</div>

<script>
    function loadIsDownloaded(attempt = 1) {
        $.ajax({
            url: '{% url 'rsshistory:is-entry-download' object.id %}',
            type: 'GET',
            success: function(data) {
		if (data.status) {
                   const text = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Entry is being downloaded'
                   $('#entryStatusLine').html(text);
		}
            },
            error: function(xhr, status, error) {
                if (attempt < 2) {
                    loadIsDownloaded(attempt + 1);
                }
            }
        });
    }

    function loadBodyContent(attempt = 1) {
        $.ajax({
            url: '{% url 'rsshistory:get-entry-details' object.id %}',
            type: 'GET',
            success: function(data) {
                $('#bodyBlock').html(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 2) {
                    loadBodyContent(attempt + 1);
                    $('#bodyBlock').html("Error loading dynamic content, retry")
                } else {
                    $('#bodyBlock').html("Error loading dynamic content")
                }
            }
        });
    }

    $(document).ready(function() {
        loadBodyContent();
        loadIsDownloaded();

        setInterval(function() {
          loadIsDownloaded();
        }, 300000);  // 5 minutes in milliseconds
    });

    document.addEventListener('visibilitychange', function() {
        if (!document.hidden) {
           loadIsDownloaded();
        }
    });
</script>

{% endblock %}
