{% extends base_generic %}
{% load static %}
{% block content %}

<div>
{{ query_filter.time_start }}
</div>

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">
        <img src="{% static 'rsshistory/icons/icons8-back-100.png' %}" class="content-icon" />
    </a>

    <a href="{{reset_link}}" class="simplebutton">
      <img src="{% static 'rsshistory/icons/icons8-start-100.png' %}" class="content-icon" />
      <span class="basebutton">Reset filters</span>
    </a>

    {% if user.is_staff %}
    <a href="{% url 'rsshistory:entry-add-simple' %}" class="simplebutton" title="Opens add entry wizard">
        <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" class="content-icon" />
        Add entry
    </a>
    {% endif %}
</div>

  <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
     <table>
     {{ filter_form }}
     <tr>
         <td>
             <input type="submit" value="Search" class="simplebutton"/>
         </td>
     </tr>
     </table>
  </form>

    {% if rss_are_fetched %}
      <span class="error-text">Sources are fetched. Queue size: {{rss_queue_size}} </span>
    {% endif %}
    {% if query_filter.is_error %}
    <p class="error-text">There errors with your query</p>
    {% endif %}

    <ul>
      {% for field, errors in filter_form.errors.items %}
        {% for error in errors %}
          <li>{{ field|title }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>

  <hr>

  {% if content_list %}
  <div class="link-list container_{{user_config.display_type}}">
    {% for link in content_list %}
    {% if type == "normal" %}
          {% if user_config.display_type == "clickable-tags" %}
              {% include "rsshistory/linkdatacontroller_list__clickable_tags.html" %}
          {% elif user_config.display_type == "line-and-buttons" %}
              {% include "rsshistory/linkdatacontroller_list__line_and_buttons.html" %}
          {% elif user_config.display_type == "youtube-thumbnails" %}
              {% include "rsshistory/linkdatacontroller_list__youtube_thumbnails.html" %}
          {% elif user_config.display_type == "search-engine" %}
              {% include "rsshistory/linkdatacontroller_list__search_engine.html" %}
          {% else %}
              {% include "rsshistory/linkdatacontroller_list__standard.html" %}
          {% endif %}
    {% elif type == "clear" %}
              {% include "rsshistory/linkdatacontroller_list__clean_list.html" %}
    {% endif %}
    {% endfor %}
  </div>

  {% if not page_obj.has_next and has_more_results %}
  <a href="{{ more_results_link }}" class="simplebutton">More results</a>
  {% endif %}

  <hr>
{% include "rsshistory/pagination.html" %}

  {% else %}
    <p>There are no links.</p>

    <a href="{{ more_results_link }}" class="simplebutton">More results</a>
  {% endif %}

  <div>
      <a href="{% url 'rsshistory:entries-json' %}?query_type={{query_type}}&{{ args }}&{{ request.GET.urlencode }}" class='simplebutton'>Show JSON</a>
      <a href="{% url 'rsshistory:entries' %}?query_type={{query_type}}&{{ args }}&type=clear" class='simplebutton'>Show Clear</a>
      <a href="{% url 'rsshistory:entries' %}?query_type={{query_type}}&{{ args }}&type=normal" class='simplebutton'>Show Normal</a>
  </div>

{% include "rsshistory/form_search_term_places_element.html" %}

<div>
{{ query_filter.time_stop }}
</div>

{% endblock %}
