<div
    title="{{link.get_title}} {{link.link}} {{link.get_long_description}}"
      {% if link.bookmarked %}
      class="list-group-item list-group-item-action list-group-item-primary"
      {% else %}
      class="list-group-item list-group-item-action"
      {% endif %}
    >
    <a href="{{ link.link }}" >
        <div>
            {% if user_config.show_icons %}
            <img src=
                 {% if user_config.thumbnails_as_icons %}
                 "{{link.get_thumbnail}}"
                 {% else %}
                 "{{link.get_favicon}}"
                 {% endif %}
                 {% if user_config.small_icons %}
                 class="content-thumbnail"
                 {% else %}
                 class="content-big-thumbnail"
                 {% endif %}
                 />
            {% endif %}
            <span class="linklistitemtitle">{{link.title}}</span>
            <span class="linklistitemdescription">{{link.source_obj.title}}</span>
        </div>
    </a>

    {% if user.is_staff %}
    <div>
        <a href="{{ link.get_absolute_url }}" class="btn btn-secondary" role="button">
            Details
        </a>
        {% if link.bookmarked %}
        <a href="{% url 'rsshistory:entry-notbookmark' link.id %}" class="btn btn-secondary" role="button">
            Not bookmarked
        </a>
        <a href="{% url 'rsshistory:entry-tag' link.id %}" class="btn btn-secondary" role="button">Tag entry</a>
        {% else %}
        <a href="{% url 'rsshistory:entry-star' link.id %}" class="btn btn-secondary" role="button">
            Bookmark
        </a>
        {% endif %}
    </div>
    {% else %}
    <hr>
    {% endif %}
</div>
