<a href="{{ link.get_absolute_url | safe }}"
   title="{{link.title}} {{link.link}} {{link.source}}"
   {% if not link.is_valid %}
   style="opacity: 0.5"
   {% endif %}

   {% if link.bookmarked %}
   class="element_{{user_config.display_type}} element_{{user_config.display_type}}_selected"
   {% else %}
   class="element_{{user_config.display_type}}"
   {% endif %}
   >

   {% if user_config.show_icons %}
   <img src=
        {% if user_config.thumbnails_as_icons %}
        "{{link.get_thumbnail}}"
        {% else %}
        "{{link.get_favicon}}"
        {% endif %}

        {% if user_config.small_icons %}
        class="content-thumbnail"
        {% else %}
        class="content-big-thumbnail"
        {% endif %}
        />
   {% endif %}

   <span class="link-list-item-title">
       {{link.title | slice:":100"}}
   </span>
   <span class="link-list-item-description">
       {{link.link}}
   </span>
</a>
