{% extends base_generic %}
{% load static %}
{% block content %}

<script src="{% static 'rsshistory/entries_library.js' %}?=17"></script>

<div id="formDiv" class="body-link-margin">
  {% include "rsshistory/form_multiline_element.html" %} 
</div>

<ul>
   <li>Internet is dangerous, so carefully select which links you add</li>
</ul>

<div id="Errors"></div>
<div id="Suggestions"></div>
<div id="formResponse"></div>

<script>
{% include "rsshistory/page_show_properties__script.js" %}
</script>

{% endblock %}
