<nav aria-label="Page navigation example">
   <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
          <a href="?page=1{{query_filter.get_filter_string}}" data-page="1" class="btnFilterTrigger page-link">|&lt;</a>
      </li>
      <li class="page-item">
          <a href="?page={{ page_obj.previous_page_number }}{{query_filter.get_filter_string}}" data-page="{{page_obj.previous_page_number}}" class="btnFilterTrigger page-link">&lt;</a>
      </li>
      {% else %}
      <li class="page-item">
        <a href="#" class="page-link disabled" disabled>|&lt;</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link disabled" disabled>&lt;</a>
      </li>
      {% endif %}
   
      {% if page_obj.has_next %}
      <li class="page-item">
          <a href="?page={{ page_obj.next_page_number }}{{query_filter.get_filter_string}}" data-page="{{page_obj.next_page_number}}" class="btnFilterTrigger page-link">&gt;</a>
      </li>
      <li class="page-item">
          <a href="?page={{ page_obj.paginator.num_pages }}{{query_filter.get_filter_string}}" data-page="{{page_obj.paginator.num_pages}}" class="btnFilterTrigger page-link">&gt;|</a>
      </li>
      {% else %}
      <li class="page-item">
        <a href="#" class="page-link disabled" disabled>&gt;</a>
      </li>
      <li class="page-item">
        <a href="#" class="page-link disabled" disabled>&gt;|</a>
      </li>
      {% endif %}
   </ul>
</nav>

<span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. Total:{{page_obj.paginator.object_list.count}}, {{page_obj.paginator.per_page}} per page.
</span>
