{% extends base_generic %}
{% load static %}
{% block content %}

<h1>Read later list</h1>

<div class="container">
    <a id="clear-list" href="{% url 'rsshistory:json-read-later-clear' %}" class="btn btn-primary">
        <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
           Clear list</a>
</div>

<span id="listStatus">
</span>

<span id="listData" class="container list-group">
       <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
</span>

<div id="pagination">
</div>

<script src="{% static 'rsshistory/entries_library.js' %}?=1"></script>

<script>
{% include "rsshistory/readlater_list__script.js" %}
</script>

{% endblock %}
