{% extends base_generic %}

{% block content %}
  <h1>{{ object.title }}</h1>

  <p>
      <div><strong>Source:</strong> <a href="{{ object.url }}">{{ object.url }}</a></div>
      <div><strong>Link:</strong> <a href="{{ object.link }}">{{ object.link }}</a></div>
      <div><strong>Title:</strong> {{ object.title }}</div>
      <div><strong>Publish date:</strong> {{ object.date_published }}</div>
      <div><strong>Description:</strong> {{ object.description }}</div>
      <div><strong>Favourite:</strong> {{ object.favourite }}</div>
  </p>

  {% if user.is_authenticated %}
    <a href="/{{django_app}}/editsource/{{ object.id }}" class="simplebutton">Edit source</a>
    <a href="/{{django_app}}/removesource/{{ object.id }}" class="simplebutton">Remove source</a>
          <a href="/{{django_app}}/favourite/{{object.id}}/" class="simplebutton">
             {% if source.favourite %}
               UnFavourite
             {% else %}
               Favourite
             {% endif %}
          </a>
  {% endif %}
{% endblock %}
