{% extends base_generic %}

{% block content %}
  <h1>{{ object.title }}</h1>

  <p>
      <div><strong>Url:</strong> <a href="{{ object.url }}">{{ object.url }}</a></div>
      <span><strong>Title:</strong> {{ object.title }}</span>
      <span><strong>Category:</strong> {{ object.category }}</span>
      <span><strong>Subcategory:</strong> {{ object.subcategory }}</span>
      <span><strong>Language:</strong> {{ object.language }}</span>
  </p>

  <p>
  read:{{object.get_date_fetched}} Number of entries:{{object.get_number_of_entries}} Import seconds:{{object.get_import_seconds}} 
  </p>

  {% if user.is_staff %}
    <a href="/{{django_app}}/source-refresh/{{ object.id }}" class="simplebutton">Refresh source</a>
    <a href="/{{django_app}}/source-edit/{{ object.id }}" class="simplebutton">Edit source</a>
    <a href="/{{django_app}}/source-remove/{{ object.id }}" class="simplebutton">Remove source</a>
  {% endif %}
{% endblock %}
