{% extends base_generic %}

{% block content %}
  <h1>{{ object.title }}</h1>

  <p>
      <div><strong>Source:</strong> <a href="{{ object.url }}">{{ object.source }}</a></div>
      <div><strong>Link:</strong> <a href="{{ object.link }}">{{ object.link }}</a></div>
      <div><strong>Title:</strong> {{ object.title }}</div>
      <div><strong>Publish date:</strong> {{ object.date_published }}</div>
      <div><strong>Persistent:</strong> {{ object.persistent }},
           <strong>Language:</strong> {{ object.language }},
           <strong>Tags:</strong> {{ tag_string }}</div>
  </p>

  <p>
  {% if user.is_staff %}
    <a href="/{{django_app}}/editentry/{{ object.id }}" class="simplebutton">Edit entry</a>
    <a href="/{{django_app}}/tagentry/{{ object.id }}" class="simplebutton">Tag entry</a>
    <a href="/{{django_app}}/hideentry/{{ object.id }}" class="simplebutton">Hide entry</a>
    <a href="/{{django_app}}/removeentry/{{ object.id }}" class="simplebutton">Remove entry</a>
          <a href="/{{django_app}}/persistent/{{object.id}}/" class="simplebutton">
             {% if source.persistent %}
               Not persistent
             {% else %}
               Persistent
             {% endif %}
          </a>
  {% endif %}
  </p>

  <p>
  <div><strong>Description:</strong></div>
  </p>
      <div>{{ object.description | safe }}</div>
      <div style="clear:both"></div>
  </p>

{% endblock %}
