{% extends base_generic %}

{% block content %}
  <h1>{{ object.title }}</h1>

  <p>
      <div><strong>Source:</strong> <a href="{{ object.source }}">{{ object.source }}</a></div>
      <div><strong>Link:</strong> <a href="{{ object.link }}">{{ object.link }}</a></div>
      <div><strong>Title:</strong> {{ object.title }}</div>
      <div><strong>Publish date:</strong> {{ object.date_published }}</div>
      <div><strong>User:</strong> {{ object.user }}</div>
      <div><strong>Persistent:</strong> {{ object.persistent }},
           <strong>Language:</strong> {{ object.language }},
           <strong>Tags:</strong> {{ tag_string }}</div>
  </p>

  <p>
   {% if object.source_obj %}
    <a href="{% url 'rsshistory:source-detail' object.source_obj.id %}" class="simplebutton">RSS Source</a>
   {% endif %}

  {% if user.is_staff %}
    <a href="{% url 'rsshistory:entry-edit' object.id %}" class="simplebutton">Edit entry</a>
    <a href="{% url 'rsshistory:entry-tag' object.id %}" class="simplebutton">Tag entry</a>
    <a href="{% url 'rsshistory:entry-hide' object.id %}" class="simplebutton">Hide entry</a>
    <a href="{% url 'rsshistory:entry-remove' object.id %}" class="simplebutton">Remove entry</a>
             {% if source.persistent %}
              <a href="{% url 'rsshistory:entry-notstar' object.id %}" class="simplebutton">
               Not bookmarked
              </a>
             {% else %}
              <a href="{% url 'rsshistory:entry-star' object.id %}" class="simplebutton">
               Bookmark
              </a>
             {% endif %}
  {% endif %}
  </p>

  <p>
  {% if user.is_authenticated %}
    <a href="{% url 'rsshistory:comment-add' %}" class="simplebutton">Add comment</a>
  {% endif %}
  </p>

  <p>
  <div><strong>Description:</strong></div>
  </p>
      <div>{{ object.description | safe }}</div>
      <div style="clear:both"></div>
  </p>

{% endblock %}
