{% extends base_generic %}

{% block content %}
  <span>Filters:</span>
  <a href="{% url 'rsshistory:searchinitview' %}" class='simplebutton'>Reset</a>

  <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
     {{ filter_form }}
     <input type="submit" value="Submit">
  </form>

  <hr>
    {% if rss_are_fetched %}
       <div style="color:red">RSS are fetched. Queue size: {{rss_queue_size}} </div>
       <hr>
    {% endif %}

  {% if entries_list %}
  <ul class="linklist">
    {% for link in entries_list %}
      <li>
          <a href="{{ link.link }}"
             {% if link.persistent %}
                class="longbutton longbuttonselected"
             {% else %}
                class="longbutton"
             {% endif %}
                  >

            <div class="linklistitem">
               <img src="{{link.get_favicon}}" width="20"/>
               {% if link.dead %}
                  <span class="linklistitemtitle">Hidden link</span>
               {% else %}
                  <span class="linklistitemtitle">{{link.title}}</span> {{link.date_published}}  {{link.get_source_name}}
               {% endif %}

               {% if link.get_tag_string %}
                   , Tags: # {{ link.get_tag_string }}
               {% endif %}
               {% if link.user %}
                  , User: {{link.user}}
               {% endif %}

            </div>
          </a>

          {% if user.is_staff %}
          <a href="{{ link.get_absolute_url }}" class="simplebutton">
             Details
          </a>
             {% if link.persistent %}
              <a href="{% url 'rsshistory:makeentrynotpersistent' link.id %}" class="simplebutton">
               Not persistent
              </a>
              <a href="{% url 'rsshistory:tagentry' link.id %}" class="simplebutton">Tag entry</a>
             {% else %}
              <a href="{% url 'rsshistory:makeentrypersistent' link.id %}" class="simplebutton">
               Persistent
              </a>
             {% endif %}
          <a href="{% url 'rsshistory:hideentry' link.id %}" class="simplebutton">
             {% if link.dead %}
               UnHide
             {% else %}
               Hide
             {% endif %}
          </a>
             <a href="{% url 'rsshistory:removeentry' link.id %}" class="simplebutton">Remove entry</a>
          {% else %}
          <hr>
          {% endif %}
      </li>
    {% endfor %}
  </ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
           <a href="?page=1{{filter_form.get_filter_string}}" class='simplebutton'>&laquo; first</a>
           <a href="?page={{ page_obj.previous_page_number }}{{filter_form.get_filter_string}}" class='simplebutton'>previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}{{filter_form.get_filter_string}}" class='simplebutton'>next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}{{filter_form.get_filter_string}}" class='simplebutton'>last &raquo;</a>
        {% endif %}

        <span>Records: {{entries_list | length}} </span>
    </span>
</div>

  {% else %}
    <p>There are no links.</p>
  {% endif %}
{% endblock %}
