{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
   <a href="{% url 'rsshistory:searchview-add' %}" title="Add new search view" class="btn btn-primary" role="button">
       {% include "rsshistory/icon_add.html" %}
   </a>
</div>

<h1>Search views</h1>
  {% if content_list %}
     <div class="list-group">
         {% for search_view in content_list %}
            <div
               class="my-1 p-1 list-group-item list-group-item-action"
                >
                <a href="{% url 'rsshistory:searchview' search_view.id %}"
                   title="{{search_view.name}}"
                  {% if search_view.default %}
                    style="font-weight:bold;"
                  {% endif %}
                 >
                  ID: {{search_view.id}}
                  Name: {{search_view.name}}
                  Priority: {{search_view.priority}}
                </a>

                <div>
                    <a href="{% url 'rsshistory:searchview-prio-up' search_view.id %}" title="Search view prio up" class="btn btn-secondary btn-sm" role="button">
                        <img src="{% static 'rsshistory/icons/icons8-up-100.png' %}" class="content-icon" />
                    </a>
                    <a href="{% url 'rsshistory:searchview-prio-down' search_view.id %}" title="Search view prio down" class="btn btn-secondary btn-sm" role="button">
                        <img src="{% static 'rsshistory/icons/icons8-down-100.png' %}" class="content-icon" />
                    </a>
                </div>
            </div>
         {% endfor %}
  {% else %}
    No rules yet
  {% endif %}

{% endblock %} 
