{% if search_engines %}

<p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Search other places
  </a>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <div>
      {% for search_engine in search_engines.get %}
      <a href="{{search_engine.get_search_string}}" class="btn btn-secondary" title="{{search_engine.get_title}}">{{search_engine.get_name}}</a>
      {% endfor %}

      <a href="https://news.ycombinator.com/" class="btn btn-secondary">Hacker News</a>
      <a href="https://medium.com/" class="btn btn-secondary">Medium</a>
      <a href="https://mastodon.social/explore" class="btn btn-secondary">Mastodon</a>
      <a href="https://join-lemmy.org/instances" class="btn btn-secondary">Lemmy</a>
      </div>
    </div>
</div>

{% endif %}
