{% if search_engines %}

<p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Search other places
  </a>
</p>

<div class="collapse" id="collapseExample">
   <ul class="list-group list-group-flush">
   {% for search_engine in search_engines.get %}
      <a 
          class="list-group-item list-group-item-action"
          href="{{search_engine.get_search_string}}" title="{{search_engine.get_title}}">
          {% include "rsshistory/icon_external.html" %}
          {{search_engine.get_name}}
      </a>
   {% endfor %}
   </ul>
</div>

{% endif %}
