{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
</div>

{% if is_youtube_video %}
  {% include "rsshistory/show_page_props_youtube.html" %}
{% elif is_html %}
  {% include "rsshistory/show_page_props_html.html" %}
{% elif is_rss %}
  {% include "rsshistory/show_page_props_rss.html" %}
{% elif is_youtube_channel %}
  {% include "rsshistory/show_page_props_rss.html" %}
{% else %}
  {% include "rsshistory/show_page_props_default.html" %}
{% endif %}

{% endblock %}
