<h1>YouTube Link properties</h1>

<ul>
    <li>Link: {{page_link}} <a href="{{page_link}}">Link</a></li>
    <li>Detected page type: {{page_type}}</li>
    <li>Title: {{title}}</li>
    <li>Description: {{description}}</li>
    {%if {{page_object.get_date_published}} %}
    <li>Date published: {{page_object.get_date_published}}</li>
    {%endfor%}
    <li>WebPage: {{webpage_url}} <a href="{{webpage_url}}">Link</a></li>
    {%if thumbnail %}
    <li>Thumbnail: {{thumbnail}} <a href="{{thumbnail}}">Link</a></li>
    {%endif%}
    <li>Uploader URL: {{uploader_url}} <a href="{{uploader_url}}">Link</a></li>
    <li>Channel ID: {{channel_id}}</li>
    <li>Channel: {{channel}}</li>
    <li>Channel URL: {{channel_url}} <a href="{{channel_url}}">Link</a></li>
    <li>Channel feed URL: {{channel_feed_url}} <a href="{{channel_feed_url}}">Link</a></li>
    <li>Channel follower count: {{channel_follower_count}}</li>
    <li>View count:{{view_count}} Likes:{{like_count}}</li>
    <li>Language: {{language}}</li>
    <li>Upload date: {{upload_date}}</li>
    <li>Duration: {{duration}}</li>
    <li>Valid: {{valid}}</li>
    <li>Keywords: {{keywords}}</li>
    <li>Live: {{live}}</li>
</ul>

{% if user_config.show_icons %}
<h1>Icon</h1>
    {%if thumbnail %}
    <img src="{{thumbnail}}" style="max-width: 50%"/>
    {%endif%}
{%endif%}

<h1>Embed</h1>
<div class="youtube_player_container">
    <iframe src="{{embed_url}}" frameborder="0" allowfullscreen class="youtube_player_frame"></iframe>
</div>

<h1>Contents</h1>
<pre>{{contents}}</pre>
