<h1>Page properties</h1>

<ul>
    <li>Link: <a href="{{page_object.url}}">{{page_object.url}}</a></li>
    <li>Detected page type: {{page_object_type}}</li>
    <li>Status code: {{response_object.status_code}}</li>
    <li>Valid: {{page_object.is_valid}}</li>
    <li>Title: {{page_object.get_title}}</li>
    <li>Description: {{page_object.get_description}}</li>
    {%if page_object.get_date_published %}
    <li>Date published: {{page_object.get_date_published}}</li>
    {%endif%}
    <li>Author: {{page_object.get_author}}</li>
    <li>Page Rating: {{page_object.get_page_rating}}. Described by <a href="https://github.com/rumca-js/Django-link-archive">Django link archive Readme</a></li>
    {%if page_object.get_thumbnail %}
    <li>thumbnail: <a href="{{page_object.get_thumbnail}}"/>{{page_object.get_thumbnail}}</a></li>
    {%endif %}
    <li>Contents length: {{contents_length}}.
        {% if contents_length == 0 %}
        Page is empty.
        {% elif contents_length < 100 %}
        The site is really tiny.
        {% elif contents_length < 1000 %}
        The site is small.
        {% elif contents_length < 500000 %}
        The site size is normal
        {% elif contents_length > 500000 %}
        That is a humongus page size!
        {% endif %}
    </li>
    <li>Language: {{page_object.get_language}}</li>
    {%if tags %}
    <li>Keywords: {{page_object.get_tags}}</li>
    {%endif %}
    <li>keywords: {{page_object.get_tags}}</li>

    {%if page_handler.get_robots_txt_url %}
    <li>Robots txt URL: <a href="{{page_handler.get_robots_txt_url}}">{{page_handler.get_robots_txt_url}}</a></li>
    {% endif %}
    {%for site_map in page_handler.get_site_maps_urls %}
        <li>Site map: <a href="{{site_map}}">{{site_map}}</a>
    {%endfor%}
    <li>Allowed by robots.txt? {{is_link_allowed}}</li>

    <li>Selenium: {{page_handler.options.is_selenium}}</li>
    <li>Options str: {{page_handler.options.get_str}}</li>
</ul>

{% if user_config.show_icons %}
    {%if page_object.get_thumbnail%}
    <img src="{{page_object.get_thumbnail}}" style="max-width: 50%"/>
    {%endif%}
{%endif%}

<h1>Headers</h1>
<li>{{page_handler.response.headers}}</li>

<h1>Contents</h1>

<pre>{{page_object.contents}}</pre>
