<h1>Page properties</h1>

<ul>
    <li>Link: {{page_link}} <a href="{{page_link}}">Link</a></li>
    <li>Detected page type: {{page_type}}</li>
    <li>Status code: {{page_object.status_code}}</li>
    <li>Encoding: {{page_object.encoding}}</li>
    <li>Valid: {{page_object.is_valid}}</li>
    <li>Title: {{title}}</li>
    <li>Description: {{description}}</li>
    <li>Author: {{author}}</li>
    <li>Page Rating: {{page_rating}}. Described by <a href="https://github.com/rumca-js/Django-link-archive">Django link archive Readme</a></li>
    {%if thumbnail %}
    <li>thumbnail: <a href="{{thumbnail}}"/>Link</a></li>
    {%endif %}
    <li>Contents length: {{contents_length}}.
    </li>
    <li>Language: {{language}}</li>
    {%if tags %}
    <li>keywords: {{tags}}</li>
    {%endif %}

    <li>Selenium: {{page_object.options.is_selenium}}</li>
</ul>

{% if user_config.show_icons %}
    {%if thumbnail%}
    <img src="{{thumbnail}}" style="max-width: 50%"/>
    {%endif%}
{%endif%}

<h1>Contents</h1>

<pre>{{contents}}</pre>
