<h1>RSS Page properties</h1>

<ul>
    <li>Link: {{page_link}} <a href="{{page_link}}">Link</a></li>
    <li>Detected page type: {{page_type}}</li>
    <li>Status code: {{page_object.status_code}}</li>
    <li>Title: {{title}}</li>
    <li>Description: {{description}}</li>
    <li>Author: {{author}}</li>
    <li>Page Rating: {{page_rating}}. Described by <a href="https://github.com/rumca-js/Django-link-archive">Django link archive Readme</a></li>
    {%if thumbnail %}
    <li>thumbnail: <a href="{{thumbnail}}"/>Link</a></li>
    {%endif %}
    <li>Contents length: {{contents_length}}.
        {% if contents_length == 0 %}
        Page is empty.
        {% elif contents_length < 100 %}
        The site is really tiny.
        {% elif contents_length < 1000 %}
        The site is small.
        {% elif contents_length < 500000 %}
        The site size is normal
        {% elif contents_length > 500000 %}
        That is a humongus page size!
        {% endif %}
    </li>

    <li>Charset: {{charset}}</li>
    <li>Language: {{language}} page object:{{page_object.get_language}}</li>

    {%if tags %}
    <li>keywords: {{tags}}</li>
    {%endif %}

</ul>

{% if user_config.show_icons %}
    {%if thumbnail%}
    <img src="{{thumbnail}}" style="max-width: 50%"/>
    {%endif%}
{%endif%}

<h1>Contents</h1>

<pre>{{contents}}</pre>

<h1>Feed</h1>

<ul>
    <li>Feed header: <pre>{{page_object.feed.feed}}</pre></li>
    <li>Feed entries: <pre>{{page_object.feed.entries}}</pre></li>
</ul>
