{% extends base_generic %}
{% load static %}
{% block content %}

<div class="btn-group flex-wrap">
    <a href="{% url 'rsshistory:sources' %}" class="btn btn-secondary" role="button">
        <img src="{% static 'rsshistory/icons/icons8-start-100.png' %}" class="content-icon" />
        Reset filters</a>

    {% if user.is_staff %}
    <a href="{% url 'rsshistory:source-add-simple' %}" class="btn btn-secondary" role="button" title="Opens add source wizard">
        <img src="{% static 'rsshistory/icons/icons8-broadcast-add-100.png' %}" class="content-icon" />
        Add source</a>
    <a href="{% url 'rsshistory:entry-add-simple' %}" class="btn btn-secondary" role="button" title="Opens add entry wizard">
        <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" class="content-icon" />
        Add entry</a>
    <a href="{% url 'rsshistory:sources-enable-all' %}" class="btn btn-secondary" role="button" title="Enable all sources">
        Enable all</a>
    <a href="{% url 'rsshistory:sources-disable-all' %}" class="btn btn-secondary" role="button" title="Disable all sources">
        Disable all</a>
    {% endif %}
    <a href="{% url 'rsshistory:sources' %}?search=enabled+%3D+True" class="btn btn-secondary" role="button" title="Shows active sources only">
        Enabled</a>
    <a href="{% url 'rsshistory:sources' %}?search=enabled+%3D+False" class="btn btn-secondary" role="button" title="Shows disabled sources only">
        Disabled</a>
    <a href="{% url 'rsshistory:sources' %}?search=category+%3D%3D+New" class="btn btn-secondary" role="button" title="Shows new sources only">
        New sources</a>
</div>

  <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
      <table>
          {{ filter_form }}
          <tr>
              <td>
                  <input type="submit" value="Search" class="btn btn-secondary" role="button">
              </td>
          </tr>
      </table>
  </form>

  {% if query_filter.is_error %}
    <p class="error-text">There errors with your query</p>
  {% endif %}

  <hr>

  {% if content_list %}
     <div class="container">
       {% for source in content_list %}
             {% if user_config.display_type == "clickable-tags" %}
                 {% include "rsshistory/sourcedatacontroller_list__standard.html" %}
             {% else %}
                 {% include "rsshistory/sourcedatacontroller_list__standard.html" %}
             {% endif %}
       {% endfor %}
     </div>

     <hr>
     {% include "rsshistory/pagination.html" %}

     <div class="container">
      <a href="{% url 'rsshistory:sources-json' %}?{{ request.GET.urlencode }}" class="btn btn-secondary" role="button">Show JSON</a>
      <a href="{% url 'rsshistory:sources' %}?{{ args }}&type=clear" class="btn btn-secondary" role="button">Clear list</a>
      <a href="{% url 'rsshistory:sources' %}?{{ args }}&type=normal" class="btn btn-secondary" role="button">Normal list</a>
     </div>

  {% else %}
    <p>There are no sources.</p>
  {% endif %}

{% endblock %}
