{% extends base_generic %}
{% load static %}
{% block content %}

<div class="title-link-container">
   {% if user_config.show_icons %}
	<a href="{% url 'rsshistory:entry-detail' entry_object.id %}">
		<div class="title-thumbnail-container">
	           <img src="{{object.get_favicon}}" class="border rounded title-thumbnail"/>
		</div>
	 </a>
   {% endif %}

   <div class="mx-2 title-text-content">
		<div>
			<h1 class="link-title" title="{{ object.url }}">
				<a href="{% url 'rsshistory:entry-detail' entry_object.id %}">
				 {{ object.title }}
				 </a>
			</h1>
		</div>

		<div>
		  <a href="{{ object.url }}">
			 {% include "rsshistory/icon_external.html" %}
			 {{ object.url }}
		  </a>
		</div>

		{% for additional_link in additional_links %}
		<div>
			  <a href="{{additional_link}}">
				{% include "rsshistory/icon_external.html" %}
                {{additional_link}}
			  </a>
		</div>
		{% endfor %}

   </div>
</div>

{% include "rsshistory/sourcedatacontroller_detail_buttons.html" %}

<ul class="list-group my-2">
{% if object.enabled %}
    <li class="list-group-item text-nowrap mx-2">Enabled: {{ object.enabled }}</li>
{% else %}
    <li class="list-group-item text-nowrap mx-2 fw-bold">Enabled: {{ object.enabled }}</li>
{% endif %}
    <li class="list-group-item text-nowrap mx-2">Source type: {{ object.source_type }}</li>
    <li class="list-group-item text-nowrap mx-2">Fetch period: {{ object.fetch_period }}</li>
    <li class="list-group-item text-nowrap mx-2">Language: {{ object.language }}</li>
{% if object.age %}
    <li class="list-group-item text-nowrap mx-2">Age: {{ object.age }}</li>
{% endif %}
{% if object.auto_tag %}
    <li class="list-group-item text-nowrap mx-2">Auto tag: {{ object.auto_tag }}</li>
{% endif %}
{% if object.entries_alpha %}
    <li class="list-group-item text-nowrap mx-2">Entries alpha: {{ object.entries_alpha }}</li>
{% endif %}
{% if object.entries_backgroundcolor_alpha %}
    <li class="list-group-item text-nowrap mx-2">Entries background color alpha: {{ object.entries_backgroundcolor_alpha }}</li>
  {% if object.entries_backgroundcolor %}
      <li class="list-group-item text-nowrap mx-2">Entries background color: {{ object.entries_backgroundcolor }}</li>
  {% endif %}
{% endif %}
    <li class="list-group-item text-nowrap mx-2">Remove after days: {{ object.remove_after_days }}</li>
{% if object.username %}
    <li class="list-group-item text-nowrap mx-2">Username: {{ object.username }}</li>
{% endif %}
    <li class="list-group-item text-nowrap mx-2">
        <a href="{% url 'rsshistory:entries' %}?search=source__category_name+%3D%3D+{{object.category}}" class="card-link">
	    Category: {{ object.category }}
        </a>
    </li>
    <li class="list-group-item text-nowrap mx-2">
        <a href="{% url 'rsshistory:entries' %}?search=source__category_name+%3D%3D+{{object.category}}+%26+source__subcategory_name+%3D%3D+{{object.subcategory}}" class="card-link">
	    Subcategory: {{ object.subcategory }}
        </a>
    </li>
    <li class="list-group-item text-nowrap mx-2">Export to CMS: {{ object.export_to_cms }}</li>
    <li class="list-group-item text-nowrap mx-2">Favicon: <a href="{{ object.get_favicon }}" title="{{ object.get_favicon }}">
	   <img src="{% static 'rsshistory/icons/icons8-external-link-128.png' %}"	 class="content-icon"/>
	   Link</a></li>
    {% if object.proxy_location %}
    <li class="list-group-item text-nowrap mx-2">Fetched: {{date_fetched}}</li>
    <li class="list-group-item text-nowrap mx-2">Import seconds: {{object.dynamic_data.import_seconds}}</li>
    <li class="list-group-item text-nowrap mx-2">Consecutive Errors: {{object.dynamic_data.consecutive_errors}}</li>

    <li class="list-group-item text-nowrap mx-2">Proxy location: <a href="{{ object.proxy_location }}">
	     <img src="{% static 'rsshistory/icons/icons8-external-link-128.png' %}"	 class="content-icon"/>
	     {{ object.proxy_location }}</a></li>
    {% endif %}
</ul>

{% endblock %}
