<h3>Sources help</h3>
<ul>
    <li>Most likely you would like to insert RSS url here</li>
    <li>You can insert HTML url, the system will try to find and use RSS link in it, if it is correctly configured</li>
    <li>Finding RSS from a page manually is not simple. First you would have to find in page source link that is of correct type, etc. etc.</li>
    <li><a href="https://docs.rsshub.app/">
        {% include "rsshistory/icon_external.html" %}
        RSS hub</a></li>
    <li><a href="https://openrss.org/">
        {% include "rsshistory/icon_external.html" %}
        OpenRSS</a></li>
    <li>You can insert other Django link instance JSON URL also</li>
    <li>If you put youtube video in link, the link channel RSS will be added instead</a>
    <li>Internet is dangerous, so carefully select which links you add</a>
</ul>
