{% load static %}
<script>
    {% include "rsshistory/javascript_list_utilities.js" %}

    let currentUserSearchSuggestions = 0;

    function loadUserSearchSuggestions(search_term, attempt = 1) {
        if (!search_term)
        {
            return;
        }

        let requestVersion = ++currentUserSearchSuggestions;

        $.ajax({
            url: '{% url 'rsshistory:get-search-suggestions-sources' "placeholder" %}'.replace("placeholder", search_term),
            type: 'GET',
            timeout: 15000,
            success: function(data) {
                if (requestVersion === currentUserSearchSuggestions) {
                    $('#searchHistory').collapse('hide');
                    $('#searchSuggestions').empty();
                    fillUserSearchSuggestions(data.items);
                    $('#searchSuggestions').collapse('show');
                }
            },
            error: function(xhr, status, error) {
                if (attempt < 3) {
                    $('#searchSuggestions').html("Cannot load suggestions, retry");
				    $('#searchSuggestions').collapse('show');
				   
					loadUserSearchSuggestions(search_term, attempt + 1); 
                }
				else {
                    $('#searchSuggestions').html("Cannot load suggestions");
				    $('#searchSuggestions').collapse('show');
				}
            }
        });
    }

    function loadUserSearchHistory(attempt = 1) {
        $('#searchHistory').html("No history");
    }

    function getSourceTemplate(source, show_icons = true, small_icons = false) {
        var url = source.url;
        var title = source.title;
        var favicon = source.favicon;
        var url_absolute = source.url_absolute;

        let thumbnail_text = ""; // Declare thumbnail_text once
        if (show_icons) {
            thumbnail_text = `
                <img src="${favicon}" class="content-icon"/>`;
        }

        let additional_text = "";
        if (!source.enabled) {
            additional_text += "[DISABLED]";
        }
        if (source.errors) {
            additional_text += "[ERRORS]";
        }

        var template = `
            <a href="${url_absolute}"
               class="my-1 p-1 list-group-item list-group-item-action"
               title="${title}">
                ${thumbnail_text}
                <span class="link-list-item-title">
                    ${additional_text}
                    ${title}
                </span>
                <div class="link-list-item-description">
                    ${url}
                </div>
            </a>
        `;

        return template;
    }

    function fillSourceList(sources) {
        let htmlOutput = '';

        if (sources && sources.length > 0) {
            sources.forEach(source => {
                var template_text = getSourceTemplate(source, view_show_icons, view_small_icons);
                htmlOutput += template_text;
            });
        }

        return htmlOutput;
    }

    function fillListData(data) {
        $('#listData').html("");

        let sources = data.sources;

        if (!sources || sources.length == 0) {
            $('#listData').html("No sources found");
            return;
        }

        var finished_text = fillSourceList(sources);
        finished_text += "<div>";
        finished_text += fillPagination(data);
        finished_text += "</div>";
        $('#listData').html(finished_text);
    }

    $(document).ready(function() {
        var show = getQueryParam('show') || '';
        var auto_refresh = getQueryParam('auto-refresh') || '';
        var search_term = getQueryParam('search') || '';

        var search_term_input = $('#filterForm input[name="search"]').val();
        if (search_term_input)
        {
            loadUserSearchSuggestions(search_term_input);
        }
        loadUserSearchHistory();

        // if (user specified search, or show is true), and entrylist is empty
        if (search_term || show) {
            if (isEmpty($('#listData'))) {
                loadRowListContent();
            }
        }

        //-----------------------------------------------
        // if auto refresh - keep refreshing list - for kiosk mode
        if (auto_refresh && !isNaN(auto_refresh)) {
            setInterval(function() {
                loadRowListContent();
            }, parseInt(auto_refresh));
        }
    });

    //-----------------------------------------------
    $(document).on('click', '.btnFilterTrigger', function(e) {
        e.preventDefault();

        var search_term = $(this).data('search') || $('#id_search').val();
        var page = $(this).data('page')

        if ($(this).data('search')) {
            $('#id_search').val(search_term);
        }

        $('#searchSuggestions').collapse('hide');
        $('#searchHistory').collapse('hide');
        $('#searchSyntax').collapse('hide');

        loadRowListContent(search_term, page);
    });

    //-----------------------------------------------
    // Bind to the input event of the search input within the form
    $('#filterForm input[name="search"]').on('input', function() {
        var search_term = $('#filterForm input[name="search"]').val();

        $('#searchSuggestions').empty();
        $('#searchSuggestions').collapse('hide');

        if (search_term) {
            loadUserSearchSuggestions(search_term);
        }
    });
</script>
