{% load static %}

<div class="d-flex">
   {% if user.is_staff %}
   <div class="dropdown">
       <button class="btn btn-primary" type="button" id="#actionsDrop" data-bs-toggle="dropdown" aria-expanded="false">
         Actions
       </button>
   
       <ul class="dropdown-menu">
          {% if user_config.can_add %}
          <li>
             <a href="{% url 'rsshistory:source-add-simple' %}" class="dropdown-item" title="Opens add source wizard">
              <img src="{% static 'rsshistory/icons/icons8-broadcast-add-100.png' %}" class="content-icon" />
              Add source</a>
          </li>
         {% endif %}

          <li>
             <a href="{% url 'rsshistory:sources-enable-all' %}" class="dropdown-item" title="Enable all sources">
              {% include "rsshistory/icon_enable.html" %}
              Enable all</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources-disable-all' %}" class="dropdown-item" title="Disable all sources">
              {% include "rsshistory/icon_disable.html" %}
              Disable all</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources-remove-disabled' %}" class="dropdown-item" title="Removes disabled sources">
              {% include "rsshistory/icon_disable.html" %}
              Remove disabled</a>
          </li>
       </ul>
   </div>
   {% endif %}
   
   <div class="dropdown">
       <button class="btn btn-primary" type="button" id="#filtersDrop" data-bs-toggle="dropdown" aria-expanded="false">
         Filters
       </button>
   
       <ul class="dropdown-menu">
          <li>
             <a href="{% url 'rsshistory:sources' %}?search=enabled+%3D%3D+True" class="dropdown-item" title="Shows active sources only">
              Enabled</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources' %}?search=enabled+%3D%3D+False" class="dropdown-item" title="Shows disabled sources only">
              Disabled</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources' %}?search=category+%3D%3D+New" class="dropdown-item" title="Shows new sources only">
              New sources</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources' %}?search=export_to_cms+%3D%3D+True" class="dropdown-item" title="Shows disabled sources only">
              Exported to CMS</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources' %}?search=export_to_cms+%3D%3D+False" class="dropdown-item" title="Shows disabled sources only">
              Not exported</a>
          </li>
       </ul>
   </div>

   <div class="dropdown">
       <button class="btn btn-primary" type="button" id="#viewsDrop" data-bs-toggle="dropdown" aria-expanded="false">
         View
       </button>
       <ul class="dropdown-menu">
          <li>
             <a href="{% url 'rsshistory:categories-view' %}" class="dropdown-item" title="Shows source categories">
              Source categories</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources-json-all' %}" class="dropdown-item" title="JSON contents">
              JSON</a>
          </li>
          <li>
             <a href="{% url 'rsshistory:sources-opml' %}" class="dropdown-item" title="OPML contents">
              OPML</a>
          </li>
       </ul>
   </div>
</div>
