{% load static %}

<div class="d-flex">
   {% if user.is_staff %}
   <div class="dropdown mx-2">
      <button class="btn btn-primary" type="button" id="#sourceEditDrop" data-bs-toggle="dropdown" aria-expanded="false">
        Edit
      </button>
   
      <ul class="dropdown-menu">
         <li>
           <a href="{% url 'rsshistory:source-edit' object.id %}" class="dropdown-item" title="Edit source">
               <img src="{% static 'rsshistory/icons/icons8-edit-100.png' %}" class="content-icon" />
               Edit
           </a>
         </li>
         <li>
           <a href="{% url 'rsshistory:source-refresh' object.id %}" class="dropdown-item" title="Checks if the source has new data">
               <img src="{% static 'rsshistory/icons/icons8-update-100.png' %}" class="content-icon" />
               Refresh
           </a>
         </li>
         {% if object.enabled %}
         <li>
           <a href="{% url 'rsshistory:source-pause' object.id %}" class="dropdown-item" title="Pauses source">
               <img src="{% static 'rsshistory/icons/icons8-pause-squared-100.png' %}" class="content-icon" />
               Pause
           </a>
         </li>
         {% else %}
         <li>
           <a href="{% url 'rsshistory:source-resume' object.id %}" class="dropdown-item" title="Resumes source">
               <img src="{% static 'rsshistory/icons/icons8-play-100.png' %}" class="content-icon" />
               Resume
           </a>
         </li>
         {% endif %}
         <li>
            <a href="{% url 'rsshistory:source-remove' object.id %}" class="dropdown-item" title="Remove source">
                <img src="{% static 'rsshistory/icons/icons8-trash-100.png' %}" class="content-icon" />
                Remove
            </a>
         </li>
         <li>
            <a href="{% url 'rsshistory:source-remove-entries' object.id %}" class="dropdown-item">
                <img src="{% static 'rsshistory/icons/icons8-trash-multiple-100.png' %}" class="content-icon" />
                    Remove entries</a>
         </li>
      </ul>
   </div>
   {% endif %}

   <div class="dropdown mx-2">
     <button class="btn btn-primary" type="button" id="#entryAdvancedDrop" data-bs-toggle="dropdown" aria-expanded="false">
       Advanced
     </button>
   
     <ul class="dropdown-menu">
        {% if entry_object %}
        <li>
            <a href="{% url 'rsshistory:entry-detail' entry_object.id %}" class="dropdown-item">
              <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" class="content-icon" />
              Source entry
            </a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'rsshistory:entries-omni-search' %}?search=link+%3D+'{{object.url}}'" class="dropdown-item">
              <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" class="content-icon" />
             Source entry
            </a>
        </li>
        {% endif %}
   
        <li>
            <a href="{% url 'rsshistory:entries-omni-search' %}?search=source+%3D+'{{object.url}}'" class="dropdown-item">
              <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" class="content-icon" />
             Search entries
            </a>
        </li>
   
        {% if user.is_staff %}
           <li>
              <a href="{% url 'rsshistory:source-fix-entries' object.id %}" class="dropdown-item" title="Fixes entries for source, objects relationships, langauge">Fix entries</a>
           </li>
           <li>
              <a href="{% url 'rsshistory:source-process-contents' object.id %}" class="dropdown-item" title="Processes text as if it was source contents">Process source contents</a>
           </li>

           {% if handler.is_youtube %}
              <li>
                 <a href="{% url 'rsshistory:source-import-yt-links' object.id %}" class="dropdown-item" title="Fetches all the videos from source">Fetch all videos</a>
              </li>
           {% endif %}
        {% endif %}
   
        <li>
           <a href="{% url 'rsshistory:page-show-props' %}?page={{object.url}}" class="dropdown-item">Page properties</a>
        </li>
   
        <li>
           <a href="{% url 'rsshistory:source-json' object.id %}" class="dropdown-item">Show JSON</a>
        </li>
      </ul>
   </div>
</div>
