{% extends base_generic %}
{% load static %}
{% block content %}

  {% include "rsshistory/sourcedatacontroller_list_actions.html" %}

  {% include "rsshistory/filterform_basic_element.html" %}

  {% if query_filter.is_error %}
    <p class="error-text">There errors with your query</p>
  {% endif %}

  {% if content_list %}
     <div class="container list-group">
       {% for source in content_list %}
             {% if user_config.display_type == "clickable-tags" %}
                 {% include "rsshistory/sourcedatacontroller_list__standard.html" %}
             {% else %}
                 {% include "rsshistory/sourcedatacontroller_list__standard.html" %}
             {% endif %}
       {% endfor %}
     </div>

     <hr>
     {% include "rsshistory/pagination.html" %}

     <div class="container">
      <a href="{% url 'rsshistory:sources-json' %}?{{ request.GET.urlencode }}" class="btn btn-secondary" role="button">Show JSON</a>
      <a href="{% url 'rsshistory:sources' %}?{{ args }}&type=clear" class="btn btn-secondary" role="button">Clear list</a>
      <a href="{% url 'rsshistory:sources' %}?{{ args }}&type=normal" class="btn btn-secondary" role="button">Normal list</a>
     </div>

  {% else %}
    <p>There are no sources.</p>
  {% endif %}

{% endblock %}
