{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="javascript:history.back()" class="simplebutton">Go Back</a>

    <a href="{% url 'rsshistory:sources' %}" class='simplebutton'>
        <img src="{% static 'rsshistory/icons/icons8-start-100.png' %}" class="content-icon" />
        Reset filters</a>

    {% if user.is_staff %}
    <a href="{% url 'rsshistory:source-add-simple' %}" class="simplebutton">
        <img src="{% static 'rsshistory/icons/icons8-channel-add-96.png' %}" class="content-icon" />
        Add source</a>
    <a href="{% url 'rsshistory:entry-add-simple' %}" class="simplebutton">
        <img src="{% static 'rsshistory/icons/icons8-add-link-96.png' %}" class="content-icon" />
        Add entry</a>
    {% endif %}
</div>

  <form action="{{filter_form.action_url}}" method="{{filter_form.method}}">
      <table>
          {{ filter_form }}
          <tr>
              <td>
                  <input type="submit" value="Submit">
              </td>
          </tr>
      </table>
  </form>

  <hr>

  {% if source_list %}
     <div class="linklist container_{{user_config.display_type}}">
       {% for source in source_list %}
         <a href="{{ source.get_absolute_url }}"
           class="element_{{user_config.display_type}}"
           title="{{source.title}} {{source.get_full_description}}"
         >
           <div class="linklistitem">
             {% if user_config.show_icons %}
               <img src="{{source.get_favicon}}" class="content-icon"/>
             {% endif %}
             <span class="linklistitemtitle">{{source.title}}</span>
             <span class="linklistitemdescription">
                 {{source.get_full_description}}</span>
           </div>
         </a>
       {% endfor %}
     </div>

     <div class="pagination">
         <span class="step-links">
             {% if page_obj.has_previous %}
                <a href="?page=1{{query_filter.get_filter_string}}" class='simplebutton'>&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}{{query_filter.get_filter_string}}" class='simplebutton'>previous</a>
             {% endif %}

             <span class="current">
                 Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
             </span>

             {% if page_obj.has_next %}
               <a href="?page={{ page_obj.next_page_number }}{{query_filter.get_filter_string}}" class='simplebutton'>next</a>
               <a href="?page={{ page_obj.paginator.num_pages }}{{query_filter.get_filter_string}}" class='simplebutton'>last &raquo;</a>
             {% endif %}
         </span>
     </div>

     <a href="{% url 'rsshistory:sources-json' %}?{{ request.GET.urlencode }}" class='simplebutton'>Show JSON</a>

  {% else %}
    <p>There are no sources.</p>
  {% endif %}

{% endblock %}
