{% extends base_generic %}
{% load static %}
{% block content %}

<div class="title-link-container">
   {% if user_config.show_icons %}
        {% if entry_object %}
	<a href="{% url 'rsshistory:entry-detail' entry_object.id %}">
		{% else %}
	<a href="{{ object.url }}">
		{% endif %}
		<div class="title-thumbnail-container">
	           <img src="{{object.get_favicon}}" class="border rounded title-thumbnail"/>
		</div>
	 </a>
   {% endif %}

   <div class="mx-2 title-text-content">
		{% if entry_object %}
		<div>
			<h1 class="link-title" title="{{ object.url }}">
				<a href="{% url 'rsshistory:entry-detail' entry_object.id %}">
				 {{ object.title }}
				 </a>
			</h1>
		</div>
		{% else %}
		<div>
			<h1 class="link-title" title="{{ object.url }}">
				<a href="{{ object.url }}">
					{% include "rsshistory/icon_external.html" %}
					{{ object.title }}
				 </a>
			</h1>
		</div>
		{% endif %}

		{% if entry_object %}
		<div>
		  <a href="{{ object.url }}">
			 {% include "rsshistory/icon_external.html" %}
			 {{ object.url }}
		  </a>
		</div>
		{% endif %}

		{% for additional_link in additional_links %}
		<div>
			  <a href="{{additional_link}}">
				{% include "rsshistory/icon_external.html" %}
                {{additional_link}}
			  </a>
		</div>
		{% endfor %}

   </div>
</div>

{% include "rsshistory/sourcedatacontroller_detail_buttons.html" %}

<ul class="list-group my-2">
{% if object.enabled %}
    <li class="list-group-item text-nowrap mx-2">Enabled: {{ object.enabled }}</li>
{% else %}
    <li class="list-group-item text-nowrap mx-2 fw-bold">Enabled: {{ object.enabled }}</li>
{% endif %}
    <li class="list-group-item text-nowrap mx-2">Source type: {{ object.source_type }}</li>
    <li class="list-group-item text-nowrap mx-2">Fetch period: {{ object.fetch_period }}</li>
    <li class="list-group-item text-nowrap mx-2">Language: {{ object.language }}</li>
    <li class="list-group-item text-nowrap mx-2">Age: {{ object.age }}</li>
    <li class="list-group-item text-nowrap mx-2">Auto tag: {{ object.auto_tag }}</li>
    <li class="list-group-item text-nowrap mx-2">Category: {{ object.category_name }}</li>
    <li class="list-group-item text-nowrap mx-2">Subcategory: {{ object.subcategory_name }}</li>
    <li class="list-group-item text-nowrap mx-2">Category object: {{ object.category }}</li>
    <li class="list-group-item text-nowrap mx-2">Subcategory object: {{ object.subcategory }}</li>
    <li class="list-group-item text-nowrap mx-2">Export to CMS: {{ object.export_to_cms }}</li>
    <li class="list-group-item text-nowrap mx-2">Remove after days: {{ object.remove_after_days }}</li>
    <li class="list-group-item text-nowrap mx-2">Favicon: <a href="{{ object.get_favicon }}" title="{{ object.get_favicon }}">
	   <img src="{% static 'rsshistory/icons/icons8-external-link-128.png' %}"	 class="content-icon"/>
	   Link</a></li>
    {% if object.proxy_location %}
    <li class="list-group-item text-nowrap mx-2">Proxy location: <a href="{{ object.proxy_location }}">
	     <img src="{% static 'rsshistory/icons/icons8-external-link-128.png' %}"	 class="content-icon"/>
	     {{ object.proxy_location }}</a></li>
    {% endif %}
    <li class="list-group-item text-nowrap mx-2">Fetched: {{date_fetched}}</li>
    <li class="list-group-item text-nowrap mx-2">Import seconds: {{object.dynamic_data.import_seconds}}</li>
    <li class="list-group-item text-nowrap mx-2">Consecutive Errors: {{object.dynamic_data.consecutive_errors}}</li>
</ul>

{% endblock %}
