{% extends base_generic %}
{% load static %}
{% block content %}

<h1 class="link-title">
    <a href="{{ object.get_entry_url }}">
       <div class="d-flex">
           {% if user_config.show_icons %}
             <img src="{{object.get_favicon}}" class="link-detail-thumbnail border rounded"/>
           {% endif %}
	   <div class="mx-2">
             {{ object.title }}
	   </div>
       </div>
    </a>
</h1>

{% if is_youtube_channel %}
<a href="{{ page_object.get_channel_url }}">{{ page_object.get_channel_url }}</a>
{% endif %}

<div>
  <a href="{{ object.url }}">{{ object.url }}</a>
</div>

<hr/>

{% include "rsshistory/sourcedatacontroller_detail_buttons.html" %}

<div class="d-flex flex-wrap mb-2">
{% if object.enabled %}
    <div class="text-nowrap mx-2">Enabled: {{ object.enabled }}</div>
{% else %}
    <div class="text-nowrap mx-2 fw-bold">Enabled: {{ object.enabled }}</div>
{% endif %}
    <div class="text-nowrap mx-2">Fetch period: {{ object.fetch_period }}</div>
    <div class="text-nowrap mx-2">Category: {{ object.category }}</div>
    <div class="text-nowrap mx-2">Subcategory: {{ object.subcategory }}, </div>
    <div class="text-nowrap mx-2">Language: {{ object.language }}, </div>
    <div class="text-nowrap mx-2">Age: {{ object.age }}, </div>
    <div class="text-nowrap mx-2">Export to CMS: {{ object.export_to_cms }}, </div>
    <div class="text-nowrap mx-2">Remove after days: {{ object.remove_after_days }}, </div>
    <div class="text-nowrap mx-2">Favicon:<a href="{{ object.get_favicon }}" title="{{ object.get_favicon }}">Favicon URL</a>, </div>
    <div class="text-nowrap mx-2">Source type: {{ object.source_type }}</div>
    {% if object.proxy_location %}
    <div class="mx-2">Proxy location:<a href="{{ object.proxy_location }}">{{ object.proxy_location }}</a></div>
    {% endif %}
    <div class="text-nowrap mx-2">Fetched:{{date_fetched}}</div>
    <div class="text-nowrap mx-2">Import seconds:{{object.dynamic_data.import_seconds}}</div>
    <div class="text-nowrap mx-2">Consecutive Errors:{{object.dynamic_data.consecutive_errors}}</div>
</div>

{% include "rsshistory/search_places_element.html" %}

{% endblock %}
