{% load static %}

<div class="d-flex">
   {% if user.is_staff %}
   <div class="dropdown mx-2">
      <button class="btn btn-primary" type="button" id="#sourceEditDrop" data-bs-toggle="dropdown" aria-expanded="false">
        Edit
      </button>
   
      <ul class="dropdown-menu">
         <li>
           <a href="{% url 'rsshistory:source-edit' object.id %}" class="dropdown-item" title="Edit source">
               {% include "rsshistory/icon_edit.html" %}
               Edit
           </a>
         </li>
         <li>
           <a href="{% url 'rsshistory:source-refresh' object.id %}" class="dropdown-item" title="Checks if the source has new data">
               {% include "rsshistory/icon_update.html" %}
               Refresh
           </a>
         </li>
         {% if object.enabled %}
         <li>
           <a href="{% url 'rsshistory:source-disable' object.id %}" class="dropdown-item" title="Disables source">
               {% include "rsshistory/icon_disable.html" %}
               Disable
           </a>
         </li>
         {% else %}
         <li>
           <a href="{% url 'rsshistory:source-enable' object.id %}" class="dropdown-item" title="Enables source">
               {% include "rsshistory/icon_enable.html" %}
               Enable
           </a>
         </li>
         {% endif %}
         <li>
            <a href="{% url 'rsshistory:source-remove' object.id %}" class="dropdown-item" title="Remove source">
               {% include "rsshistory/icon_remove.html" %}
                Remove
            </a>
         </li>
         <li>
            <a href="{% url 'rsshistory:source-remove-entries' object.id %}" class="dropdown-item">
                <img src="{% static 'rsshistory/icons/icons8-trash-multiple-100.png' %}" class="content-icon" />
                    Remove entries</a>
         </li>
      </ul>
   </div>
   {% endif %}

   <div class="dropdown mx-2">
     <button class="btn btn-primary" type="button" id="#entryViewDrop" data-bs-toggle="dropdown" aria-expanded="false">
       View
     </button>
   
     <ul class="dropdown-menu">
        <li>
            <a href="{% url 'rsshistory:entries' %}?search=source__url+%3D+'{{object.url}}'" class="dropdown-item">
              <img src="{% static 'rsshistory/icons/icons8-link-90.png' %}" class="content-icon" />
             [S] entries
            </a>
        </li>
      </ul>
   </div>

   <div class="dropdown mx-2">
     <button class="btn btn-primary" type="button" id="#entryAdvancedDrop" data-bs-toggle="dropdown" aria-expanded="false">
       Advanced
     </button>
   
     <ul class="dropdown-menu">
        {% if user.is_staff %}
           <li>
              <a href="{% url 'rsshistory:source-fix-entries' object.id %}" class="dropdown-item" title="Fixes entries for source, objects relationships, langauge">Fix entries</a>
           </li>
           <li>
              <a href="{% url 'rsshistory:source-process-contents' object.id %}" class="dropdown-item" title="Processes text as if it was source contents">Process source contents</a>
           </li>

           {% if handler.is_youtube %}
              <li>
                 <a href="{% url 'rsshistory:source-import-yt-links' object.id %}" class="dropdown-item" title="Fetches all the videos from source">Fetch all videos</a>
              </li>
           {% endif %}
        {% endif %}
   
        <li>
           <a href="{% url 'rsshistory:page-show-props' %}?page={{object.url}}" class="dropdown-item">Page properties</a>
        </li>
   
        <li>
           <a href="{% url 'rsshistory:source-json' object.id %}" class="dropdown-item">Show JSON</a>
        </li>
      </ul>
   </div>

   <div class="dropdown">
       <button class="btn btn-primary" type="button" id="#viewsDrop" data-bs-toggle="dropdown" aria-expanded="false">
         View
       </button>
       <ul class="dropdown-menu">
          <li>
             <a href="{% url 'rsshistory:categories-view' %}" class="dropdown-item" title="Shows source categories">
              Source categories</a>
          </li>
       </ul>
   </div>
</div>
