{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
</div>

<h1>Status</h1>

<ul>
    <li>Version: {{app_version}}</li>
    <li>Current time: {{DateTime_Current}}</li>

    <li>Last internet connection check: {{last_internet_check}}</li>
    <li>Last internet connection status: {{last_internet_status}}</li>

    {% for thread_info in c.get_thread_info %}
    <li>Thread: {{thread_info.0}} {{thread_info.1}}</li>
    {% endfor %}

    {% if days_to_move_to_archive %}
      <li>Move to archive date: {{days_to_move_to_archive}}</li>
    {%endif%}
    {% if days_to_remove_links %}
      <li>Remove entries by date: {{days_to_remove_links}}</li>
    {%endif%}
    {% if days_to_check_std_entries %}
      <li>Normal entries are checked if older than: {{days_to_check_std_entries}}</li>
    {%endif%}
    {% if days_to_check_stale_entries %}
      <li>Dead entries are checked if older than: {{days_to_check_stale_entries}}</li>
    {%endif%}
    {% if days_to_remove_stale_entries %}
      <li>Remove dead links before date: {{days_to_remove_stale_entries}}</li>
    {%endif%}
</ul>

<h1>Tables</h1>
Table usage
<ul>
    <li>ConfigurationEntry: {{ConfigurationEntry}}</li>
    <li>UserConfig: {{UserConfig}}</li>
    <li>SystemOperation: {{SystemOperation}}</li>

    <li>SourceDataModel: {{SourceDataModel}}</li>
    <li>LinkDataModel: {{LinkDataModel}}</li>
    <li>LinkDataModel to update: {{LinkDataModel_toupdate}}</li>
    <li>ArhiveLinkDataModel: {{ArchiveLinkDataModel}}</li>
    <li>Keywords: {{KeyWords}}</li>

    <li>UserTags: {{UserTags}}</li>
    <li>UserVotes: {{UserVotes}}</li>
    <li>UserBookmarks: {{UserBookmarks}}</li>
    <li>UserComments: {{LinkCommentDataController}}</li>
    <li>UserSearchHistory: {{UserSearchHistory}}</li>
    <li>UserEntryVisitHistory: {{UserEntryVisitHistory}}</li>
    <li>UserEntryTransitionHistory: {{UserEntryTransitionHistory}}</li>
    <li>ModelFiles: {{ModelFiles}}
        <div>
        <a href="{% url 'rsshistory:model-files' %}" title="View background jobs" class="btn btn-secondary" role="button">View</a>
        </div>
    </li>

    <li>DataExport: {{DataExport}}</li>
    <li>SourceExportHistory: {{SourceExportHistory}}</li>

    <li>BackgroundJob: {{BackgroundJob}}
        <div>
        <a href="{% url 'rsshistory:backgroundjobs' %}" title="View background jobs" class="btn btn-secondary" role="button">View</a>
        </div>
    </li>

    <li>AppLogging: {{AppLogging}} 
        <div>
        <a href="{% url 'rsshistory:logs' %}" title="View all logs" class="btn btn-secondary" role="button">View</a>
        </div>
    </li>

    <li>Domains: {{Domains}}
        <div>
        <a href="{% url 'rsshistory:domains' %}" title="Domains" class="btn btn-secondary" role="button">View</a>
        </div>
    </li>
</ul>

<h1>Export history</h1>
<p>
     {% for history_entry in export_history_list %}
     <div>{{history_entry.date}}, 
        {% if history_entry.export_obj %}
           {{history_entry.export_obj.remote_path}}, {{history_entry.export_obj.export_type}}, {{history_entry.export_obj.export_data}}
        {% endif %}
     </div>
     {% endfor %}
</p>

{% endblock %}
