{% extends base_generic %}
{% load static %}
{% block content %}

<div id="bodyBlock">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...
</div>

<script>
function loadBodyContent() {
    $.ajax({
	url: '{% url 'rsshistory:get-system-status' %}',
	type: 'GET',
	success: function(data) {
	    $('#bodyBlock').html(data);
	},
	error: function(xhr, status, error) {
	    $('#bodyBlock').html("Error loading dynamic content")
	}
    });
}

$(document).ready(function() {
    loadBodyContent();

    setInterval(function() {
	loadBodyContent();
    }, 300000);  // 5 minutes in milliseconds
});

document.addEventListener('visibilitychange', function() {
    if (!document.hidden) {
	loadBodyContent();
    }
});
</script>

{% endblock %}
