{% extends base_generic %}
{% load static %}
{% block content %}

<div id="statusContainer">
</div>

<div id="settingsContainer">
</div>

<div id="tablesContainer">
</div>

  <!--span class="position-absolute top-5 start-95 translate-middle badge rounded-pill bg-danger invisible threadErrorElement">
      !
      <span class="visually-hidden">Configuration error</span>
  </span-->
<div id="threadsContainer">
</div>

<div id="exportStatsContainer">
</div>

<div id="monitoringContainer">
</div>


<script>
    function getSystemStatusText(data) {
        let htmloutput = '<ul class="list-group">';

        htmloutput += `
            <li class="list-group-item active">System status</li>
        `;

        if (data.last_internet_check) {
            data.last_internet_check = new Date(data.last_internet_check).toLocaleString();
        }
        if (data.last_crawling_server_check) {
            data.last_crawling_server_check = new Date(data.last_crawling_server_check).toLocaleString();
        }
        if (data.days_to_move_to_archive) {
            data.days_to_move_to_archive = new Date(data.days_to_move_to_archive).toLocaleString();
        }
        if (data.days_to_remove_links) {
            data.days_to_remove_links = new Date(data.days_to_remove_links).toLocaleString();
        }
        if (data.days_to_remove_stale_entries) {
            data.days_to_remove_stale_entries = new Date(data.days_to_remove_stale_entries).toLocaleString();
        }
        if (data.days_to_check_std_entries) {
            data.days_to_check_std_entries = new Date(data.days_to_check_std_entries).toLocaleString();
        }
        if (data.days_to_check_stale_entries) {
            data.days_to_check_stale_entries = new Date(data.days_to_check_stale_entries).toLocaleString();
        }
        if (data.current_time) {
            data.current_time = new Date(data.current_time).toLocaleString();
        }

        let array = [
            { name: "Last internet check", value: data.last_internet_check },
            { name: "Last internet status", value: data.last_internet_status },
            { name: "Crawling server check", value: data.last_crawling_server_check },
            { name: "Crawling server status", value: data.last_crawling_server_status },
            { name: "days to move to archive", value: data.days_to_move_to_archive },
            { name: "days to remove links", value: data.days_to_remove_links },
            { name: "days to remove stale entries", value: data.days_to_remove_stale_entries },
            { name: "days to check std entries", value: data.days_to_check_std_entries },
            { name: "days to check stale entries", value: data.days_to_check_stale_entries },
            { name: "current time", value: data.current_time },
            { name: "directory", value: data.directory }
        ];

        for (let element of array) {
            htmloutput += `<li class="list-group-item">${element.name}: ${element.value}</li>`;
        }

        htmloutput += '</ul>';

        return htmloutput;
    }


    function getThreadsText(threads) {
        let htmloutput = '<ul class="list-group">';

        htmloutput += `
            <li class="list-group-item active">Threads</li>
        `;

        if (threads && threads.length > 0) {
            threads.forEach(thread => {
                let thread_name = thread.name;

                let thread_date = "null";
                if (thread.date) {
                    // Convert thread.date to a Date object, then toLocaleString
                    thread_date = new Date(thread.date).toLocaleString();
                }

                let table_text = `
                    <li class="list-group-item">${thread.name}: ${thread_date} Status:${thread.status}</li>
                `;

                htmloutput += table_text;
            });
        } else {
            htmloutput = '<li class="list-group-item">no entries found</li>';
        }

        htmloutput += '</ul>';

        return htmloutput;
    }


    function getTableStatusText(tables) {
        let htmloutput = '<ul class="list-group">';

        htmloutput += `
            <li class="list-group-item active">Tables</li>
        `;

        if (tables && tables.length > 0) {
            tables.forEach(table => {
                let tablename = table.name;
                let tablecount = table.count;

                let table_text = `
                <li class="list-group-item">${tablename}: ${tablecount}</li>
                `

                htmloutput += table_text;
            });
        } else {
            htmloutput = '<li class="list-group-item">no entries found</li>';
        }

        htmloutput += '</ul>';

        return htmloutput;
    }


    function getSystemMonitoringText(data) {
        let htmloutput = '<ul class="list-group">';

        if (!data || typeof data !== 'object') {
            return '<li class="list-group-item">No system data available</li>';
        }

        Object.entries(data).forEach(([key, value]) => {
            htmloutput += `
                <li class="list-group-item active">${key.replace(/_/g, ' ')}</li>
            `;

            if (typeof value === 'object' && value !== null) {
                htmloutput += '<li class="list-group-item"><ul class="list-group">';

                Object.entries(value).forEach(([subKey, subVal]) => {
                    htmloutput += `
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>${subKey.replace(/_/g, ' ')}</span>
                            <span>${subVal}</span>
                        </li>
                    `;
                });

                htmloutput += '</li>';
            } else {
                htmloutput += `
                    <li class="list-group-item">${value}</li>
                `;
            }
        });

        htmloutput += '</ul>';
        return htmloutput;
    }


    function getExportStatusText(exports) {
        let htmloutput = '<ul class="list-group">';

        htmloutput += `
            <li class="list-group-item active">Export status</li>
        `;

        if (exports && exports.length > 0) {
            exports.forEach(theexport => {
                let export_date = theexport.date;
                let export_local_path = theexport.local_path;
                let export_remote_path = theexport.remote_path;
                let export_type = theexport.export_type;
                let export_data = theexport.export_data;

                let table_text = `
                    <li class="list-group-item">${export_date}: ${export_type} ${export_data} ${export_remote_path} ${export_local_path}</li>
                `

                htmloutput += table_text;
            });
        } else {
            htmloutput = '<li class="list-group-item">no entries found</li>';
        }

        htmloutput += '</ul>';

        return htmloutput;
    }


    function getDjangoSettings(data) {
        let htmloutput = '<ul class="list-group">';

        htmloutput += `
            <li class="list-group-item active">Django settings</li>
        `;
    
        for (const [key, value] of Object.entries(data)) {
            let displayValue;
    
            if (typeof value === 'object' && value !== null) {
                displayValue = JSON.stringify(value, null, 2);
            } else if (key.includes('date') || key.includes('time')) {
                displayValue = value ? new Date(value).toLocaleString() : 'N/A';
            } else {
                displayValue = value;
            }
    
            htmloutput += `<li class="list-group-item">${key}: ${displayValue}</li>`;
        }
        htmloutput += '</ul>';

        return htmloutput;
    }


    function fillSystemStatus(data) {
        var system_status_text = getSystemStatusText(data);
        $('#statusContainer').html(system_status_text);
        var threads_text = getThreadsText(data.threads);
        $('#threadsContainer').html(threads_text);

        if (common_indicators.threads_error.status) {
           showElement(".threadErrorElement");
        }
    }


    function fillSystemMonitoring(data) {
        var system_status_text = getSystemMonitoringText(data);
        $('#monitoringContainer').html(system_status_text);
    }


    function fillTableStatus(tables) {
        var text = getTableStatusText(tables);
        $('#tablesContainer').html(text);
    }


    function fillExportStatus(data) {
        var text = getExportStatusText(data.exports);
        $('#exportStatsContainer').html(text);
    }


    function fillDjangoSettings(data) {
	let htmlOutput = getDjangoSettings(data);
    
        // Inject the HTML into the settings block
        $('#settingsContainer').html(htmlOutput);
    }


    function loadSystemStatus(attempt = 1) {
        $('#statusContainer').html(getSpinnerText());
        $.ajax({
            url: '{% url 'rsshistory:json-system-status' %}',
            type: 'GET',
            timeout: 10000,
            success: function(data) {
                fillSystemStatus(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 3) {
                    loadSystemStatus(attempt + 1);
                } else {
                }
            }
        });
    }


    function loadSystemMonitoring(attempt = 1) {
        $('#monitoringContainer').html(getSpinnerText());
        $.ajax({
            url: '{% url 'rsshistory:json-system-monitoring' %}',
            type: 'GET',
            timeout: 10000,
            success: function(data) {
                fillSystemMonitoring(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 3) {
                    loadSystemMonitoring(attempt + 1);
                }
            }
        });
    }


    function loadTableStatus(attempt = 1) {
        $('#tablesContainer').html(getSpinnerText());
        $.ajax({
            url: '{% url 'rsshistory:json-table-status' %}',
            type: 'GET',
            timeout: 10000,
            success: function(data) {
                $('#tablesContainer').html("Table success")
                fillTableStatus(data.tables);
            },
            error: function(xhr, status, error) {
                if (attempt < 3) {
                    loadTableStatus(attempt + 1);
                } else {
                    //$('#tableStats').html("Error loading dynamic content")
                }
            }
        });
    }


    function loadExportStatus(attempt = 1) {
        $('#exportStatsContainer').html(getSpinnerText());
        $.ajax({
            url: '{% url 'rsshistory:json-export-status' %}',
            type: 'GET',
            timeout: 10000,
            success: function(data) {
                fillExportStatus(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 3) {
                    loadExportStatus(attempt + 1);
                } else {
                    //$('#exportStatsContainer').html("Error loading dynamic content")
                }
            }
        });
    }


    function loadDjangoSettings(attempt = 1) {
        $('#settingsContainer').html(getSpinnerText());
        $.ajax({
            url: '{% url 'rsshistory:get-settings' %}',
            type: 'GET',
            timeout: 10000,
            success: function(data) {
                fillDjangoSettings(data);
            },
            error: function(xhr, status, error) {
                if (attempt < 3) {
                    loadDjangoSettings(attempt + 1);
                } else {
                    //$('#settingsContainer').html("Error loading dynamic content")
                }
            }
        });
    }

    function loadAll() {
        loadSystemStatus();
        loadSystemMonitoring();
        loadTableStatus();
        loadExportStatus();
        loadDjangoSettings();
    }

    $('#statusContainer').html("Document ready")
    loadAll();

    setInterval(function() {
        loadAll();
    }, 300000);
</script>

{% endblock %}
