{% extends base_generic %}
{% load static %}
{% block content %}

<div class="container">
    <a href="{% url 'rsshistory:tags-show-recent' %}" class="btn btn-secondary" role="button" title="Shows recent tags">Recent tags</a>
    <a href="{% url 'rsshistory:entries-untagged' %}" class="btn btn-secondary" role="button" title="Shows untagged bookmarks">Untagged bookmarks</a>
    {% if user.is_staff %}
    <a href="{% url 'rsshistory:tag-many' %}" class="btn btn-secondary" role="button" title="Tags many links">Tag many links</a>
    <a href="{% url 'rsshistory:tag-rename' %}" class="btn btn-secondary" role="button" title="Renames tag">Rename tag</a>
    <a href="{% url 'rsshistory:tag-remove-form' %}" class="btn btn-secondary" role="button" title="Removes tag">Remove tag</a>
    {% endif %}
</div>

<h1>{{tags_title}}</h1>

<div class="container">
 {% if tag_objects %}
     {% for tag in tag_objects %}
     <a href='{% url 'rsshistory:entries-omni-search'%}?search=tags__tag+%3D%3D+"{{tag.0}}"' title="#{{tag.0}} {{tag.1}}">
        #{{tag.0}}
     </a>,
     {% endfor %}
 {% else %}
   No tags
 {% endif %}
</div>

<h1>Details</h1>

Tags are obtained from bookmarked titles.

{% endblock %} 
