{% extends base_generic %}

{% block content %}

<h2>Tags meaning</h2>
Some tags names might be confusing. Therefore I provide a little bit of help in understanding the idea behind the tag naming convention.
<ul>
  <li>Hate speech - this term is often used by a woke mob. Here it is used to target the real hate speech. Everything about hate. Hate against minorities, hate agains majorities in society. Marks also the hate against white straight dudes.</li>
  <li>Technofeudalism - everything about reliance on big tech solutions. Imagine a world in which you have no free will, but you need to listen to your media platform overlords.</li>
  <li>Tech control - everything about government regulating tech</li>
  <li>BigBrother - tags for links that captures the essense of the government</li>
  <li>BigTech - tags links concerning the big tech</li>
  <li>Corporatocracy - everything that shows that corporations are above government</li>
  <li>ScienceIsDead - everything that proves that you cannot trust science today</li>
  <li>Inequality - everything that shows that richer are 'more equal' then the poor. Everything that makes one race, or gender above others</li>
  <li>Virtue signalling - Fake activism</li>
  <li>Hypocrisy - everything that shows hypocrisy, mostly of activist. Everybody who worship 'climate change' and yet use private jet</li>
  <li>Newspeak - everything about forcing changes in languages. The focus is not in organic, natural changes in language, but in forming manufactured artificial changes.</li>
  <li>Manufacturing consent - everything that proves that nodes in a society, the 'system' operates in unison. Government works with banks, corporations agree with banks. There is mutual agreement in many places</li>
  <li>Censorship - everything about censorship. Sometimes might be joined with another tag, lik 'moderation' as some form of censorship is necessary, and is a good thing</li>
  <li>Privacy - everything that violates the user privacy</li>
  <li>Disinformation - things that could have been created to distract, or misdirect attention</li>
  <li>SelfHost - everything related to hosting things by yourself. May it be NextCloud, apache server, etc.</li>
  <li>Antitrust - everything that shows that you cannot trust big tech</li>
  <li>Subscription - In today's model everything is a service. It has its downsides. This tag commonly marks this</li>
</ul>

<h2>Popular tags</h2>

{{ summary_text | safe }}

{% endblock %}
