{% extends base_generic %}
{% load static %}
{% block content %}

<h1>Search History</h1>

  {% if content_list %}
     <ul class="list-group">
         {% for search_history in content_list %}
         <a href="{% url 'rsshistory:entries' %}?search={{search_history.search_query}}"
            title="Date: {{search_history.date}}"
            >
             <li class="list-group-item">
                🔍
                {{search_history.search_query}}
             </li>
         </a>
         {% endfor %}
     </ul>
     {% include "rsshistory/pagination.html" %}

  {% else %}
    No history yet
  {% endif %}

{% endblock %} 
