{% extends base_generic %}
{% load static %}

{% block content %}

<h1>User configuration: [{{ user.get_username }}]</h1>

<form action="{{config_form.action_url}}" method="{{config_form.method}}" style="margin:10px">
     {% csrf_token %}
     {{config_form}}
     <input type="submit" value="Submit">
</form>

<hr>

<a href="{% url 'rsshistory:logout' %}" class="mainbutton">
            <img src="{% static 'rsshistory/icons/icons8-logout-100.png' %}" class="content-icon" />
            Logout</a>

{% endblock %}
