{% extends base_generic %}
{% load static %}
{% block content %}

<h1>Search History</h1>

  {% if content_list %}
     <ul class="list-group">
         {% for search_history in content_list %}
         <a href="{% url 'rsshistory:entries' %}?search={{search_history.search_query}}"
            title="Date: {{search_history.date}}"
            >
             <li class="list-group-item d-flex justify-content-between  align-items-center">
		<div>
                   🔍{{search_history.search_query}}
		</div>
		<a href="{% url 'rsshistory:user-search-history-remove' %}?search={{search_history.search_query}} class="ms-auto user-history-remove" data-search="${item_escaped}">
                   <img src="{% static 'rsshistory/icons/icons8-trash-multiple-100.png' %}" class="content-icon" />
		</a>
             </li>
         </a>
         {% endfor %}
     </ul>
     {% include "rsshistory/pagination.html" %}

  {% else %}
    No history yet
  {% endif %}

{% endblock %} 
