{% extends base_generic %}
{% load static %}
{% block content %}

<div class="contentbuttonmenu">
    <a href="{% url 'rsshistory:logout' %}" class="btn btn-primary">
                <img src="{% static 'rsshistory/icons/icons8-logout-100.png' %}" class="content-icon" />
                Logout</a>
</div>

<h1>User configuration: [{{ user.get_username }}]</h1>

<div>Karma: {{user_object.karma}}</div>

<form action="{{config_form.action_url}}" method="{{config_form.method}}" style="margin:10px">
    <table>
        {% csrf_token %}
        {{config_form}}
        <tr>
            <td>
                <input type="submit" value="Submit" class="btn btn-primary" role="button">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
