{% extends base_generic %}
{% load static %}
{% block content %}

<h1>User configuration: [{{ user.get_username }}]</h1>

<div>Karma: {{user_object.karma}}</div>

<form action="{{config_form.action_url}}" method="{{config_form.method}}" style="margin:10px">
    <table>
        {% csrf_token %}
        {{config_form}}
        <tr>
            <td>
                <input type="submit" value="Submit" class="btn btn-primary" role="button">
            </td>
        </tr>
    </table>
</form>

{% endblock %}
