{% extends base_generic %}
{% load static %}
{% block content %}

<a id="clear-list" href="{% url 'rsshistory:user-api-keys' %}" class="btn btn-primary">
<img src="{% static 'rsshistory/icons/account.png' %}" class="content-icon" />
  API keys</a>
<a id="clear-list" href="{% url 'rsshistory:user-credentials' %}" class="btn btn-primary">
<img src="{% static 'rsshistory/icons/account.png' %}" class="content-icon" />
  Credentials</a>

<h1>[{{user_object.karma}}] {{ user_object.user.username }}</h1>

<form action="{{config_form.action_url}}" method="{{config_form.method}}">
      {% csrf_token %}
      {% for field in config_form %}
         <div class="form-group row">
            <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
            <div class="col-sm-10">
               <div>
               {{field }}
               </div>
               <small id="{{field.id_for_label}}_help" class="form-text text-muted">
                 {{field.help_text | safe }}
               </small>
            </div>
         </div>
      {% endfor %}

      <button type="submit" id="btnFetch" value="Submit" class="btn btn-primary" role="button">Apply</button>
</form>

{% with object=user_object.user %}
<div>User ID:{{object.id}}</div>
<div>User name:{{object.username}}</div>
<div>e-mail:{{object.email}}</div>
<div>Staff:{{object.is_staff}}</div>
<div>Active:{{object.is_active}}</div>
<div>Last login:{{object.last_login}}</div>
<div>Date joined:{{object.date_joined}}</div>
{% endwith %}

{% endblock %}
