{% extends base_generic %}
{% load static %}
{% block content %}

<h1>Comment History</h1>

  {% if content_list %}
     <div class="list-group">
         {% for comment in content_list %}
         <div class="my-1">
             {% with entry=comment.entry %}
             <a href="{{ entry.get_absolute_url }}" title="{{entry.title }}">
                 <div class="d-flex">
                     <div>
                     {% include "rsshistory/entry_thumbnail_element.html" %}
                     </div>

                     <div>
                         {{entry.title}}
                         {{comment.date_published}}
                         {{comment.date_edited}}
                     </div>
                     <div>
                     {{comment.comment}}
                     </div>
                 </div>
             </a>
             {% endwith %}
         </div>
         {% endfor %}
      {% include "rsshistory/pagination.html" %}
  {% else %}
    No history yet
  {% endif %}

{% endblock %} 
