{% extends base_generic %}
{% load static %}
{% block content %}

<h1>Browse History</h1>

  {% if content_list %}
     <div class="list-group">
         {% for visit_history in content_list %}
         <div class="my-1">
             {% with entry=visit_history.entry %}
             <a href="{{ entry.get_absolute_url }}" title="{{entry.title }}">
                 <div class="d-flex">
                     <div>
                     {% include "rsshistory/entry_thumbnail_element.html" %}
                     </div>

                     <div>
                         {{entry.title}}
                         Visits:{{visit_history.visits}}
                         Date of the last visit:{{visit_history.date_last_visit}}
                     </div>
                 </div>
             </a>
             {% endwith %}
         </div>
         {% endfor %}
      {% include "rsshistory/pagination.html" %}
  {% else %}
    No history yet
  {% endif %}

{% endblock %} 
