{% extends base_generic %}
{% load static %}
{% block content %}

<ul id="buttonsSpace" class="list-group mr-auto">
  <li class="list-group-item">
      <button id="btnFetchNews" class="btn btn-primary">Setup for news reader</button>
      <div class="text-muted">Setup best suited for RSS clients, news.</div>
  </li>

  <li class="list-group-item">
      <button id="btnFetchGallery" class="btn btn-primary">Setup as gallery viewer</button>
      <div class="text-muted">Setup best suited for YouTube-like players, tiktoks, image galleries.</div>
  </li>

  <li class="list-group-item">
      <button id="btnFetchSearchEngine" class="btn btn-primary">Setup as a simple search engine</button>
      <div class="text-muted">Setup best suited for Google like Search engines.</div>
  </li>
</ul>

<div id="setupSpace">
</div>

<script>
   function initializeSources() {
      $.ajax({
        url: "{% url 'rsshistory:sources-initialize' %}",
        type: "GET",
        success: function(response, status, xhr) {
          if (xhr.status === 200) {
            $("#buttonsSpace").hide();
            $("#setupSpace").append("<p>Source initialization was successful.</p>");
            $("#setupSpace").append("<p>You can navigate to sources to enable some RSS sources.</p>");
          }
        },
        error: function() {
          $("#setupSpace").append("<p>An error occurred. Please try again.</p>");
        },
        complete: function() {
          $("#btnFetchNews").prop("disabled", false).html("Setup for News");
        }
      });
   }
   
   function setupFor(url, element) {
      $(element).prop("disabled", true);
   
      $("#setupSpace").append("<p>Starting configuration.</p>");
      
      $(element).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $.ajax({
        url: url,
        type: "GET",
        success: function(response, status, xhr) {
          if (xhr.status === 200) {
            $("#setupSpace").append("<p>Initialization was successful.</p>");
          }
        },
        error: function() {
          $("#setupSpace").append("<p>An error occurred. Please try again.</p>");
        },
        complete: function() {
          $(element).prop("disabled", false).html("Setup for News");
        }
      });
   }

   $("#btnFetchNews").click(function() {
     setupFor("{% url 'rsshistory:wizard-setup-news' %}", "#btnFetchNews");
   });
   $("#btnFetchGallery").click(function() {
     setupFor("{% url 'rsshistory:wizard-setup-gallery' %}", "#btnFetchGallery");
   });
   $("#btnFetchSearchEngine").click(function() {
     setupFor("{% url 'rsshistory:wizard-setup-search-engine' %}", "#btnFetchSearchEngine");
   });
</script>


{% endblock %}
