{% extends base_generic %}
{% load static %}
{% block content %}

<script>
$(document).ready(function() {
    $("#btnFetchNews").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
    });
});
$(document).ready(function() {
    $("#btnFetchGallery").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
    });
});
$(document).ready(function() {
    $("#btnFetchSearchEngine").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
    });
});
</script>

<ul class="list-group mr-auto">
  <li class="list-group-item">
      <a href="{% url 'rsshistory:wizard-setup-news' %}" id="btnFetchNews" class="btn btn-primary" role="button">Setup for News</a>
      <div class="text-muted">Setup best suited for RSS clients, news.</div>
  </li>

  <li class="list-group-item">
      <a href="{% url 'rsshistory:wizard-setup-gallery' %}" id="btnFetchGallery" class="btn btn-primary" role="button">Setup for Gallery</a>
      <div class="text-muted">Setup best suited for YouTube-like players, tiktoks, image galleries.</div>
  </li>

  <li class="list-group-item">
      <a href="{% url 'rsshistory:wizard-setup-search-engine' %}" id="btnFetchSearchEngine" class="btn btn-primary" role="button">Setup for Search Engine</a>
      <div class="text-muted">Setup best suited for Google like Search engines.</div>
  </li>

{% endblock %}
