{% extends base_generic %}
{% load static %}
{% block content %}

<ul id="buttonsSpace" class="list-group mr-auto">
  <li class="list-group-item">
      <button id="btnFetchNews" class="btn btn-primary">Setup News Reader</button>
      <div class="text-muted">Setup best suited for RSS clients, news.</div>
  </li>

  <li class="list-group-item">
      <button id="btnFetchGallery" class="btn btn-primary">Setup Gallery Viewer</button>
      <div class="text-muted">Setup best suited for YouTube-like players, image galleries.</div>
  </li>

  <li class="list-group-item">
      <button id="btnFetchSearchEngine" class="btn btn-primary">Setup Simple Search Engine</button>
      <div class="text-muted">Setup best suited for Google like Search engines.</div>
  </li>
</ul>

<div id="setupSpace">
</div>

<script>
{% include "rsshistory/wizard_setup_init.js" %}
</script>

{% endblock %}
