/* side bar */

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.page-body {
    background-color:#F9F9F9
}

.mainbutton {
  color : #373737;
  padding: 3px 12px;
  text-decoration: none;
  display: inline-block;
  /* border-bottom: 1px solid blue; */
  background-color: #e9e9e9;
  border-radius: 10px;
  margin: 1px;
}
.mainbutton:hover {
  background-color: #e0e0e0;
  color: blue;
}

/* Content */

input {
box-shadow: none;
  display: block;
  color: black;
  /* padding: 3px 15px; */
  text-align: left;
  text-decoration: none;
  /* text-decoration: underline; */
  /* border: 1px solid #373737; */
  /* border-bottom: 1px solid blue; */
  background-color: #e9e9e9;
  border-radius: 10px;
}
select {display: block;} 
textarea {display: block;}

hr {
    margin: 0px;
    padding: 0px;
}

.simplebuttoninline {
display: contents;
}

.simplebutton {
  color: black;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  /* text-decoration: underline; */
  display: inline-block;
  /* border: 1px solid #373737; */
  /* border-bottom: 1px solid blue; */
  background-color: #e9e9e9;
  border-radius: 10px;
}

.simplebutton:hover {
  background-color: #e0e0e0;
  color: blue;
}

.linklist {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.longbutton {
  /* background-color: #000000; */
  padding: 0px 15px;
  text-align: left;
  color: black;
  text-decoration: none;
  margin-bottom:3px;
  /* border: 1px solid #373737; */
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
}

.longbuttonselected {
  background-color: #BFD8FF;
}

.longbutton:hover {
  background-color: #f4f4f4;
  color: blue;
}

.linklistthumbnail {
    width: 10%;
}
.linklistitemtitle {
    flex: 100%;
    font-weight: bold;
  text-align: left;
  color: black;
  text-decoration: none;
}
.linklistitemdescription {
    flex: 50%;
    padding-left:10px;
    margin-left:10px;
    font-style:italic;
}

/* video box, youtube player */

.youtube_player_container {
  position: relative;
  width: 80%;
  padding-bottom: 46.25%;
  /* background-color: yellow; */
}
.youtube_player_frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

