{% extends 'rsshistory/base_generic.html' %}
{% load static %}
{% block content %}

<h2>Log In</h2>

<form method="post" action="?next=/{{ request.resolver_match.app_name }}">
    {% csrf_token %}
    {% for field in form %}
       <div class="form-group">
           <label for="{{field.id_for_label}}" class="col-sm-1 col-form-label">{{field.label}}</label> 
           {{field }}
       </div>
       {% if field.help_text %}
       <small id="{{field.id_for_label}}_help" class="form-text text-muted">
           {{field.help_text | safe }}
       </small>
       {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Login</button>
</form> 

{% if form.errors.items %}
<ul>
  {% for field, errors in form.errors.items %}
    {% for error in errors %}
      <li>{{ field|title }}: {{ error }}</li>
    {% endfor %}
  {% endfor %}
</ul>
{% endif %} 

Register by making e-mail request.

{% endblock %}
