<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>{{ page_title }}</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <!--date is added to stylesheet name, to force it to be reloaded-->
  {% if is_mobile %}
  <link rel="stylesheet" href="{% static 'rsshistory/css/styles-mobile.css' %}?{% now "U" %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'rsshistory/css/styles.css' %}?{% now "U" %}">
  {% endif %}
  <link rel="stylesheet" href="{% static 'rsshistory/css/bootstrap5.1.3.min.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'rsshistory/icons/rss.gif' %}"/>
</head>
<body>
	<!-- templates/registration/login.htmlx -->
	<h2>Log In</h2>
	
	<form method="post" action="?next=/{{ request.resolver_match.app_name }}">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <button type="submit">Log In</button>
	</form> 
	
	Register by making e-mail request on <a href="mailto:{{email}}">{{email}}</a>
</body>
